<div class="cust-list-flex1 layout manage-pricing-main">
  <h1 class="cust-list-subtitle layout">Pricing Plan</h1>
  <div class="cust-list-flex1-item price-card">
    <div class="cust-list-block3 layout">
      <div class="cust-list-block3-item">
        <div class="cust-list-block4 layout">
          <div class="cust-list-block4-item">
            <div class="cust-list-block5 layout">
              <div class="cust-list-block5-item">
                <div class="cust-list-block6 layout">
                  <div class="cust-list-block7 layout">
                    <div class="cust-list-block7-item">
                      <div class="cust-list-block8 layout">
                        <div class="cust-list-box7 layout">
                          <img
                            src="../../../../assets/Admin-SideNav/pricing-Icons/Total-pricing.svg"
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                    <div class="cust-list-block7-spacer"></div>
                    <div class="cust-list-block7-item1 price-card_2">
                      <div class="cust-list-block9 layout">
                        <h1 class="cust-list-hero-title layout mt_zero">
                          {{ statusData ? statusData[0].value : '' }}
                        </h1>
                        <div class="cust-list-text-body2 layout">
                          {{ statusData ? statusData[0].key : '' }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cust-list-block5-spacer"></div>
              <div class="cust-list-block5-item1">
                <div class="cust-list-image layout"></div>
              </div>
            </div>
          </div>
          <div class="cust-list-block4-spacer"></div>
          <div class="cust-list-block4-item">
            <div class="cust-list-block10 layout">
              <div class="cust-list-block10-item">
                <div class="cust-list-block11 layout">
                  <div class="cust-list-block12 layout">
                    <div class="cust-list-block12-item">
                      <div class="cust-list-block13 layout">
                        <div class="cust-list-box7 layout">
                          <img
                            src="../../../../assets/Admin-SideNav/pricing-Icons/Active-pricing.svg"
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                    <div class="cust-list-block12-spacer"></div>
                    <div class="cust-list-block12-item1">
                      <div class="cust-list-block14 layout">
                        <h1 class="cust-list-hero-title layout">
                          {{ statusData ? statusData[1].value : '' }}
                        </h1>
                        <div class="cust-list-text-body2 layout1">
                          {{ statusData ? statusData[1].key : '' }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cust-list-block10-spacer"></div>
              <div class="cust-list-block10-item1">
                <div class="cust-list-image layout1"></div>
              </div>
            </div>
          </div>
          <div class="cust-list-block4-spacer"></div>
          <div class="cust-list-block4-item1">
            <div class="cust-list-block15 layout">
              <div class="cust-list-block15-item">
                <div class="cust-list-block16 layout">
                  <div class="cust-list-block17 layout">
                    <div class="cust-list-block17-item">
                      <div class="cust-list-block18 layout">
                        <div class="cust-list-box7 layout">
                          <img
                            src="../../../../assets/Admin-SideNav/pricing-Icons/Inactive-pricing.svg"
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                    <div class="cust-list-block17-spacer"></div>
                    <div class="cust-list-block17-item1">
                      <div class="cust-list-block14 layout">
                        <h1 class="cust-list-hero-title layout">
                          {{ statusData ? statusData[2].value : '' }}
                        </h1>
                        <div class="cust-list-text-body2 layout2">
                          {{ statusData ? statusData[2].key : '' }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cust-list-block15-spacer"></div>
              <div class="cust-list-block15-item1">
                <div class="cust-list-image layout2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cust-list-flex3 layout">
    <div class="cust-list-flex3-item">
      <div class="cust-list-group layout">
        <div class="cust-list-block19 layout">
          <div class="cust-list-box9 layout">
            <img
              src="../../../../assets/Admin-SideNav/pricing-Icons/Search.svg"
              alt=""
              class="cust-list-icon layout"
            />
          </div>

          <div class="cust-list-block20 layout">
            <input
              class="cust-list-text-body21 layout"
              (keyup)="applyFilter($event)"
              placeholder="Search by price plan name"
              #input
            />
          </div>
        </div>
      </div>
    </div>
    <div class="cust-list-flex3-spacer"></div>
    <div class="cust-list-flex3-item1">
      <div class="cust-list-block23 layout" [routerLink]="['add-pricing']">
        <div class="cust-list-block23-item">
          <div class="cust-list-box10 layout">
            <img
              src="../../../../assets/Admin-SideNav/pricing-Icons/Add-Assets.svg"
              alt=""
              srcset=""
            />
          </div>
        </div>
        <div class="cust-list-block23-spacer"></div>
        <div class="cust-list-text-body4 layout">
          ADD PRICING PLAN
        </div>
      </div>
    </div>
  </div>
  <div class="layout mat-data">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <caption></caption>
      <ng-container matColumnDef="CustomerName">
        <th mat-header-cell *matHeaderCellDef>ORGANIZATION NAME</th>
        <td mat-cell *matCellDef="let element">
          {{ element.customerName }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="PricePlanName">
        <th mat-header-cell *matHeaderCellDef>PRICE PLAN NAME</th>
        <td mat-cell *matCellDef="let element">
          {{ element.pricePlanName }}
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Currency">
        <th mat-header-cell *matHeaderCellDef>
          CURRENCY
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.currencyName }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <!-- <ng-container matColumnDef="Location">
        <th mat-header-cell *matHeaderCellDef>LOCATION</th>
        <td mat-cell *matCellDef="let element">
          {{ element.location }}
        </td>
      </ng-container> -->
      <ng-container matColumnDef="ValidFrom">
        <th mat-header-cell *matHeaderCellDef>VALID FROM</th>
        <td mat-cell *matCellDef="let element">
          {{ element.validFrom | date: 'dd MMMM yyyy':userTimeZone }}
        </td>
      </ng-container>
      <ng-container matColumnDef="ValidTo">
        <th mat-header-cell *matHeaderCellDef>VALID TO</th>
        <td mat-cell *matCellDef="let element">
          {{ element.validTo | date: 'dd MMMM yyyy':userTimeZone }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Level">
        <th mat-header-cell *matHeaderCellDef>
          CONNECTOR TYPE
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.connectorType }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef>STATUS</th>
        <td mat-cell *matCellDef="let element">
          {{ element.isActive ? 'Active' : 'Inactive' }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef>ACTION</th>
        <td mat-cell *matCellDef="let element" style="cursor: pointer;">
          <img
            src="../../../../assets/Active.svg"
            title="Inactive"
            alt=""
            (click)="IsActivePricePlanById(element.id, false)"
            *ngIf="element.isActive"
          />

          <img
            src="../../../../assets/Admin-SideNav/Vehicles-Icons/Active-tik.svg"
            title="Active"
            alt=""
            (click)="IsActivePricePlanById(element.id, true)"
            *ngIf="!element.isActive"
          />

          <img
            src="../../../../assets/Admin-SideNav/pricing-Icons/View.svg"
            style="cursor: pointer;"
            alt=""
            (click)="viewPricingPlan(element)"
            title="View"
          />

          <img
            src="../../../../assets/Admin-SideNav/pricing-Icons/Edit.svg"
            alt=""
            (click)="editPricingPlan(element)"
            style="cursor: pointer;"
            title="Edit"
          />
          &nbsp;&nbsp;&nbsp;
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <ng-container *ngIf="isTableHasData">
      <p class="text-center">No record found</p>
    </ng-container>
  </div>
  <mat-paginator
    #paginator
    [hidden]="!dataSource.data.length"
    (page)="pageChange($event)"
    [length]="totalCount"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
  ></mat-paginator>
</div>
