<div class="widgets-block28 layout" [ngClass]="{'compact': compactMode}" (click)="onClick()" (keydown.enter)="onClick()" (keydown.space)="onClick()" tabindex="0"  [style.cursor]="(compactMode && clickable) ? 'pointer' : 'default'">
  <div class="widgets-block29 layout">
    <div class="widgets-block30 layout">
      <div class="widgets-block30-item">
        <div class="widgets-box6 layout3"><img src="{{ widgetIcon }}" /></div>
      </div>
      <div class="widgets-block30-spacer"></div>
      <div class="widgets-block30-item1">
        <div class="widgets-block31 layout">
          <h1 class="widgets-hero-title layout">{{ data?.count }}</h1>
          <h5 class="widgets-highlights layout3">{{ data?.type=="Active Errors" ? "Errors in Last 24 hours" : data?.type }}</h5>
        </div>
      </div>
    </div>
    

    <div class="widget widget-block layout" *ngIf="showStatusBars">
      <div class="widget-block1 layout">
        <div class="widget-block1-item">
          <div class="widget-block2 layout">
            <div class="widget-text-body layout">
              {{ (data?.statusData || [])[0]?.key }}
            </div>
            <div class="widget-block2-spacer"></div>
            <div class="widget-block2-item">
              <div
                class="widget-box layout"
                [ngStyle]="{
                  'background-color': (data?.statusData || [])[0]?.color
                }"
              ></div>
            </div>
          </div>
        </div>
        <div class="widget-block1-spacer"></div>
        <div class="widget-text-body1 layout">
          {{ (data?.statusData || [])[0]?.value }}
        </div>
      </div>
      <div class="widget-block1 layout">
        <div class="widget-block1-item">
          <div class="widget-block2 layout">
            <div class="widget-text-body layout">
              {{ (data?.statusData || [])[1]?.key }}
            </div>
            <div class="widget-block2-spacer"></div>
            <div class="widget-block2-item">
              <div
                class="widget-box layout"
                [ngStyle]="{
                  'background-color': (data?.statusData || [])[1]?.color
                }"
              ></div>
            </div>
          </div>
        </div>
        <div class="widget-block1-spacer"></div>
        <div class="widget-text-body1 layout">
          {{ (data?.statusData || [])[1]?.value }}
        </div>
      </div>
      <div class="widget-block1 layout">
        <div class="widget-block1-item">
          <div class="widget-block2 layout">
            <div class="widget-text-body layout">
              {{ (data?.statusData || [])[2]?.key }}
            </div>
            <div class="widget-block2-spacer"></div>
            <div class="widget-block2-item">
              <div
                class="widget-box layout"
                [ngStyle]="{
                  'background-color': (data?.statusData || [])[2]?.color
                }"
              ></div>
            </div>
          </div>
        </div>
        <div class="widget-block1-spacer"></div>
        <div class="widget-text-body1 layout">
          {{ (data?.statusData || [])[2]?.value }}
        </div>
      </div>
      
    </div>
  </div>
</div>


