<div class="barbar-block10 layout">
  <div class="barbar-flex layout">
    <div class="barbar-block11 layout">
      <h1 class="barbar-subtitle layout">{{ Title }}</h1>
    </div>
    <form [formGroup]="subscriptionPlanFormGroup">
      <div class="barbar-block12 layout">
        <div class="barbar-block13 layout">
          <div class="barbar-block13-item mbottom">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Organization Name
                <span style="color: 'red';">*</span>
              </h5>
              <div class="barbar-box6 layout">
                <input
                  formControlName="customerName"
                  readonly
                  [(ngModel)]="customerName"
                  [value]="customerId"
                  class="barbar-input-text"
                />
              </div>
            </div>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Subscription Plan Name
                <span style="color: 'red';">*</span>
              </h5>
              <div
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    subscriptionPlanFormGroup.get('subscriptionPlanName')
                      ?.errors && submitted == true
                }"
              >
                <input
                  formControlName="subscriptionPlanName"
                  type="text"
                  class="barbar-input-text"
                />
              </div>
              <span
                *ngIf="
                  !subscriptionPlanFormGroup.get('subscriptionPlanName')
                    ?.valid &&
                  subscriptionPlanFormGroup.get('subscriptionPlanName')
                    ?.touched &&
                  subscriptionPlanFormGroup.get('subscriptionPlanName')?.value
                    .length > 40
                "
                class="error-mess"
              >
                Subscription Plan Name should not be greater than 40
                Alphanumeric Characters
              </span>
              <span
                *ngIf="
                  !subscriptionPlanFormGroup.get('subscriptionPlanName')
                    ?.valid &&
                  subscriptionPlanFormGroup.get('subscriptionPlanName')
                    ?.touched &&
                  subscriptionPlanFormGroup.get('subscriptionPlanName')?.value
                    .length == 0
                "
                class="error-mess"
              >
                Subscription Plan Name Is Required
              </span>
            </div>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Subscription Details
              </h5>
              <div class="barbar-box6 layout">
                <input
                  formControlName="subscriptionDetails"
                  type="text"
                  class="barbar-input-text"
                />
              </div>
              <span
                *ngIf="
                  subscriptionPlanFormGroup.get('subscriptionDetails')
                    ?.touched &&
                  subscriptionPlanFormGroup.get('subscriptionDetails')?.value
                    .length > 250
                "
                class="error-mess"
              >
                Subscription Details should not be greater than 250 Alphanumeric
                characters.
              </span>
            </div>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item mbottom">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Currency Code
                <span style="color: 'red';">*</span>
              </h5>
              <mat-form-field
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    subscriptionPlanFormGroup.get('currencyCode')?.errors &&
                    submitted == true
                }"
              >
                <mat-label>Select</mat-label>
                <mat-select
                  [value]="selectedCurrency"
                  formControlName="currencyCode"
                >
                  <mat-option
                    *ngFor="let data of CurrencyList"
                    [value]="data.id"
                  >
                    {{ data.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <span
              *ngIf="
                !subscriptionPlanFormGroup.get('currencyCode')?.valid &&
                subscriptionPlanFormGroup.get('currencyCode')?.touched &&
                subscriptionPlanFormGroup.get('currencyCode')?.value.length == 0
              "
              class="error-mess"
            >
              Currency Code Is Required
            </span>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Valid From
                <span style="color: 'red';">*</span>
              </h5>
              <mat-form-field
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    subscriptionPlanFormGroup.get('validfrom')?.errors &&
                    submitted == true
                }"
              >
                <input
                  matInput
                  [matDatepicker]="picker"
                  [matDatepickerFilter]="dateFilterForStart"
                  formControlName="validfrom"
                  (dateChange)="checkStartDate()"
                  readonly
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <span
              *ngIf="
                !subscriptionPlanFormGroup.get('validfrom')?.valid &&
                subscriptionPlanFormGroup.get('validfrom')?.touched &&
                subscriptionPlanFormGroup.get('validfrom')?.value.length == 0
              "
              class="error-mess"
            >
              Valid From Is Required
            </span>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Valid To
                <span style="color: 'red';">*</span>
              </h5>
              <mat-form-field
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    subscriptionPlanFormGroup.get('validto')?.errors &&
                    submitted == true
                }"
              >
                <!-- <mat-label>Choose a date</mat-label> -->
                <input
                  matInput
                  [matDatepicker]="picker1"
                  [matDatepickerFilter]="dateFilterForEnd"
                  formControlName="validto"
                  (dateChange)="checkValidFrom()"
                  readonly
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker1"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
            <span
              *ngIf="
                !subscriptionPlanFormGroup.get('validto')?.valid &&
                subscriptionPlanFormGroup.get('validto')?.touched &&
                subscriptionPlanFormGroup.get('validto')?.value.length == 0
              "
              class="error-mess"
            >
              Valid To Is Required
            </span>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item mbottom">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Type
                <span style="color: 'red';">*</span>
              </h5>
              <mat-form-field
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    subscriptionPlanFormGroup.get('priceType')?.errors &&
                    submitted == true
                }"
              >
                <mat-label>Select</mat-label>
                <mat-select
                  [value]="selectedPriceType"
                  formControlName="priceType"
                >
                  <mat-option
                    *ngFor="let data of SubscriptionPlanList"
                    [value]="data.id"
                    (onSelectionChange)="selectType($event, data.id)"
                  >
                    {{ data.priceTypeName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <span
              *ngIf="
                !subscriptionPlanFormGroup.get('priceType')?.valid &&
                subscriptionPlanFormGroup.get('priceType')?.touched &&
                subscriptionPlanFormGroup.get('priceType')?.value.length == 0
              "
              class="error-mess"
            >
              Type Is Required
            </span>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item mbottom">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Unit
                <span style="color: 'red';">*</span>
              </h5>
              <mat-form-field
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    subscriptionPlanFormGroup.get('unit')?.errors &&
                    submitted == true
                }"
              >
                <mat-label>Select</mat-label>
                <mat-select [value]="selectedUnit" formControlName="unit">
                  <mat-option
                    *ngFor="let data of UnitList"
                    [value]="data.id"
                    (onSelectionChange)="selectUnit($event, data)"
                  >
                    {{ data.unitName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <span
              *ngIf="
                !subscriptionPlanFormGroup.get('unit')?.valid &&
                subscriptionPlanFormGroup.get('unit')?.touched &&
                subscriptionPlanFormGroup.get('unit')?.value.length == 0
              "
              class="error-mess"
            >
              Unit Is Required
            </span>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Price
                <span style="color: 'red';">*</span>
                <span *ngIf="isUnit">({{ showPriceUnitTitle }})</span>
              </h5>
              <div
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    subscriptionPlanFormGroup.get('price')?.errors &&
                    submitted == true
                }"
              >
                <input
                  formControlName="price"
                  type="text"
                  class="barbar-input-text"
                  (keypress)="numberOnly($event)"
                />
              </div>
              <span
                *ngIf="
                  !subscriptionPlanFormGroup.get('price')?.valid &&
                  subscriptionPlanFormGroup.get('price')?.touched &&
                  subscriptionPlanFormGroup.get('price')?.value.length > 10
                "
                class="error-mess"
              >
                Price Must Be Between 0 To 10 Numeric
              </span>
              <span
                *ngIf="
                  !subscriptionPlanFormGroup.get('price')?.valid &&
                  subscriptionPlanFormGroup.get('price')?.touched &&
                  subscriptionPlanFormGroup.get('price')?.value.length == 0
                "
                class="error-mess"
              >
                Price Is Required
              </span>
            </div>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item mbottom">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">Subscription Group</h5>
              <mat-form-field class="barbar-box6 layout">
                <mat-label>Select</mat-label>
                <mat-select
                  [value]="selectedSubscriptionGroup"
                  formControlName="subGroup"
                >
                  <mat-option [value]="0">
                    Please Select
                  </mat-option>
                  <mat-option
                    *ngFor="let data of SubscriptionGroupList"
                    [value]="data.id"
                  >
                    {{ data.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">Active</h5>
              <mat-checkbox
                class="example-margin"
                formControlName="isActive"
                [checked]="isChecked == true"
              ></mat-checkbox>
            </div>
          </div>
        </div>
      </div>
      <div class="barbar-flex1 layout">
        <div class="barbar-flex1-item">
          <div class="barbar-block17 layout">
            <div
              class="barbar-text-body2 layout"
              [routerLink]="['../../subscriptions-plans']"
            >
              CANCEL
            </div>
          </div>
        </div>
        <div class="barbar-flex1-spacer"></div>
        <div class="barbar-flex1-item">
          <div class="barbar-block16 layout">
            <div
              class="barbar-text-body1 layout"
              (click)="saveSubscriptionPlan()"
              *ngIf="isSaveBtn"
            >
              SAVE
            </div>
            <div
              class="barbar-text-body1 layout"
              *ngIf="isUpdateBtn"
              (click)="updateSubsccriptionPlan()"
            >
              UPDATE
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
