<!-- loader start -->
<div class="loader" *ngIf="showLoader">
  <div>
    <img
      src="../../../assets/images/myloader.gif"
      class="margin"
      width="18%"
      height="22%"
    />
  </div>
</div>
<!-- loader end -->
<div class="header-block7 layout">
  <div class="header-block8 layout">
    <div class="header-section1">
      <div class="header-block8-item">
        <div class="header-block9 layout">
          <div class="header-block9-item">
            <img
              id="900923"
              src="../../../../assets/Toggle-btn.svg"
              class="header-box2 layout"
              (click)="toggleNav()"
            />
          </div>
          <div class="header-block9-spacer"></div>
          <div class="header-block9-item1">
            <div class="header-box3 layout"></div>
          </div>
          <div class="header-block9-spacer"></div>
          <div class="header-block9-item2"></div>
        </div>
      </div>
    </div>
    <div class="header-section2">
      <div class="header-block8-spacer"></div>
      <div class="header-block8-item1">
        <div class="header-box4 layout"></div>
      </div>

      <div *ngIf="role == 'Operator'" class="txt_menu">
        <img src="../../../../assets/images/bell.png" />
        <div class="count_circle" matTooltip="{{ countByUserId }}">
          <p>{{ countByUserId }}</p>
        </div>
      </div>
      <p class="profile_txt">Hi! {{ username }}</p>

      <div class="header-block8-spacer"></div>

      <div class="header-block8-item2">
        <div class="header-box5 layout">
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
          >
            <img
              class="profile-image"
              src="{{
                profileImg ? profileImg : '../../../assets/default_image.png'
              }}"
              alt=""
            />
            <!-- <mat-icon>more_vert</mat-icon> -->
          </button>
          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              class="cursorPointer"
              [routerLink]="['user-profile']"
            >
              <mat-icon>settings</mat-icon>
              <span>Profile Settings</span>
            </button>
            <button mat-menu-item class="cursorPointer" (click)="logout()">
              <mat-icon>logout</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</div>
