 <!-- loader -->
 <div class="loader" *ngIf="showLoader">
  <div>
  <img src="../../../assets/images/myloader.gif" class="margin" width="18%" height="22%">
  </div>
  </div>

 
<div class="login login-block layout">
  <div class="login-block1 layout">
    <div class="login-block1-item bg_img_left">
      <div class="login-box layout"></div>
    </div>
    <div class="login-block1-item1">
      <div class="login-block2 layout">
        <div class="login-block2-spacer"></div>
       
        <div class="login-block2-item">
          <form [formGroup]="myLoginForm">
            <div class="login-block3 layout">
              <div class="login-block12 layout">
                <img src="../../../assets/images/logo_asset.png" />
              </div>
              <div class="login-block4 layout">
                <h1 class="login-hero-title layout">Login</h1>
              </div>
              <div class="login-box3 layout"></div>
              <!-- <div class="login-block11 layout">
                <h3 class="login-subtitle layout">
                  Systems as finely tuned as your vehicles. The ONLY fully
                  integrated fleet system available.
                </h3>
              </div> -->
              <!-- <div class="login-box4 layout"></div> -->
              <div class="login-block5 layout">
                <div class="login-block6 layout f_bar br_zero">
                  <input
                    type="email"
                    formControlName="email"
                    class="login-medium-title"
                    placeholder="email@example.com"
                  />
                  <div class="login-block6-item1">
                    <div class="">
                      <img src="../../../assets/icons/email_icon.png" alt="" />
                    </div>
                  </div>
                </div>
                <div class="login-block7 layout f_bar sed_in">
                  <input
                    *ngIf="passwordField"
                    type="Password"
                    class="login-medium-title"
                    placeholder="Password"
                    type="password"
                    formControlName="password"
                  />
                  <input
                    *ngIf="!passwordField"
                    type="text"
                    class="login-medium-title"
                    placeholder="Password"
                    formControlName="password"
                  />
                  <div class="login-block7-item1">
                    <div class="btn-cursor">
                      <img
                        src="../../../assets/icons/eye_icon.png"
                        alt=""
                        (click)="showPassword()"
                      />
                    </div>
                  </div>
                </div>
                <div class="error_msg">
                  <span
                    *ngIf="
                      !myLoginForm?.get('email')?.valid &&
                      myLoginForm?.get('email')?.touched
                    "
                  >
                    <!-- Enter Valid Email ID -->
                  </span>
                </div>
              </div>
              <div class="login-block8 layout">
                <div class="login-block9 layout">
                  <div class="login-block9-spacer"></div>
                  <div class="login-block9-item">
                    <!-- <input type="checkbox" class="login-box9 layout"/> -->
                    <label class="remember">
                      Remember me
                      <input
                        type="checkbox"
                        formControlName="rememeberMe"
                        (click)="rememberMe($event)"
                      />
                      <span class="remember_checkmark"></span>
                    </label>
                  </div>
                  <!-- <div class="login-block9-spacer1"></div>
                <input type="checkbox" class="login-medium-title11 layout"/>
                <input type="checkbox" formControlName="rememeberMe" class="login-medium-title11 layout" (click)="rememberMe($event)"/>
               <h2 class="login-medium-title11 layout">Remember Me</h2>
              -->
                </div>

                <a href="#" class="link_txt" routerLink="/forgotPassword">
                  Forgot Password?
                </a>
                <!--  <a class="login-medium-title2 layout" routerLink="/forgotPassword">Forgot Password?</a> -->
              </div>
              <!-- <div class="login-block10 layout"> -->
              <button type="submit" class="login-block10 layout">
                <div>
                  <h2 class="login-medium-title3 layout" (click)="login()">
                    Login
                  </h2>
                </div>
                <!-- <button type="submit">Login</button> -->
              </button>
              <!--  <h2 class="login-medium-title3 layout" (click)="saveForm()">Login</h2>  -->
              <!-- <button type="submit">Login</button> -->
              <!-- </div> -->
              <div class="login-block3-spacer1"></div>
            </div>
          </form>
        </div>
        <div class="login-block2-spacer"></div>
      </div>
    </div>
  </div>
</div>


