<div class="barbar-block10 layout">
  <div class="barbar-flex layout">
    <div class="barbar-block11 layout">
      <h1 class="barbar-subtitle layout">{{ title }}</h1>
    </div>
    <form [formGroup]="addAdminFormGroup">
      <div class="barbar-block12 layout">
        <div class="barbar-block13 layout">
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Username
                <span style="color: 'red';">*</span>
                (<span>No space or special characters</span>)
              </h5>
              <div
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    addAdminFormGroup.get('username')?.errors &&
                    isSubmitted == true
                }"
              >
                <input
                  formControlName="username"
                  maxlength="100"
                  type="text"
                  (keypress)="omit_special_char($event)"
                  class="barbar-input-text"
                />
              </div>
              <span
                *ngIf="
                  !addAdminFormGroup.get('username')?.valid &&
                  addAdminFormGroup.get('username')?.touched &&
                  addAdminFormGroup.get('username')?.value.length > 20
                "
                class="error-mess"
              >
                Username Must Be Between 5 To 20 Characters
              </span>
              <span
                *ngIf="
                  !addAdminFormGroup.get('username')?.valid &&
                  (addAdminFormGroup.get('username')?.touched || isSubmitted) &&
                  addAdminFormGroup.get('username')?.value.length == 0
                "
                class="error-mess"
              >
                Username Is Required
              </span>
            </div>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Email ID
                <span style="color: 'red';">*</span>
              </h5>
              <div
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    addAdminFormGroup.get('emailid')?.errors &&
                    isSubmitted == true
                }"
              >
                <input
                  formControlName="emailid"
                  type="text"
                  class="barbar-input-text"
                />
              </div>
              <span
                *ngIf="
                  !addAdminFormGroup.get('emailid')?.valid &&
                  (addAdminFormGroup.get('emailid')?.touched || isSubmitted) &&
                  addAdminFormGroup.get('emailid')?.value.length == 0
                "
                class="error-mess"
              >
                Email Id Is Required
              </span>
              <span
                *ngIf="
                  !addAdminFormGroup.get('emailid')?.valid &&
                  addAdminFormGroup.get('emailid')?.touched &&
                  addAdminFormGroup.get('emailid')?.value.length > 0
                "
                class="error-mess"
              >
                Please Enter Valid Email Id
              </span>
            </div>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Phone Number
                <span style="color: 'red';">*</span>
              </h5>
              <div
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    addAdminFormGroup.get('phoneNumber')?.errors &&
                    isSubmitted == true
                }"
              >
                <input
                  formControlName="phoneNumber"
                  type="text"
                  maxlength="14"
                  (keypress)="phoneNumber($event); numberOnly($event)"
                  [(ngModel)]="telephoneNumber"
                  class="barbar-input-text"
                />
              </div>
              <span
                *ngIf="
                  !addAdminFormGroup.get('phoneNumber')?.valid &&
                  addAdminFormGroup.get('phoneNumber')?.touched &&
                  addAdminFormGroup.get('phoneNumber')?.value.length > 0
                "
                class="error-mess"
              >
                Phone Number Must Be 10 digits
              </span>
              <span
                *ngIf="
                  !addAdminFormGroup.get('phoneNumber')?.valid &&
                  (addAdminFormGroup.get('phoneNumber')?.touched ||
                    isSubmitted) &&
                  addAdminFormGroup.get('phoneNumber')?.value.length == 0
                "
                class="error-mess"
              >
                Phone Number Is Required
              </span>
            </div>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Organization Name
                <span style="color: 'red';">*</span>
              </h5>
              <div class="barbar-box6 layout">
                <input
                  formControlName="organizationName"
                  readonly
                  [(ngModel)]="customerName"
                  [value]="customerId"
                  class="barbar-input-text"
                />
              </div>
            </div>
            <span
              *ngIf="
                (addAdminFormGroup.get('organizationName')?.touched ||
                  isSubmitted) &&
                addAdminFormGroup.get('organizationName')?.value == '0'
              "
              class="error-mess"
            >
              organization Name Is Required
            </span>
          </div>
        </div>
      </div>

      <div class="barbar-block12 layout">
        <h4 class="barbar-highlights1 layout">Location</h4>
        <div class="barbar-block13 layout">
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Address Line1                
              </h5>
              <div class="barbar-box6 layout"
              [ngClass]="{
                'is-invalid':
                  addAdminFormGroup.get('addressLine1')?.errors &&
                  isSubmitted == true
              }"
              >
                <input
                  formControlName="addressLine1"
                  type="text"
                  class="barbar-input-text"
                />
              </div>
              <span
                *ngIf="
                  !addAdminFormGroup.get('addressLine1')?.valid &&
                  addAdminFormGroup.get('addressLine1')?.touched &&
                  addAdminFormGroup.get('addressLine1')?.value.length > 255
                "
                class="error-mess"
              >
                Address Line1 Must Not Exceed More Than 255 Characters
              </span>
              
            </div>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">Address Line2</h5>
              <div class="barbar-box6 layout">
                <input
                  formControlName="addressLine2"
                  type="text"
                  class="barbar-input-text"
                />
              </div>
              <span
                *ngIf="
                  !addAdminFormGroup.get('addressLine2')?.valid &&
                  addAdminFormGroup.get('addressLine2')?.touched &&
                  addAdminFormGroup.get('addressLine2')?.value.length > 255 &&
                  addAdminFormGroup.get('addressLine2')?.value.length != 0
                "
                class="error-mess"
              >
                Address Line2 Must Not Exceed More Than 255 Characters
              </span>
            </div>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Country
               
              </h5>
              <mat-form-field
                class="barbar-box6 layout"
                
              >
                <mat-select
                  formControlName="country"
                  (selectionChange)="getSelect($event, 'state')"
                >
                  <mat-option value="{{ selectValue }}">Select</mat-option>
                  <mat-option *ngFor="let c of countryList" value="{{ c.id }}">
                    {{ c.countryName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              
            </div>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                State/Province
              </h5>

              <mat-form-field
                class="barbar-box6 layout"
                
              >
                <mat-select
                  formControlName="state"
                  (selectionChange)="getSelect($event, 'city')"
                >
                  <mat-option value="{{ selectValue }}">Select</mat-option>
                  <mat-option *ngFor="let c of stateList" value="{{ c.id }}">
                    {{ c.stateName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              
            </div>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                City
              </h5>
              <div
                class="barbar-box6 layout"
                
              >
                <input
                  formControlName="cityName"
                  type="text"
                  class="barbar-input-text"
                  (keypress)="omit_special_char($event)"
                />
              </div>

            </div>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Zip Code
              </h5>
              <div
                class="barbar-box6 layout"
                
              >
                <input
                  formControlName="zipcode"
                  type="text"
                  maxlength="9"
                  minlength="0"
                  class="barbar-input-text"
                />
              </div>

              
            </div>
          </div>
        </div>
      </div>
      
      <div class="barbar-flex1 layout">
        <div class="barbar-flex1-item">
          <div class="barbar-block17 layout">
           <button
              type="button"
              class="barbar-text-body2 layout"
              routerLink="../../admin-users"
              aria-label="Cancel and go back to admin users"
            >
              Cancel
          </button>
          </div>
        </div>
        <div class="barbar-flex1-spacer"></div>
        <div class="barbar-flex1-item">
          <div class="barbar-block16 layout">
          <button
            *ngIf="saveBtnValue"
            class="barbar-text-body1 layout"
            (click)="addUpdateAdmins()">
            SAVE
          </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
