<div class="location location-block layout">
  <div class="location-block1 layout">
    <div class="location-flex layout">
      <h3 class="location-subtitle-box layout">
        <pre class="location-subtitle">Location A </pre>
      </h3>

      <div class="location-block23 layout">
        <div class="location-block23-item">
          <!-- start here  -->
          <div class="location-block2 layout">
            <div class="location-block2-item">
              <div class="location-block4 layout">
                <div class="location-block4-item">
                  <div class="location-block5 layout">
                    <a [routerLink]="['../analytics']">
                      <div class="location-text-body layout">ANALYTICS</div>
                    </a>
                  </div>
                </div>
                <div class="location-block4-item">
                  <div class="location-block6 layout">
                    <a [routerLink]="['../location-info']">
                      <div class="location-text-body layout">
                        LOCATION INFORMATION
                      </div>
                    </a>
                  </div>
                </div>
                <div class="location-block4-item">
                  <div class="location-block5 layout">
                    <a [routerLink]="['../location-chargers']">
                      <div class="location-text-body layout">
                        LOCATION CHARGERS
                      </div>
                    </a>
                  </div>
                </div>
                <!-- <div class="location-block4-item">
              <div class="location-block5 layout">
                <div class="location-text-body layout">EVENT LOGS</div>
              </div>
            </div> -->
              </div>
            </div>
            <div class="location-block2-spacer"></div>
            <div class="location-block2-item1">
              <div class="location-block3 layout">
                <div class="location-box3 layout">
                  <img
                    src="../../../../../assets/location-info/header-icon.png"
                    alt=""
                    srcset=""
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="location-block18 layout">
            <div class="location-flex1 layout">
              <div class="location-block14 layout">
                <div class="location-flex2 layout">
                  <div class="location-flex2-item">
                    <div class="location-text-body2 layout">
                      BASIC INFORMATION
                    </div>
                  </div>
                  <div class="location-flex2-spacer"></div>
                  <div class="location-flex2-item1">
                    <div class="location-box7 layout"></div>
                  </div>
                </div>
              </div>
              <div class="location-block19 layout">
                <div class="location-flex3 layout">

                  <!-- <div class="location-flex3-spacer"></div>
                  <div style="width:100%">
                    <div style="width:50%;float:left;"></div>
                    <div style="width:50%;float:right;">
                      <h5 class="location-highlights layout headingtitle" style="width:99.53%">Location On Map</h5>
                    </div>
                  </div> -->

                  <div class="location-flex3-item">
                    <div class="location-block20 layout">
                      <div class="location-block20-item">
                        <div class="location-block21 layout">
                          <div class="location-block21-item">
                            <div class="location-flex4 layout">
                              <div class="location-box11 layout">
                                <img
                                  src="../../../../../assets/location-info/persion-icon.png"
                                  alt=""
                                  srcset=""
                                />
                              </div>
                              <div class="location-block22 layout">
                                <h5 class="location-highlights1 layout">
                                  John
                                </h5>
                                <div class="location-text-body3 layout">
                                  Contact Person Name
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="location-block21-spacer"></div>
                          <div class="location-block21-item1">
                            <div
                              style="
                                --src: url(/assets/2a45e807e92cb6812178b568e776e532.png);
                              "
                              class="location-image layout"
                            ></div>
                          </div>
                        </div>
                        <!-- <div style="width:4px; background-color:black; height:100%"></div> -->
                      </div>
                      <div class="location-block20-spacer"></div>
                      <div class="location-block20-item">
                        <div class="location-block21 layout">
                          <div class="location-block21-item">
                            <div class="location-flex5 layout">
                              <div class="location-box11 layout">
                                <img
                                  src="../../../../../assets/location-info/contact-icon.png"
                                  alt=""
                                  srcset=""
                                />
                              </div>
                              <div class="location-block22 layout">
                                <h5 class="location-highlights2 layout txt_wrap">
                                  999-000-3440
                                </h5>
                                <div class="location-text-body3 layout txt_wrap">
                                  Contact Person
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="location-block21-spacer"></div>
                          <div class="location-block21-item2">
                            <div
                              style="
                                --src: url(/assets/2a45e807e92cb6812178b568e776e532.png);
                              "
                              class="location-image layout"
                            ></div>
                          </div>
                        </div>
                      </div>
                      <div class="location-block20-spacer"></div>
                      <div class="location-block20-item">
                        <div class="location-block21 layout">
                          <div class="location-block21-item">
                            <div class="location-flex6 layout">
                              <div class="location-box11 layout">
                                <img
                                  src="../../../../../assets/location-info/mail-icon.png"
                                  alt=""
                                  srcset=""
                                />
                              </div>
                              <div class="location-block22 layout">
                                <h5 class="location-highlights3 layout">
                                  JOHN@GMAIL.COM
                                </h5>
                                <div class="location-text-body3 layout">
                                  Email ID
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="location-block21-spacer"></div>
                          <div class="location-block21-item3">
                            <div
                              style="
                                --src: url(/assets/2a45e807e92cb6812178b568e776e532.png);
                              "
                              class="location-image layout"
                            ></div>
                          </div>
                        </div>
                      </div>
                      <div class="location-block20-spacer"></div>
                      <div  style="display:flex; flex-direction: column; flex: 3 1 30%; width: 30%;">
                        <div >
                          <h5 class="location-highlights layout headingtitle" style="width:100%; margin-bottom: 8px;">Location On Map</h5>
                        </div>
                      <img
                      style="width:100%; height:100%;"


                        src="../../../../../assets/location-info/map.png"
                        alt=""
                        srcset=""
                      />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="location-block7 layout">
            <div class="location-flex7 layout">
              <div class="location-block14 layout">
                <div class="location-flex2 layout">
                  <div class="location-flex2-item">
                    <div class="location-text-body2 layout">
                      SITES AVAILABILITY
                    </div>
                  </div>
                  <div class="location-flex2-spacer"></div>
                  <div class="location-flex2-item2">
                    <div class="location-box7 layout"></div>
                  </div>
                </div>
              </div>
              <div class="location-block8 layout">
                <div class="location-flex9 layout">
                  <div class="location-flex9-item">
                    <div class="location-flex10 layout">
                      <div class="location-block9 layout">
                        <div class="location-text-body1 layout">MONDAY</div>
                        <div class="location-block10 layout">
                          <div class="location-block10-item">
                            <div class="location-block11 layout">
                              <div class="location-text-body1 layout1">7AM</div>
                            </div>
                          </div>
                          <div class="location-block10-item1">
                            <div class="location-block12 layout">
                              <div class="location-text-body1 layout2">to</div>
                            </div>
                          </div>
                          <div class="location-block10-item2">
                            <div class="location-block13 layout">
                              <div class="location-text-body1 layout3">8PM</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="location-block9 layout1">
                        <div class="location-text-body1 layout">FRIDAY</div>
                        <div class="location-block10 layout">
                          <div class="location-block10-item">
                            <div class="location-block11 layout">
                              <div class="location-text-body1 layout4">7AM</div>
                            </div>
                          </div>
                          <div class="location-block10-item3">
                            <div class="location-block12 layout">
                              <div class="location-text-body1 layout5">to</div>
                            </div>
                          </div>
                          <div class="location-block10-item4">
                            <div class="location-block13 layout">
                              <div class="location-text-body1 layout6">8PM</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="location-flex9-spacer"></div>
                  <div class="location-flex9-item">
                    <div class="location-flex10 layout">
                      <div class="location-block9 layout">
                        <div class="location-text-body1 layout">TUESDAY</div>
                        <div class="location-block10 layout">
                          <div class="location-block10-item">
                            <div class="location-block11 layout">
                              <div class="location-text-body1 layout7">7AM</div>
                            </div>
                          </div>
                          <div class="location-block10-item5">
                            <div class="location-block12 layout">
                              <div class="location-text-body1 layout8">to</div>
                            </div>
                          </div>
                          <div class="location-block10-item6">
                            <div class="location-block13 layout">
                              <div class="location-text-body1 layout9">8PM</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="location-block9 layout2">
                        <div class="location-text-body1 layout">SATURDAY</div>
                        <div class="location-block10 layout">
                          <div class="location-block10-item">
                            <div class="location-block11 layout">
                              <div class="location-text-body1 layout10">
                                7AM
                              </div>
                            </div>
                          </div>
                          <div class="location-block10-item7">
                            <div class="location-block12 layout">
                              <div class="location-text-body1 layout11">to</div>
                            </div>
                          </div>
                          <div class="location-block10-item8">
                            <div class="location-block13 layout">
                              <div class="location-text-body1 layout12">
                                8PM
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="location-flex9-spacer1"></div>
                  <div class="location-flex9-item">
                    <div class="location-flex10 layout">
                      <div class="location-block9 layout">
                        <div class="location-text-body1 layout">WEDNESDAY</div>
                        <div class="location-block10 layout">
                          <div class="location-block10-item">
                            <div class="location-block11 layout">
                              <div class="location-text-body1 layout13">
                                7AM
                              </div>
                            </div>
                          </div>
                          <div class="location-block10-item9">
                            <div class="location-block12 layout">
                              <div class="location-text-body1 layout14">to</div>
                            </div>
                          </div>
                          <div class="location-block10-item10">
                            <div class="location-block13 layout">
                              <div class="location-text-body1 layout15">
                                8PM
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="location-block9 layout3">
                        <div class="location-text-body1 layout">SUNDAY</div>
                        <div class="location-block10 layout">
                          <div class="location-block10-item">
                            <div class="location-block11 layout">
                              <div class="location-text-body1 layout16">
                                CLOSED
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="location-flex9-spacer2"></div>
                  <div class="location-flex9-item">
                    <div class="location-flex10 layout">
                      <div class="location-block9 layout">
                        <div class="location-text-body1 layout">THURSDAY</div>
                        <div class="location-block10 layout">
                          <div class="location-block10-item">
                            <div class="location-block11 layout">
                              <div class="location-text-body1 layout19">
                                7AM
                              </div>
                            </div>
                          </div>
                          <div class="location-block10-item13">
                            <div class="location-block12 layout">
                              <div class="location-text-body1 layout20">to</div>
                            </div>
                          </div>
                          <div class="location-block10-item14">
                            <div class="location-block13 layout">
                              <div class="location-text-body1 layout21">
                                8PM
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="location-flex9-spacer3"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="location-block15 layout">
            <div class="location-flex14 layout">
              <div class="location-block17 layout">
                <div class="location-flex15 layout">
                  <div class="location-flex15-item">
                    <div class="location-text-body2 layout1 text-uppercase">
                      Department Information
                    </div>
                  </div>
                  <div class="location-flex15-spacer"></div>
                  <div class="location-flex15-item1">
                    <hr class="location-line layout" />
                  </div>
                </div>
              </div>
              <div class="location-block16 layout">
                <div class="fill-block4 layout">
                  <div class="fill-block5 layout">
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">Name</div>
                          <h5 class="fill-highlights layout">JOHN</h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">Address</div>
                          <h5 class="fill-highlights layout">NEW YORK CITY</h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Location Name
                          </div>
                          <h5 class="fill-highlights layout">NEW YORK CITY</h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Fuel Product Type
                          </div>
                          <h5 class="fill-highlights layout">NUCLEAR</h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="location-block3-spacer"></div>
            <div class="location-block3-item1"></div>
          </div>

          <div class="location-block15 layout">
            <div class="location-flex14 layout">
              <div class="location-block17 layout">
                <div class="location-flex15 layout">
                  <div class="location-flex15-item">
                    <div class="location-text-body2 layout1 text-uppercase">
                      REFERENCE INFORMATION
                    </div>
                  </div>
                  <div class="location-flex15-spacer"></div>
                  <div class="location-flex15-item1">
                    <hr class="location-line layout" />
                  </div>
                </div>
              </div>
              <div class="location-block16 layout">
                <div class="fill-block4 layout">
                  <div class="fill-block5 layout">
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Total Capacity
                          </div>
                          <h5 class="fill-highlights layout">100 KW</h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Utility Service
                          </div>
                          <h5 class="fill-highlights layout">XYZ</h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                    <!-- <div class="fill-block5-spacer"></div>
                  <div class="fill-block5-item">
                  <div class="fill-group layout">
                    <div class="fill-block6 layout">
                      <div class="fill-text-body1 layout">Location Name
                      </div>
                      <h5 class="fill-highlights layout">NEW YORK CITY</h5>
                    </div>
                    <div style="--src:url(/assets/6f9f170d72615beea8e11bdd988574dc.png)" class="fill-image layout"></div>
                  </div>
                </div> -->
                    <!-- <div class="fill-block5-spacer"></div>
                  <div class="fill-block5-item">
                  <div class="fill-group layout">
                    <div class="fill-block6 layout">
                      <div class="fill-text-body1 layout">Fuel Product Type</div>
                      <h5 class="fill-highlights layout">NUCLEAR</h5>
                    </div>
                    <div style="--src:url(/assets/6f9f170d72615beea8e11bdd988574dc.png)" class="fill-image layout"></div>
                  </div>
                </div>
                 -->
                  </div>
                </div>
              </div>
            </div>

            <div class="location-block3-spacer"></div>
            <div class="location-block3-item1"></div>
          </div>

          <!-- end here -->
        </div>

        <div class="location-block23-spacer"></div>

        <div class="location-block23-item1">
          <div class="statuspanel-block43 layout">
            <div class="statuspanel-block46 layout">
              <div class="statuspanel-block47 layout">
                <!-- status box start -->
                <div class="statuspanel-block45 layout1">
                  <div class="statuspanel-block45-item">
                    <div class="statuspanel-group layout2">
                      <h4 class="statuspanel-highlights2 layout">
                        Charging Infrastructure
                      </h4>
                    </div>
                  </div>
                  <div class="statuspanel-block45-spacer1"></div>
                  <div class="statuspanel-block45-item2">
                    <img
                      src="../../../../../assets/locationcharger-icon/charging-infa.svg"
                      class="statuspanel-box16 layout"
                      alt=""
                    />
                  </div>
                </div>

                <!-- status box end -->
                <div class="list-element-block2 layout">
                  <div class="list-element-block6 layout">
                    <div class="list-element-block3 layout">
                      <div class="list-element-block3-item">
                        <div class="list-element-block4 layout">
                          <img
                            src="../../../../../assets/status-panel-icon/chargers.png"
                            class="list-element-box3 layout"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="list-element-block3-spacer"></div>
                      <div class="list-element-block3-item1">
                        <div class="list-element-block5 layout">
                          <h3 class="list-element-subtitle layout">
                            250
                          </h3>
                          <div class="list-element-text-body layout">
                            Total Chargers
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- status box element start -->

                <!-- <div class="box-element-block2 layout">
                  <div class="box-element-block5 layout">
                    <img
                      src="../../../../../assets/status-panel-icon/sites.png"
                      class="box-element-box2 layout"
                    />
                    <div class="box-element-block6 layout">
                      <h3 class="box-element-subtitle layout">50</h3>
                      <div class="box-element-text-body layout">
                        Total Sites
                      </div>
                    </div>
                  </div>
                  <div class="box-element-block2-spacer dotted_line">
                    <hr />
                  </div>
                  <div class="box-element-block5 layout1">
                    <img
                      src="../../../../../assets/status-panel-icon/chargers.png"
                      class="box-element-box2 layout"
                    />
                    <div class="box-element-block6 layout">
                      <h3 class="box-element-subtitle layout">250</h3>
                      <div class="box-element-text-body layout">
                        Total Chargers
                      </div>
                    </div>
                  </div>
                </div> -->

                <!-- status box element end -->
              </div>
            </div>

            <div class="statuspanel-block46 layout">
              <div class="statuspanel-block47 layout">
                <!-- status box start -->
                <div class="statuspanel-block45 layout1">
                  <div class="statuspanel-block45-item">
                    <div class="statuspanel-group layout2">
                      <h4 class="statuspanel-highlights2 layout">
                        Revenue From Public Charging
                      </h4>
                    </div>
                  </div>
                  <div class="statuspanel-block45-spacer1"></div>
                  <div class="statuspanel-block45-item2">
                    <img
                      src="../../../../../assets/status-panel-icon/revenue.png"
                      class="statuspanel-box16 layout"
                      alt=""
                    />
                  </div>
                </div>
                <!-- status box end -->

                <!-- insert chart -->

                <div echarts [options]="option" class="echart-item"></div>

                <!-- insert chart end -->
              </div>
            </div>

            <div class="statuspanel-block46 layout">
              <div class="statuspanel-block47 layout">
                <div class="statuspanel-block45 layout1">
                  <div class="statuspanel-block45-item">
                    <div class="statuspanel-group layout2">
                      <h4 class="statuspanel-highlights2 layout">
                        Energy Used
                      </h4>
                    </div>
                  </div>
                  <div class="statuspanel-block45-spacer1"></div>
                  <div class="statuspanel-block45-item2">
                    <img
                      src="../../../../../assets/status-panel-icon/energy_used.png"
                      class="statuspanel-box16 layout"
                      alt=""
                    />
                  </div>
                </div>

                <!-- add the content here -->

                <!-- list start  -->

                <div class="list-element-block2 layout">
                  <div class="list-element-block6 layout">
                    <div class="list-element-block3 layout">
                      <div class="list-element-block3-item">
                        <div class="list-element-block4 layout">
                          <img
                            src="../../../../../assets/status-panel-icon/total-energy.png"
                            class="list-element-box3 layout"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="list-element-block3-spacer"></div>
                      <div class="list-element-block3-item1">
                        <div class="list-element-block5 layout">
                          <h3 class="list-element-subtitle layout">
                            408.14
                          </h3>
                          <div class="list-element-text-body layout">
                            Total Energy
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- <hr> -->
                    <div class="list-element-block3 layout">
                      <div class="list-element-block3-item">
                        <div class="list-element-block4 layout">
                          <img
                            src="../../../../../assets/status-panel-icon/daily_average.png"
                            class="list-element-box3 layout"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="list-element-block3-spacer"></div>
                      <div class="list-element-block3-item1">
                        <div class="list-element-block5 layout">
                          <h3 class="list-element-subtitle layout">
                            412.14
                          </h3>
                          <div class="list-element-text-body layout">
                            Total Energy
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="list-element-block3 layout">
                      <div class="list-element-block3-item">
                        <div class="list-element-block4 layout">
                          <img
                            src="../../../../../assets/status-panel-icon/calender.png"
                            class="list-element-box3 layout"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="list-element-block3-spacer"></div>
                      <div class="list-element-block3-item1">
                        <div class="list-element-block5 layout">
                          <h3 class="list-element-subtitle layout">
                            990.71
                          </h3>
                          <div class="list-element-text-body layout">
                            Today's
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- list end  -->
              </div>
            </div>

            <div class="statuspanel-block46 layout">
              <div class="statuspanel-block47 layout">
                <!-- status box start -->
                <div class="statuspanel-block45 layout1">
                  <div class="statuspanel-block45-item">
                    <div class="statuspanel-group layout2">
                      <h4 class="statuspanel-highlights2 layout">
                        Energy Points
                      </h4>
                    </div>
                  </div>
                  <div class="statuspanel-block45-spacer1"></div>
                  <div class="statuspanel-block45-item2">
                    <img
                      src="../../../../../assets/status-panel-icon/energy_points.png"
                      class="statuspanel-box16 layout"
                      alt=""
                    />
                  </div>
                </div>
                <!-- status box end -->

                <!-- status box element start -->

                <div class="box-element-block2 layout">
                  <div class="box-element-block5 layout">
                    <img
                      src="../../../../../assets/status-panel-icon/sites.png"
                      class="box-element-box2 layout"
                    />
                    <div class="box-element-block6 layout">
                      <h3 class="box-element-subtitle layout">19,408.07</h3>
                      <div class="box-element-text-body layout">
                        MT of CO2 Saved
                      </div>
                    </div>
                  </div>
                  <div class="box-element-block2-spacer dotted_line">
                    <hr />
                  </div>
                  <div class="box-element-block5 layout1">
                    <img
                      src="../../../../../assets/status-panel-icon/chargers.png"
                      class="box-element-box2 layout"
                    />
                    <div class="box-element-block6 layout">
                      <h3 class="box-element-subtitle layout">990.71</h3>
                      <div class="box-element-text-body layout">
                        Gasoline Gallon Equivalent (GGE Saved)
                      </div>
                    </div>
                  </div>
                </div>
                <!-- status box element end -->
              </div>
            </div>

            <!-- <app-status-box
          [title]="statusBoxTitle1"
          [icon]="statusBoxIcon1"
        ></app-status-box>

        <app-status-box-graph
          [title]="statusBoxTitle2"
          [icon]="statusBoxIcon2"
        ></app-status-box-graph>
        <app-status-box-energy [title]="statusBoxTitle3"></app-status-box-energy>


        <app-status-box-points
          [title]="statusBoxTitle4"
          [icon]="statusBoxIcon4"
        ></app-status-box-points> -->
          </div>
          <!-- <app-status-panel></app-status-panel> -->
        </div>
      </div>
    </div>
  </div>
</div>
