<div class="location location-block layout location-info">
  <div class="location-block1 layout">
    <div class="location-flex layout">
      <h3 class="location-subtitle-box layout">
        <pre class="location-subtitle">{{ locationTitleName }} </pre>
      </h3>

      <div class="location-block23 layout">
        <div class="location-block23-item">
          <!-- start here  -->
          <div class="location-block2 layout">
            <div class="location-block2-item">
              <div class="location-block4 layout">
                <div class="location-block4-item">
                  <div class="location-block5 layout">
                    <a [routerLink]="['../analytics']">
                      <div class="location-text-body layout">ANALYTICS</div>
                    </a>
                  </div>
                </div>
                <div class="location-block4-item">
                  <div class="location-block6 layout">
                    <a [routerLink]="['../location-info']">
                      <div class="location-text-body layout">
                        LOCATION INFORMATION
                      </div>
                    </a>
                  </div>
                </div>
                <div class="location-block4-item">
                  <div class="location-block5 layout">
                    <a [routerLink]="['../location-chargers']">
                      <div class="location-text-body layout">
                        LOCATION CHARGERS
                      </div>
                    </a>
                  </div>
                </div>
                <div class="location-block4-item">
                  <div class="location-block5 layout">
                    <a [routerLink]="['../events-log']">
                      <div class="location-text-body layout">
                        EVENT LOGS
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="location-block2-spacer"></div>
            <div class="location-block2-item1">
              <div class="location-block3 layout">
                <div class="location-box3 layout">
                  <img
                    src="../../../../../assets/location-info/header-icon.png"
                    alt=""
                    srcset=""
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="location-block18 layout">
            <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header style="height: 50px;">
                  <mat-panel-title>
                    BASIC INFORMATION
                  </mat-panel-title>
                  <!-- <mat-panel-description>
                    This is a summary of the content
                  </mat-panel-description> -->
                </mat-expansion-panel-header>
                <div class="location-block19 layout">
                  <div class="location-flex3 layout">
                    <!-- <div class="location-flex3-spacer"></div>
                      <div style="width:100%">
                        <div style="width:50%;float:left;"></div>
                        <div style="width:50%;float:right;">
                          <h5 class="location-highlights layout headingtitle" style="width:99.53%">Location On Map</h5>
                        </div>
                      </div> -->

                    <div class="location-flex3-item">
                      <div class="location-block20 layout">
                        <div class="location-block20-item">
                          <div class="location-block21 layout">
                            <div class="location-block21-item">
                              <div class="location-flex4 layout">
                                <div class="location-box11 layout">
                                  <img
                                    src="../../../../../assets/location-info/persion-icon.png"
                                    alt=""
                                    srcset=""
                                  />
                                </div>
                                <div class="location-block22 layout">
                                  <h5 class="location-highlights1 layout">
                                    {{ contactPersonName }}
                                  </h5>
                                  <div class="location-text-body3 layout">
                                    Contact Person Name
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="location-block21-spacer"></div>
                            <div class="location-block21-item1">
                              <div
                                style="
                                  --src: url(/assets/2a45e807e92cb6812178b568e776e532.png);
                                "
                                class="location-image layout"
                              ></div>
                            </div>
                          </div>
                          <!-- <div style="width:4px; background-color:black; height:100%"></div> -->
                        </div>
                        <div class="location-block20-spacer"></div>
                        <div class="location-block20-item">
                          <div class="location-block21 layout">
                            <div class="location-block21-item">
                              <div class="location-flex5 layout">
                                <div class="location-box11 layout">
                                  <img
                                    src="../../../../../assets/location-info/contact-icon.png"
                                    alt=""
                                    srcset=""
                                  />
                                </div>
                                <div class="location-block22 layout">
                                  <h5
                                    class="location-highlights2 layout txt_wrap"
                                  >
                                    {{ contactPersonNumber }}
                                  </h5>
                                  <div
                                    class="location-text-body3 layout txt_wrap"
                                  >
                                    Contact Person
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="location-block21-spacer"></div>
                            <div class="location-block21-item2">
                              <div
                                style="
                                  --src: url(/assets/2a45e807e92cb6812178b568e776e532.png);
                                "
                                class="location-image layout"
                              ></div>
                            </div>
                          </div>
                        </div>
                        <div class="location-block20-spacer"></div>
                        <div class="location-block20-item">
                          <div class="location-block21 layout">
                            <div class="location-block21-item">
                              <div class="location-flex6 layout">
                                <div class="location-box11 layout">
                                  <img
                                    src="../../../../../assets/location-info/mail-icon.png"
                                    alt=""
                                    srcset=""
                                  />
                                </div>
                                <div class="location-block22 layout">
                                  <h5 class="location-highlights3 layout">
                                    {{ emailId }}
                                  </h5>
                                  <div class="location-text-body3 layout">
                                    Email ID
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="location-block21-spacer"></div>
                            <div class="location-block21-item3">
                              <div
                                style="
                                  --src: url(/assets/2a45e807e92cb6812178b568e776e532.png);
                                "
                                class="location-image layout"
                              ></div>
                            </div>
                          </div>
                        </div>
                        <div class="location-block20-spacer"></div>
                        <div
                          style="
                            display: flex;
                            flex-direction: column;
                            flex: 3 1 30%;
                            width: 30%;
                          "
                        >
                          <div>
                            <h5
                              class="location-highlights layout headingtitle"
                              style="width: 100%; margin-bottom: 8px;"
                            >
                              Location On Map
                            </h5>
                          </div>
                          <!-- <img
                              style="width: 100%; height: 100%;"
                              src="../../../../../assets/location-info/map.png"
                              alt=""
                              srcset=""
                            /> -->
                          <div
                            id="map"
                            style="width: 100%; height: 100%;"
                          ></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>

          <div class="location-block15 layout">
            <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header style="height: 50px;">
                  <mat-panel-title>
                    SITES AVAILABILITY
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="location-block8 layout">
                  <div class="location-flex9 layout location-loop">
                    <div
                      class="location-block9 layout loction-week"
                      *ngFor="let item of locationSchedule"
                    >
                      <div class="location-text-body1 layout text-uppercase">
                        {{ item.day }}
                      </div>
                      <div
                        class="location-block10 layout"
                        *ngIf="item.day != 'Sunday'"
                      >
                        <div class="location-block10-item">
                          <div class="location-block11 layout">
                            <div class="location-text-body1 layout1">
                              {{ item.startTime }}
                            </div>
                          </div>
                        </div>
                        <div class="location-block10-item">
                          <div class="location-block12 layout">
                            <div class="location-text-body1 layout2">to</div>
                          </div>
                        </div>
                        <div class="location-block10-item">
                          <div class="location-block13 layout">
                            <div class="location-text-body1 layout3">
                              {{ item.endTime }}
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="location-block10 layout"
                        *ngIf="item.day == 'Sunday'"
                      >
                        <div class="location-block10-item">
                          <div class="location-block11 layout">
                            <div class="location-text-body1 layout1">
                              CLOSED
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div class="location-block7 layout">
            <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header style="height: 50px;">
                  <mat-panel-title class="text-uppercase">
                    Department Information
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="location-block16 layout">
                  <div class="fill-block4 layout">
                    <div class="fill-block5 layout">
                      <div class="fill-block5-item">
                        <div class="fill-group layout">
                          <div class="fill-block6 layout">
                            <div class="fill-text-body1 layout">Name</div>
                            <h5 class="fill-highlights layout">
                              {{ departmentName }}
                            </h5>
                          </div>
                          <div
                            style="
                              --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                            "
                            class="fill-image layout"
                          ></div>
                        </div>
                      </div>
                      <div class="fill-block5-spacer"></div>
                      <div class="fill-block5-item">
                        <div class="fill-group layout">
                          <div class="fill-block6 layout">
                            <div class="fill-text-body1 layout">Address</div>
                            <h5 class="fill-highlights layout">
                              {{ address }}
                            </h5>
                          </div>
                          <div
                            style="
                              --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                            "
                            class="fill-image layout"
                          ></div>
                        </div>
                      </div>
                      <div class="fill-block5-spacer"></div>
                      <div class="fill-block5-item">
                        <div class="fill-group layout">
                          <div class="fill-block6 layout">
                            <div class="fill-text-body1 layout">
                              Location Name
                            </div>
                            <h5 class="fill-highlights layout">
                              {{ locationName }}
                            </h5>
                          </div>
                          <div
                            style="
                              --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                            "
                            class="fill-image layout"
                          ></div>
                        </div>
                      </div>
                      <div class="fill-block5-spacer"></div>
                      <div class="fill-block5-item">
                        <div class="fill-group layout">
                          <div class="fill-block6 layout">
                            <div class="fill-text-body1 layout">
                              Fuel Product Type
                            </div>
                            <h5 class="fill-highlights layout">
                              {{ fuelProtectType }}
                            </h5>
                          </div>
                          <div
                            style="
                              --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                            "
                            class="fill-image layout"
                          ></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>

          <div class="location-block15 layout">
            <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header style="height: 50px;">
                  <mat-panel-title class="text-uppercase">
                    REFERENCE INFORMATION
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="location-block16 layout">
                  <div class="fill-block4 layout">
                    <div class="fill-block5 layout">
                      <div class="fill-block5-item">
                        <div class="fill-group layout">
                          <div class="fill-block6 layout">
                            <div class="fill-text-body1 layout">
                              Total Capacity
                            </div>
                            <h5 class="fill-highlights layout">
                              {{ totalCapacity }}
                            </h5>
                          </div>
                          <div
                            style="
                              --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                            "
                            class="fill-image layout"
                          ></div>
                        </div>
                      </div>
                      <div class="fill-block5-spacer"></div>
                      <div class="fill-block5-item">
                        <div class="fill-group layout">
                          <div class="fill-block6 layout">
                            <div class="fill-text-body1 layout">
                              Utility Service
                            </div>
                            <h5 class="fill-highlights layout">
                              {{ utilityService }}
                            </h5>
                          </div>
                          <div
                            style="
                              --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                            "
                            class="fill-image layout"
                          ></div>
                        </div>
                      </div>
                      <!-- <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                    <div class="fill-group layout">
                      <div class="fill-block6 layout">
                        <div class="fill-text-body1 layout">Location Name
                        </div>
                        <h5 class="fill-highlights layout">NEW YORK CITY</h5>
                      </div>
                      <div style="--src:url(/assets/6f9f170d72615beea8e11bdd988574dc.png)" class="fill-image layout"></div>
                    </div>
                  </div> -->
                      <!-- <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                    <div class="fill-group layout">
                      <div class="fill-block6 layout">
                        <div class="fill-text-body1 layout">Fuel Product Type</div>
                        <h5 class="fill-highlights layout">NUCLEAR</h5>
                      </div>
                      <div style="--src:url(/assets/6f9f170d72615beea8e11bdd988574dc.png)" class="fill-image layout"></div>
                    </div>
                  </div>
                   -->
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>

          <!-- end here -->
        </div>

        <div class="location-block23-spacer"></div>

        <div class="location-block13-item">
          <app-location-status-panel></app-location-status-panel>
        </div>
      </div>
    </div>
  </div>
</div>
