<div class="card-block40 layout">
  <div class="card-block41 layout">
    <div class="card-group layout">
      <h4 class="card-highlights1 layout">{{ chartTitle }}</h4>
    </div>
    <div class="card-block41-spacer"></div>
    <div class="card-block41-item">
      @if (isToggle){
      <ng-container>
        <mat-slide-toggle
          class="card-box11 layout"
          [color]="color"
          [checked]="checked"
          [disabled]="disabled"
          (change)="setToggleValue($event)"
        ></mat-slide-toggle>
      </ng-container>
     
      } @else {
        <ng-container>
          <div class="card-box11 layout">
            <img src="{{ icon }}" alt="" (click)="graphDetailPage(barChartId)" />
          </div>
        </ng-container>
      } 
    </div>
  </div>
  <div class="card-box12 layout" echarts [options]="option"></div>
</div>
