<div class="dashboard-block12 layout">
  <h3 class="dashboard-subtitle layout">Vehicle Assets</h3>
</div>
<div class="dashboard-block13 layout">
  <div class="dashboard-block13-item">
    <div class="dashboard-block14 layout">
      <div class="dashboard-block15 layout">
        <div class="dashboard-block15-item">
          <!-- vehicle assets widget start here -->

          <div class="widgets-block28 layout">
            <div class="widgets-block29 layout">
              <div class="widgets-block30 layout">
                <div class="widgets-block30-item">
                  <div class="widgets-box6 layout3">
                    <img src="{{ vehicle }}" />
                  </div>
                </div>
                <div class="widgets-block30-spacer"></div>
                <div class="widgets-block30-item1">
                  <div class="widgets-block31 layout">
                    <h1 class="widgets-hero-title layout">
                      {{ data[0].Count }}
                    </h1>
                    <h5 class="widgets-highlights layout3">
                      {{ data[0].Type }}
                    </h5>
                  </div>
                </div>
              </div>

              <div class="widget widget-block layout">
                <div class="widget-block1 layout">
                  <div class="widget-block1-item">
                    <div class="widget-block2 layout">
                      <div class="widget-text-body layout">
                        {{ data[0].StatusData[0].Key }}
                      </div>
                      <div class="widget-block2-spacer"></div>
                      <div class="widget-block2-item">
                        <div
                          class="widget-box layout"
                          [ngStyle]="{
                            'background-color': data[0].StatusData[0].Color
                          }"
                        ></div>
                      </div>
                    </div>
                  </div>
                  <div class="widget-block1-spacer"></div>
                  <div class="widget-text-body1 layout">
                    {{ data[0].StatusData[0].value }}
                  </div>
                </div>
                <div class="widget-block1 layout">
                  <div class="widget-block1-item">
                    <div class="widget-block2 layout">
                      <div class="widget-text-body layout">
                        {{ data[0].StatusData[1].Key }}
                      </div>
                      <div class="widget-block2-spacer"></div>
                      <div class="widget-block2-item">
                        <div
                          class="widget-box layout"
                          [ngStyle]="{
                            'background-color': data[0].StatusData[1].Color
                          }"
                        ></div>
                      </div>
                    </div>
                  </div>
                  <div class="widget-block1-spacer"></div>
                  <div class="widget-text-body1 layout">
                    {{ data[0].StatusData[1].value }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- vehicle assets widget end here -->
        </div>
        <div class="dashboard-block15-spacer"></div>

        <div class="dashboard-block15-item"></div>
        <div class="dashboard-block15-spacer1"></div>
        <div class="dashboard-block15-item"></div>
        <div class="dashboard-block15-spacer"></div>
        <div class="dashboard-block15-item"></div>
      </div>

      <div class="">
        <div class="dashboard-block48 layout">
          <div class="dashboard-block48-item">
            <!-- <div class="dashboard-block49 layout"> -->
            <div>
              <div class="cust-list-flex3 layout">
                <div class="cust-list-flex3-item">
                  <div class="cust-list-group layout">
                    <div class="cust-list-block19 layout">
                      <div class="cust-list-box9 layout">
                        <img
                          src="../../../../assets/icons/search.png"
                          alt=""
                          class="cust-list-icon layout"
                        />
                      </div>

                      <div class="cust-list-block20 layout">
                        <input
                          class="cust-list-text-body21 layout"
                          (keyup)="applyFilter($event)"
                          placeholder="Search Vehicle"
                          #input
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cust-list-flex3-spacer"></div>
                <div class="cust-list-flex3-item1">
                  <div class="cust-list-block23 layout">
                    <!-- <div class="cust-list-block23-item">
                                    <div class="cust-list-box10 layout"></div>
                                  </div> -->
                    <!-- <div class="cust-list-block23-spacer"></div>
                                  <div class="cust-list-text-body4 layout">Add Button</div> -->
                  </div>
                </div>
              </div>
              <div class="layout mat-data">
                <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8">
                  <ng-container matColumnDef="VIN">
                    <th mat-header-cell *matHeaderCellDef>VIN</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.VIN }}
                    </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="ModelYear">
                    <th mat-header-cell *matHeaderCellDef>MODEL YEAR</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.ModelYear }}
                    </td>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef>
                      MAKE
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.Name }}
                    </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="Modal">
                    <th mat-header-cell *matHeaderCellDef>MODEL</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.Modal }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="LicencePlate">
                    <th mat-header-cell *matHeaderCellDef>LICENCE PLATE</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.LicencePlate }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="Department">
                    <th mat-header-cell *matHeaderCellDef>DEPARTMENT</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.Department }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="DomicileLocation">
                    <th mat-header-cell *matHeaderCellDef>
                      DOMICILE LOCATION
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.DomicileLocation }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="VehicleMacAddress">
                    <th mat-header-cell *matHeaderCellDef>
                      VEHICLE MAC ADDRESS
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.VehicleMacAddress }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="RFIDCardAssigned">
                    <th mat-header-cell *matHeaderCellDef>
                      RFID CARD ASSIGNED
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.RFIDCardAssigned }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="Status">
                    <th mat-header-cell *matHeaderCellDef>STATUS</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.Status }}
                    </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef>ACTION</th>
                    <td
                      mat-cell
                      *matCellDef="let element"
                      (click)="viewVehicleDetails()"
                      style="cursor: pointer;"
                    >
                      <img src="../../../../assets/icons/view-icon.png" />
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                  ></tr>
                </table>

              </div>
              <mat-paginator
              [length]="100"
              [pageSizeOptions]="[10, 20, 100]"
            ></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-block13-spacer"></div>
</div>
