<div class="header header-block layout">
  <div class="header-block1 layout">
    <div class="header-flex layout">
      <h3 class="header-subtitle-box layout">{{ selecteLocationIds }}</h3>

      <div class="dashboard-block12 layout"></div>

      <!-- <div class="dashboard-block13 layout"> -->
      <!-- <div class="dashboard-block13-item"> -->
      <div class="location-block2 layout charger-info">
        <div class="location-block2-item">
          <div class="location-block4 layout">
            <div class="location-block4-item">
              <div class="location-block5 layout">
                <a [routerLink]="['../chargers-analytics']">
                  <div class="location-text-body layout">ANALYTICS</div>
                </a>
              </div>
            </div>
            <div class="location-block4-item">
              <div class="location-block6 layout">
                <a [routerLink]="['../chargers-info']">
                  <div class="location-text-body layout">
                    CHARGER INFORMATION
                  </div>
                </a>
              </div>
            </div>
            <div class="location-block4-item">
              <div class="location-block5 layout">
                <a [routerLink]="['../chargers-session']">
                  <div class="location-text-body layout">
                    CHARGE SESSIONS
                  </div>
                </a>
              </div>
            </div>
            <div class="location-block4-item">
              <div class="location-block5 layout">
                <a [routerLink]="['../chargers-diagnostic']">
                  <div class="location-text-body layout">DIAGNOSTIC</div>
                </a>
              </div>
            </div>
            <div class="location-block4-item">
              <div class="location-block5 layout">
                <a [routerLink]="['../chargers-event']">
                  <div class="location-text-body layout">EVENT LOGS</div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="location-block2-spacer"></div>
        <div class="location-block2-item1">
          <div
            class="location-block3 layout"
            style="
              display: flex;
              flex-direction: column;
              background-color: #ebebeb;
              border-left: 1px solid white;
            "
          >
            <div class="location-box3 layout">
              <img
                src="../../../../../assets/Operator/Location-Information.svg"
                alt=""
                srcset=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="location-block15 layout">
        <div class="location-flex14 layout">
          <div class="location-block17 layout">
            <div class="location-flex15 layout">
              <div class="location-flex15-item">
                <div class="location-text-body2 layout1 text-uppercase">
                  BASIC INFORMATION
                </div>
              </div>
              <div class="location-flex15-spacer"></div>
              <div class="location-flex15-item1">
                <!-- <hr class="location-line layout" /> -->
              </div>
            </div>
          </div>
          <div class="location-block16 layout">
            <div class="fill-block4 layout">
              <div class="fill-block5 layout">
                <div class="fill-block5-item">
                  <div class="fill-group layout">
                    <div class="fill-block6 layout">
                      <div class="fill-text-body1 layout">
                        Hardware Serial Number
                      </div>
                      <h5 class="fill-highlights layout">
                        {{ chargerInfo?.hardwareSerialNumber }}
                      </h5>
                    </div>
                    <div
                      style="
                        --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                      "
                      class="fill-image layout"
                    ></div>
                  </div>
                </div>
                <div class="fill-block5-spacer"></div>
                <div class="fill-block5-item">
                  <div class="fill-group layout">
                    <div class="fill-block6 layout">
                      <div class="fill-text-body1 layout">Charge Box ID</div>
                      <h5 class="fill-highlights layout">
                        {{ chargerInfo?.chargeBoxId }}
                      </h5>
                    </div>
                    <div
                      style="
                        --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                      "
                      class="fill-image layout"
                    ></div>
                  </div>
                </div>
                <div class="fill-block5-spacer"></div>
                <div class="fill-block5-item">
                  <div class="fill-group layout">
                    <div class="fill-block6 layout">
                      <div class="fill-text-body1 layout">
                        Connector Type
                      </div>
                      <h5 class="fill-highlights layout">
                        {{ chargerInfo?.charger }}
                      </h5>
                    </div>
                    <div
                      style="
                        --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                      "
                      class="fill-image layout"
                    ></div>
                  </div>
                </div>
                <div class="fill-block5-spacer"></div>
                <div class="fill-block5-item">
                  <div class="fill-group layout">
                    <div class="fill-block6 layout">
                      <div class="fill-text-body1 layout">
                        Charger Type
                      </div>
                      <h5 class="fill-highlights layout">
                        {{ chargerInfo?.chargerType }}
                      </h5>
                    </div>
                    <div
                      style="
                        --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                      "
                      class="fill-image layout"
                    ></div>
                  </div>
                </div>
                <div class="fill-block5-spacer"></div>
                <div class="fill-block5-item">
                  <div class="fill-group layout">
                    <div class="fill-block6 layout">
                      <div class="fill-text-body1 layout">
                        Charger Status
                      </div>
                      <h5 class="fill-highlights layout">
                        {{ chargerInfo?.chargerStatus }}
                      </h5>
                    </div>
                    <div
                      style="
                        --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                      "
                      class="fill-image layout"
                    ></div>
                  </div>
                </div>
                <div class="fill-block5-spacer"></div>
                <div class="fill-block5-item">
                  <div class="fill-group layout">
                    <div class="fill-block6 layout">
                      <div class="fill-text-body1 layout">
                        Installed Date
                      </div>
                      <h5 class="fill-highlights layout">
                        {{ chargerInfo?.installedDate | date: 'dd MMMM yyyy' }}
                      </h5>
                    </div>
                    <div
                      style="
                        --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                      "
                      class="fill-image layout"
                    ></div>
                    <!-- <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Status
                          </div>
                          <h5 class="fill-highlights layout">{{status}}</h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div> -->
                    
                  </div>
                </div>
                <div class="fill-block5-spacer"></div>
                <div class="fill-block5-item">
                  <div class="fill-group layout">
                    <div class="fill-block6 layout">
                      <div class="fill-text-body1 layout">
                        Address
                      </div>
                      <h5 class="fill-highlights layout">
                        {{ chargerInfo?.address }}
                      </h5>
                    </div>
                    <div
                      style="
                        --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                      "
                      class="fill-image layout"
                    ></div>
                  </div>
                </div>
                <div class="fill-block5-spacer"></div>
              </div>
            </div>

            <div class="fill-block4 layout">
              <div class="fill-block5 layout">
                <div class="fill-block5-item">
                  <div class="fill-group layout">
                    <div class="fill-block6 layout">
                      <div class="fill-text-body1 layout">
                        Country
                      </div>
                      <h5 class="fill-highlights layout">
                        {{ chargerInfo?.country }}
                      </h5>
                    </div>
                    <div
                      style="
                        --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                      "
                      class="fill-image layout"
                    ></div>
                  </div>
                </div>
                <div class="fill-block5-spacer"></div>
                <div class="fill-block5-item">
                  <div class="fill-group layout">
                    <div class="fill-block6 layout">
                      <div class="fill-text-body1 layout">
                        State
                      </div>
                      <h5 class="fill-highlights layout">
                        {{ chargerInfo?.state }}
                      </h5>
                    </div>
                    <div
                      style="
                        --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                      "
                      class="fill-image layout"
                    ></div>
                  </div>
                </div>
                <div class="fill-block5-spacer"></div>
                <div class="fill-block5-item">
                  <div class="fill-group layout">
                    <div class="fill-block6 layout">
                      <div class="fill-text-body1 layout">
                        City
                      </div>
                      <h5 class="fill-highlights layout">
                        {{ chargerInfo?.city }}
                      </h5>
                    </div>
                    <div
                      style="
                        --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                      "
                      class="fill-image layout"
                    ></div>
                  </div>
                </div>
                <div class="fill-block5-spacer"></div>
                <div class="fill-block5-item">
                  <div class="fill-group layout">
                    <div class="fill-block6 layout">
                      <div class="fill-text-body1 layout">
                        Zip Code
                      </div>
                      <h5 class="fill-highlights layout">
                        {{ chargerInfo?.zipCode }}
                      </h5>
                    </div>
                    <div
                      style="
                        --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                      "
                      class="fill-image layout"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="location-block3-spacer"></div>
      <div class="location-block3-item1"></div>
    </div>
  </div>
</div>
