<div class="header header-block layout">
  <div class="header-block1 layout">
    <div class="header-flex layout">
      <h1 class="header-subtitle-box layout">Asset ID: {{ assetId }}</h1>
      <h1 class="header-subtitle-box layout">{{ selecteLocationIds }}</h1>
      <div class="dashboard-block12 layout"></div>
      <div class="location-block2 layout charger-info">
        <div class="location-block2-item">
          <div class="location-block4 layout">
            <div class="location-block4-item">
              <div class="location-block6 layout">
                <a [routerLink]="['../chargers-info']">
                  <div class="location-text-body layout">
                    CHARGER INFORMATION
                  </div>
                </a>
              </div>
            </div>
            <div class="location-block4-item">
              <div class="location-block5 layout">
                <a [routerLink]="['../chargers-session']">
                  <div class="location-text-body layout">
                    CHARGE SESSIONS
                  </div>
                </a>
              </div>
            </div>
            <div class="location-block4-item">
              <div class="location-block5 layout">
                <a [routerLink]="['../chargers-diagnostic']">
                  <div class="location-text-body layout">DIAGNOSTIC</div>
                </a>
              </div>
            </div>
            <div class="location-block4-item">
              <div class="location-block5 layout">
                <a [routerLink]="['../chargers-event']">
                  <div class="location-text-body layout">EVENT LOGS</div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="location-block2-spacer"></div>
        <div class="location-block2-item1">
          <div
            class="location-block3 layout"
            style="
              display: flex;
              flex-direction: column;
              background-color: #ebebeb;
              border-left: 1px solid white;
            "
          >
            <div class="location-box3 layout">
              <img
                src="../../../../../assets/Operator/Location-Information.svg"
                alt=""
                srcset=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="location-block15 layout">
        <div class="info-section">
         <div class="section-header">
           BASIC INFORMATION
         </div>
         <table class="info-table">
           <tbody>
             <tr>
               <td class="label-column">Charger Make</td>
               <td class="value-column">
                 {{ chargerInfo?.chargerMake || '-' }}
               </td>
             </tr>
           
             <tr>
               <td class="label-column">Charger Model</td>
               <td class="value-column">
                 {{ chargerInfo?.chargerModel || '-' }}
               </td>
             </tr>
           
             <tr>
               <td class="label-column">Asset ID</td>
               <td class="value-column">
                 {{ chargerInfo?.assetId || '-' }}
               </td>
             </tr>
           
             <tr>
               <td class="label-column">Hardware Serial Number</td>
               <td class="value-column">
                 {{ chargerInfo?.hardwareSerialNumber || '-' }}
               </td>
             </tr>
           
             <tr>
               <td class="label-column">Charge Box ID</td>
               <td class="value-column">
                 {{ chargerInfo?.chargeBoxId || '-' }}
               </td>
             </tr>
           
             <tr>
               <td class="label-column">Connector Type</td>
               <td class="value-column">
                 {{ chargerInfo?.charger || '-' }}
               </td>
             </tr>
           
             <tr>
               <td class="label-column">Charger Type</td>
               <td class="value-column">
                 {{ chargerInfo?.chargerType || '-' }}
               </td>
             </tr>
           
             <tr>
               <td class="label-column">Charger Status</td>
               <td class="value-column">
                 {{ chargerInfo?.chargerStatus || '-' }}
               </td>
             </tr>
           
             
           
             <tr>
               <td class="label-column">SIM ICCID</td>
               <td class="value-column">
                 {{ chargerInfo?.simCardMSIDN || '-' }}
               </td>
             </tr>
           
             <tr>
               <td class="label-column">Location Name</td>
               <td class="value-column">
                 {{ chargerInfo?.locationName || '-' }}
               </td>
             </tr>
           
             <tr>
               <td class="label-column">Address</td>
               <td class="value-column">
                 {{ chargerInfo?.address || '-' }}
               </td>
             </tr>
           
             <tr>
               <td class="label-column">City</td>
               <td class="value-column">
                 {{ chargerInfo?.city || '-' }}
               </td>
             </tr>
           
             <tr>
               <td class="label-column">State</td>
               <td class="value-column">
                 {{ chargerInfo?.state || '-' }}
               </td>
             </tr>
           
           </tbody>
         </table>
      </div>
      <div class="info-section mt-24">
         <div class="section-header">
           WARRANTY RETURN INFORMATION
         </div>
         <table class="info-table">
           <tbody>
             <tr>
               <td class="label-column">OEM Order Number</td>
               <td class="value-column">
                 {{ chargerInfo?.oemOrderNumber || '-' }}
               </td>
             </tr>
             <tr>
               <td class="label-column">OEM Activation Date</td>
               <td class="value-column">
                 {{
                   chargerInfo?.installedDate
                     ? (chargerInfo?.installedDate | date:'dd MMMM yyyy':userTimeZone)
                     : '-'
                 }}
               </td>
             </tr>
             
           </tbody>
         
         </table>
      </div>
     </div>
      <div class="location-block3-spacer"></div>
      <div class="location-block3-item1"></div>
    </div>
  </div>
</div>
