<div class="cust-list-flex1 layout">
  <h3 class="cust-list-subtitle layout">Users</h3>
  <div class="cust-list-flex1-item">
    <div class="cust-list-block3 layout">
      <div class="cust-list-block3-item">
        <div class="cust-list-block4 layout">
          <div class="cust-list-block4-item">
            <div class="cust-list-block5 layout">
              <div class="cust-list-block5-item">
                <div class="cust-list-block6 layout">
                  <div class="cust-list-block7 layout">
                    <div class="cust-list-block7-item">
                      <div class="cust-list-block8 layout">
                        <div class="cust-list-box7 layout">
                          <img src="assets/images/Group.png" />
                        </div>
                      </div>
                    </div>
                    <div class="cust-list-block7-spacer"></div>
                    <div class="cust-list-block7-item1">
                      <div class="cust-list-block9 layout">
                        <h1 class="cust-list-hero-title layout mt_zero">100</h1>
                        <div class="cust-list-text-body2 layout">
                          Total Users
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cust-list-block5-spacer"></div>
              <div class="cust-list-block5-item1">
                <div
                  style="
                    --src: url(/assets/79bc613acca208fbbe5d5ee8be3a0594.png);
                  "
                  class="cust-list-image layout"
                ></div>
              </div>
            </div>
          </div>
          <div class="cust-list-block4-spacer"></div>
          <div class="cust-list-block4-item">
            <div class="cust-list-block10 layout">
              <div class="cust-list-block10-item">
                <div class="cust-list-block11 layout">
                  <div class="cust-list-block12 layout">
                    <div class="cust-list-block12-item">
                      <div class="cust-list-block13 layout">
                        <div class="cust-list-box7 layout">
                          <img src="assets/images/Group1.png" />
                        </div>
                      </div>
                    </div>
                    <div class="cust-list-block12-spacer"></div>
                    <div class="cust-list-block12-item1">
                      <div class="cust-list-block14 layout">
                        <h1 class="cust-list-hero-title layout">40</h1>
                        <div class="cust-list-text-body2 layout1">Active</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cust-list-block10-spacer"></div>
              <div class="cust-list-block10-item1">
                <div
                  style="
                    --src: url(/assets/79bc613acca208fbbe5d5ee8be3a0594.png);
                  "
                  class="cust-list-image layout1"
                ></div>
              </div>
            </div>
          </div>
          <div class="cust-list-block4-spacer"></div>
          <div class="cust-list-block4-item1">
            <div class="cust-list-block15 layout">
              <div class="cust-list-block15-item">
                <div class="cust-list-block16 layout">
                  <div class="cust-list-block17 layout">
                    <div class="cust-list-block17-item">
                      <div class="cust-list-block18 layout">
                        <div class="cust-list-box7 layout">
                          <img src="assets/icons/inactive.png" />
                        </div>
                      </div>
                    </div>
                    <div class="cust-list-block17-spacer"></div>
                    <div class="cust-list-block17-item1">
                      <div class="cust-list-block14 layout">
                        <h1 class="cust-list-hero-title layout">60</h1>
                        <div class="cust-list-text-body2 layout2">Inactive</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cust-list-block15-spacer"></div>
              <div class="cust-list-block15-item1">
                <div
                  style="
                    --src: url(/assets/79bc613acca208fbbe5d5ee8be3a0594.png);
                  "
                  class="cust-list-image layout2"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cust-list-flex3 layout">
    <div class="cust-list-flex3-item">
      <div class="cust-list-group layout">
        <div class="cust-list-block19 layout">
          <div class="cust-list-box9 layout">
            <img
              src="assets/images/serach.png"
              alt=""
              class="cust-list-icon layout"
            />
          </div>

          <div class="cust-list-block20 layout">
            <input
              class="cust-list-text-body21 layout"
              (keyup)="applyFilter($event)"
              placeholder="Search"
              #input
            />
          </div>
        </div>
      </div>
    </div>
    <div class="cust-list-flex3-spacer"></div>
    <div class="cust-list-flex3-item1">
      <div class="cust-list-block23 layout">
        <div class="cust-list-block23-item">
          <div class="cust-list-box10 layout">
            <img
              src="../../../../assets/superadmin-icons/add-icon.png"
              alt=""
              srcset=""
            />
          </div>
        </div>
        <div class="cust-list-block23-spacer"></div>
        <div
          class="cust-list-text-body4 layout"
          [routerLink]="['add-operator']"
        >
          ADD USER
        </div>
      </div>
    </div>
  </div>
  <div class="cust-list-group2 layout">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="customername">
        <th mat-header-cell *matHeaderCellDef>NAME</th>
        <td mat-cell *matCellDef="let element">{{ element.CustomerName }}</td>
      </ng-container>

      <ng-container matColumnDef="customerid">
        <th mat-header-cell *matHeaderCellDef>EMAIL ID</th>
        <td mat-cell *matCellDef="let element">{{ element.CustomerEmail }}</td>
      </ng-container>

      <ng-container matColumnDef="customeremail">
        <th mat-header-cell *matHeaderCellDef>STATUS</th>
        <td mat-cell *matCellDef="let element">{{ element.Status }}</td>
      </ng-container>

      <ng-container matColumnDef="phonenumber">
        <th mat-header-cell *matHeaderCellDef>ASSOCIATED SITES</th>
        <td mat-cell *matCellDef="let element">{{ element.Users }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.Status }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>ACTION</th>
        <td mat-cell *matCellDef="let element">
          <span><img src="assets/icons/tick.png " alt="" /></span>
          &nbsp;
          <span><img src="assets/icons/View.png" alt="" /></span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [length]="100"
      [pageSizeOptions]="[10, 20, 100]"
    ></mat-paginator>
  </div>
</div>
