<div class="cust-list-flex1 layout manage-customer">
  <h3 class="cust-list-subtitle layout">Organization</h3>
  <div class="cust-list-flex1-item">
    <div class="cust-list-block3 layout">
      <div class="cust-list-block3-item status-card">
        <div class="cust-list-block4 layout">
          <div class="cust-list-block4-item">
            <div class="cust-list-block5 layout">
              <div class="cust-list-block5-item">
                <div class="cust-list-block6 layout">
                  <div class="cust-list-block7 layout">
                    <div class="cust-list-block7-item">
                      <div
                        class="cust-list-block8 layout"
                        [ngStyle]="{
                          'background-color': statusData[0].color
                        }"
                      >
                        <div class="cust-list-box7 layout">
                          <img
                            src="../../../../assets/Super-Admin-icons/Total.svg"
                            alt=""
                            srcset=""
                          />
                        </div>
                      </div>
                    </div>
                    <div class="cust-list-block7-spacer"></div>
                    <div class="cust-list-block7-item1">
                      <div class="cust-list-block9 layout">
                        <h1 class="cust-list-hero-title layout mt_zero">
                          {{ statusData[0].value }}
                        </h1>
                        <div class="cust-list-text-body2 layout">
                          {{ statusData[0].key }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cust-list-block5-spacer"></div>
              <div class="cust-list-block5-item1">
                <div
                  style="
                    --src: url(/assets/79bc613acca208fbbe5d5ee8be3a0594.png);
                  "
                  class="cust-list-image layout"
                ></div>
              </div>
            </div>
          </div>
          <div class="cust-list-block4-spacer"></div>
          <div class="cust-list-block4-item">
            <div class="cust-list-block10 layout">
              <div class="cust-list-block10-item act-status">
                <div class="cust-list-block11 layout">
                  <div class="cust-list-block12 layout">
                    <div class="cust-list-block12-item">
                      <div
                        class="cust-list-block13 layout"
                        [ngStyle]="{
                          'background-color': statusData[1].color
                        }"
                      >
                        <div class="cust-list-box7 layout">
                          <img
                            src="../../../../assets/Super-Admin-icons/Activelogo.svg"
                            alt=""
                            srcset=""
                          />
                        </div>
                      </div>
                    </div>
                    <div class="cust-list-block12-spacer"></div>
                    <div class="cust-list-block12-item1">
                      <div class="cust-list-block14 layout">
                        <h1 class="cust-list-hero-title layout">
                          {{ statusData[1].value }}
                        </h1>
                        <div class="cust-list-text-body2 layout1">
                          {{ statusData[1].key }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cust-list-block10-spacer"></div>
              <div class="cust-list-block10-item1">
                <div
                  style="
                    --src: url(/assets/79bc613acca208fbbe5d5ee8be3a0594.png);
                  "
                  class="cust-list-image layout1"
                ></div>
              </div>
            </div>
          </div>
          <div class="cust-list-block4-spacer"></div>
          <div class="cust-list-block4-item1">
            <div class="cust-list-block15 layout">
              <div class="cust-list-block15-item">
                <div class="cust-list-block16 layout">
                  <div class="cust-list-block17 layout">
                    <div class="cust-list-block17-item">
                      <div
                        class="cust-list-block18 layout"
                        [ngStyle]="{
                          'background-color': statusData[2].color
                        }"
                      >
                        <div class="cust-list-box7 layout">
                          <img
                            src="../../../../assets/Super-Admin-icons/inactive-Customer.svg"
                            alt=""
                            srcset=""
                          />
                        </div>
                      </div>
                    </div>
                    <div class="cust-list-block17-spacer status-state"></div>
                    <div class="cust-list-block17-item1">
                      <div class="cust-list-block14 layout">
                        <h1 class="cust-list-hero-title layout">
                          {{ statusData[2].value }}
                        </h1>
                        <div class="cust-list-text-body2 layout2">
                          {{ statusData[2].key }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cust-list-block15-spacer"></div>
              <div class="cust-list-block15-item1">
                <div
                  style="
                    --src: url(/assets/79bc613acca208fbbe5d5ee8be3a0594.png);
                  "
                  class="cust-list-image layout2"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cust-list-flex3 layout">
    <div class="cust-list-flex3-item">
      <div class="cust-list-group layout">
        <div class="cust-list-block19 layout">
          <div class="cust-list-box9 layout">
            <img
              src="../../../../assets/Super-Admin-icons/Search.svg"
              alt=""
              class="cust-list-icon layout"
            />
          </div>

          <div class="cust-list-block20 layout">
            <input
              class="cust-list-text-body21 layout"
              (keyup)="applyFilter($event)"
              placeholder="Search by organization name"
              #input
            />
          </div>
        </div>
      </div>
    </div>
    <div class="cust-list-flex3-spacer"></div>
    <div class="cust-list-flex3-item1">
      <div class="cust-list-block23 layout" [routerLink]="['create-customer']">
        <div class="cust-list-block23-item">
          <div class="cust-list-box10 layout">
            <img
              src="../../../../assets/Super-Admin-icons/Add.svg"
              alt=""
              srcset=""
            />
          </div>
        </div>
        <div class="cust-list-block23-spacer"></div>
        <div class="cust-list-text-body4 layout">ADD CUSTOMER</div>
      </div>
    </div>
  </div>
  <div class="layout mat-data">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="OrganisationName">
        <th mat-header-cell *matHeaderCellDef>ORGANIZATION NAME</th>
        <td mat-cell *matCellDef="let element">
          {{ element.userName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="OrganisationId">
        <th mat-header-cell *matHeaderCellDef>ORGANIZATION ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="PointOfContact">
        <th mat-header-cell *matHeaderCellDef>POINT OF CONTACT</th>
        <td mat-cell *matCellDef="let element">{{ element.pointofcontact }}</td>
      </ng-container>

      <ng-container matColumnDef="CustomerEmail">
        <th mat-header-cell *matHeaderCellDef>CUSTOMER EMAIL</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>
      <ng-container matColumnDef="PhoneNumber">
        <th mat-header-cell *matHeaderCellDef>PHONE NUMBER</th>
        <td mat-cell *matCellDef="let element">{{ element.phoneNumber }}</td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef>STATUS</th>
        <td mat-cell *matCellDef="let element">
          {{ element.isActive ? 'Active' : 'Inactive' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="NumberOfEvChargers">
        <th mat-header-cell *matHeaderCellDef>NUMBER OF EV CHARGERS</th>
        <td mat-cell *matCellDef="let element">
          {{ element.noofevcharger }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Assets">
        <th mat-header-cell *matHeaderCellDef>ASSETS</th>
        <td mat-cell *matCellDef="let element">{{ element.assets }}</td>
      </ng-container>

      <ng-container matColumnDef="User">
        <th mat-header-cell *matHeaderCellDef>USERS</th>
        <td mat-cell *matCellDef="let element">{{ element.users }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>ACTION</th>
        <td mat-cell *matCellDef="let element">
          {{ element.action }}
          <!-- <span style="margin: 7px;">
            <img
              src="../../../../assets/superadmin-icons/Active.png"
              class="cursorPointer"
              alt=""
            />
          </span> -->
          <span>
            <img
              src="../../../../assets/Super-Admin-icons/Edit.svg"
              alt=""
              title="Edit"
              class="cursorPointer"
              (click)="editCusotmer(element.id)"
              style="cursor: pointer;"
            />
          </span>
          <span>
            <img
              src="../../../../assets/Super-Admin-icons/View.svg"
              alt=""
              title="View"
              class="cursorPointer"
              (click)="viewCustomer(element.id)"
            />
          </span>
          <span>
            <img
              class="cursorPointer"
              src="../../../../assets/Super-Admin-icons/Add-Customers.svg"
              title="Add"
              alt=""
              (click)="AddCustomer()"
              [routerLink]="['../../createcustomer']"
            />
          </span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <ng-container *ngIf="isTableHasData">
      <p class="text-center">No record found</p>
    </ng-container>
  </div>
  <mat-paginator
    #paginator
    (page)="pageChange($event)"
    [length]="totalCount"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
  ></mat-paginator>
</div>
