<div class="diag-table-block12 layout">
  <div class="diag-table-block13 layout">
    <div class="diag-table-block13-item">
      <div class="diag-table-block14 layout">
        <div class="diag-table-block15 layout"><div class="diag-table-text-body3 layout">heading671</div></div>
        <div class="diag-table-block16 layout"><div class="diag-table-text-body4 layout">subheading1</div></div>
      </div>
    </div>
    <div class="diag-table-block13-item1">
      <div class="diag-table-block17 layout">
        <div class="diag-table-block18 layout"><div class="diag-table-text-body31 layout">heading671</div></div>
        <div class="diag-table-block19 layout"><div class="diag-table-text-body41 layout">subheading1</div></div>
      </div>
    </div>
    <div class="diag-table-block13-item">
      <div class="diag-table-block20 layout">
        <div class="diag-table-block15 layout"><div class="diag-table-text-body32 layout">heading671</div></div>
        <div class="diag-table-block20-item">
          <div class="diag-table-block21 layout">
            <div class="diag-table-box3 layout"></div>
            <div class="diag-table-block21-spacer"></div>
            <div class="diag-table-block21-item"><div class="diag-table-box3 layout1"></div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="diag-table-block22 layout">
    <div class="diag-table-text-body42-box layout">
      <pre class="diag-table-text-body42">
        <ng-content select=".text-up"></ng-content>
<!-- {{[
2,
&quot;9fba957c-76da-49ff-b981-df7f750034e8&quot;,
&quot;BootNotification&quot;,
{
  &quot;chargingStation&quot;: {
    &quot;model&quot;: &quot;Charger001&quot;,
    &quot;vendorName&quot;: &quot;WiTricity&quot;
  },
  &quot;reason&quot;: &quot;PowerUp&quot;
}
]}} -->
</pre>
    </div>
    <hr class="diag-table-line layout" />
    <div class="diag-table-text-body43-box layout">
      <pre class="diag-table-text-body43">
        <ng-content select=".text-down"></ng-content>
<!-- {{[
3,
&quot;9fba957c-76da-49ff-b981-df7f750034e8&quot;,
{
  &quot;currentTime&quot;: &quot;2021-05-17T10:37:48Z&quot;,
  &quot;interval&quot;: 900,
  &quot;status&quot;: &quot;Accepted&quot;
}
]}} -->
</pre>
    </div>
  </div>
</div>
