@use "../../../../styles" as *;

$color_type_0: rgb(0, 98, 166);
$color_type_7: rgb(235, 235, 235);
$color_type_9: rgb(255, 255, 255);

.tab- {
  &block3 {
    @include flex-column;
    background-color: $color_type_7;
  }
  &block3.layout {
    position: relative;
    flex: 0 1 123px;
    height: min-content;
    margin: 0px 0px 0px 1px;
    @include lg {
      margin: 0px 0px 0px 5px;
    }
  }
  &text-body {
    @include font-face($font_type22, $color_type_0, 0px);
    @include md {
      font-size: 13px;
      text-align: left;
    }
    @include xs {
      font-size: 12px;
    }
  }
  &block3.layout1 {
    position: relative;
    flex: 0 1 122px;
    height: min-content;
  }
  &block3.layout2 {
    position: relative;
    flex: 0 1 123px;
    height: min-content;
    margin: 0px 1px 0px 0px;
    @include lg {
      margin: 0px 5px 0px 0px;
    }
  }
  &text-body.layout {
    position: relative;
    height: min-content;
    margin: 17px 27px 16px 17px;
    @include lg {
      margin: 15px 24px 14px 15px;
    }
    @include md {
      margin: 13px 20px 12px 13px;
    }
    @include sm {
      margin: 11px 17px 10px 11px;
    }
    @include xs {
      margin: 10px 15px 9px 10px;
    }
    @include xxs {
      margin: 9px 14px 8px 9px;
    }
    @include tn {
      margin: 8px 13px 8px 8px;
    }
  }
  &block4 {
    @include flex-column;
    background-color: $color_type_9;
  }
  &block4.layout {
    position: relative;
    flex: 0 1 122px;
    height: min-content;
  }
}
