<div class="dashboard-block12 layout">
  <h1 class="dashboard-subtitle layout">Operator Dashboard</h1>
</div>
<div class="dashboard-block13 layout opt-dashboard">
  <div class="dashboard-block13-item">
    <div class="dashboard-block14 layout">
      <div class="dashboard-block15 layout">
        <div class="dashboard-block15-item">
          <app-widget
            [widgetIcon]="locations"
            [data]="summaryStatus[0]"
          ></app-widget>
        </div>
        <div class="dashboard-block15-spacer"></div>
        <div class="dashboard-block15-item">
          <app-widget
            [widgetIcon]="chargers"
            [data]="summaryStatus[1]"
          ></app-widget>
        </div>
        <div class="dashboard-block15-spacer1"></div>
        <div class="dashboard-block15-item">
          <app-widget
            [widgetIcon]="charging_session"
            [data]="summaryStatus[2]"
          ></app-widget>
        </div>
        <div class="dashboard-block15-spacer"></div>
        <div class="dashboard-block15-item">
          <app-widget
            [widgetIcon]="errors"
            [data]="summaryStatus[3]"
          ></app-widget>
        </div>
      </div>

      <div class="dashboard-block48 layout">
        <div class="dashboard-block48-item">
          <div class="dashboard-block49 layout">
            <div class="dashboard-flex layout">
              <div class="dashboard-flex-item">
                <div class="dashboard-group layout3">
                  <h4 style="width: max-content;" class="dashboard-map-title">
                    Charger Count And Status
                  </h4>
                </div>
              </div>
              <div class="dashboard-flex-spacer"></div>
              <div class="dashboard-flex-item1">
                <div class="dashboard-box11 layout1">
                  <img
                    class="info-icon"
                    (click)="showLegendsInfo()"
                    src="../../../../assets/information-outline.svg"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>

          <div id="map" style="width: 100%; height: 50vh;"></div>
          <!-- <img src="../../../../assets/images/map.png" alt="" width="100%" /> -->
        </div>
      </div>
      <div class="dashboard-block32 layout">
        <div class="dashboard-block33 layout">
          <div class="dashboard-block33-item">
            <div class="dashboard-block34 layout">
              <!-- <div class="dashboard-text-body1 layout9">
              </div> -->

              <!-- <mat-form-field > -->
              <div class="dashboard-text-body1 layout9">
                <mat-form-field class="dashboard-text-body1 layout9">
                  <mat-label>Select Location</mat-label>
                  <mat-select
                    multiple
                    [formControl]="locationIds"
                    (onSelectionChange)="onSelectLocation($event)"
                  >
                    <mat-option
                      *ngFor="let item of locationList"
                      [value]="item.id"
                    >
                      {{ item.locationName }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <mat-button-toggle-group
            [formControl]="filterToggle"
            (change)="setTime($event)"
          >
            <div class="dashboard-block33-item1">
              <div class="dashboard-block35 layout space-between">
                <mat-button-toggle value="1" style="border: 1px solid #0062a6;">
                  Last 24 Hours
                </mat-button-toggle>
              </div>
            </div>
            <div class="dashboard-block33-item2">
              <div class="dashboard-block36 layout space-between">
                <mat-button-toggle value="7">One Week</mat-button-toggle>
              </div>
            </div>
            <div class="dashboard-block33-item3">
              <div class="dashboard-block37 layout space-between">
                <mat-button-toggle value="30">Current Month</mat-button-toggle>
              </div>
            </div>
            <div class="dashboard-block33-item4">
              <div class="dashboard-block38 layout space-between">
                <mat-button-toggle value="90">Last 3 Months</mat-button-toggle>
              </div>
            </div>
          </mat-button-toggle-group>
        </div>
      </div>

      <div class="dashboard-block42 layout">
        <div class="dashboard-block42-item">
          <app-bar-chart
            *ngIf="chargersChartData !== ''"
            style="width: 100%; height: 100%;"
            [chartType]="'bar'"
            [chartTitle]="'Chargers'"
            [chargersData]="chargersChartData"
            (barDetailPage)="
              openDetailPage(
                1,
                'Chargers',
                'DASHBOARD',
                selectedTime,
                selecteLocationIds
              )
            "
          ></app-bar-chart>
        </div>
        <div class="dashboard-block42-item">
          <app-area-chart
            *ngIf="chargingSessionData !== ''"
            (areaDetailPage)="
              openDetailPage(
                2,
                'Charging Sessions',
                'DASHBOARD',
                selectedTime,
                selecteLocationIds
              )
            "
            [chargingSessionData]="chargingSessionData"
            [chartType]="'dashboardChargingSession'"
            [chartTitle]="'Charging Sessions'"
          ></app-area-chart>
        </div>
      </div>
      <div class="dashboard-block42 layout">
        <div class="dashboard-block42-item">
          <app-line-chart
            *ngIf="energyUsedData !== ''"
            [energyUsedData]="energyUsedData"
            [chartType]="'dashboardEnergyUsed'"
            [chartTitle]="'Energy Demand Over Time'"
            (lineDetailPage)="
              openDetailPage(
                3,
                'Energy Demand Over Time',
                'DASHBOARD',
                selectedTime,
                selecteLocationIds
              )
            "
          ></app-line-chart>
        </div>
        <div class="dashboard-block42-spacer"></div>
        <div class="dashboard-block42-item">
          <app-bar-chart
            *ngIf="locationPerformingData !== ''"
            [chartType]="'dashboardlocationPerform'"
            [chartTitle]="'Locations Performing'"
            [toggle]="true"
            [locationPerformingData]="locationPerformingData"
            (toggleValueChanges)="changeToggleValue($event)"
          ></app-bar-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-block13-spacer"></div>
  <div class="dashboard-block13-item1">
    <app-dashboard-status-panel></app-dashboard-status-panel>
  </div>
</div>
