<div class="card-block40 layout">
    <div class="card-block41 layout">
      <div class="card-group layout">
        <h4 class="card-highlights1 layout">{{chartTitle}}</h4>
      </div>
      <div class="card-block41-spacer"></div>
       <div class="card-block41-item">
        <div class="card-box11 layout"><img src="{{ icon }}" alt="" /></div>
      </div> 
    </div>
    <!-- <div class="card-box12 layout"> -->
    <div class="card-box12 layout" echarts [options]="option"></div>
    <!-- </div> -->
  </div>
  