<div class="tabs-block1 layout">
  <div class="tabs-block1-item">
    <div class="tabs-block2 layout">
      <ng-content></ng-content>


      <!-- <div class="tabs-block3 layout"><div class="tabs-text-body layout">Tabtilte1</div></div>
      <div class="tabs-block4 layout"><div class="tabs-text-body layout">Tabtilte2</div></div>
      <div class="tabs-block3 layout1"><div class="tabs-text-body layout">Tabtilte3</div></div>
      <div class="tabs-block3 layout2"><div class="tabs-text-body layout">Tabtilte4</div></div> -->
    </div>
  </div>
  <div class="tabs-block1-item1">
    <div class="tabs-block5 layout"><div class="tabs-box layout"></div></div>
  </div>
</div>
