<div class="barbar-block10 layout">
  <div class="barbar-flex layout">
    <div class="barbar-block11 layout">
      <h3 class="barbar-subtitle layout">{{ title }}</h3>
    </div>

    <form [formGroup]="addAdminProfile">
      <div class="barbar-block12 layout">
        <h4 class="barbar-highlights1 layout"></h4>
        <div class="barbar-block13 layout">
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Admin Name
                <span style="color: 'red';">*</span>
              </h5>
              <div
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    addAdminProfile.get('username')?.errors && submitted == true
                }"
              >
                <input
                  formControlName="username"
                  maxlength="100"
                  type="text"
                  (keypress)="omit_special_char($event)"
                  class="barbar-input-text"
                />
              </div>
              <span
                *ngIf="
                  !addAdminProfile.get('username')?.valid &&
                  addAdminProfile.get('username')?.touched &&
                  addAdminProfile.get('username')?.value.length > 20
                "
                class="error-mess"
              >
                Admin Name Must Be Between 5 To 20 Characters
              </span>
              <span
                *ngIf="
                  !addAdminProfile.get('username')?.valid &&
                  addAdminProfile.get('username')?.touched &&
                  addAdminProfile.get('username')?.value.length == 0
                "
                class="error-mess"
              >
                Admin Name Is Required
              </span>
            </div>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Email ID
                <span style="color: 'red';">*</span>
              </h5>
              <div
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    addAdminProfile.get('emailid')?.errors && submitted == true
                }"
              >
                <input
                  formControlName="emailid"
                  type="text"
                  class="barbar-input-text"
                />
              </div>
              <span
                *ngIf="
                  !addAdminProfile.get('emailid')?.valid &&
                  addAdminProfile.get('emailid')?.touched &&
                  addAdminProfile.get('emailid')?.value.length == 0
                "
                class="error-mess"
              >
                Email Id Is Required
              </span>
              <span
                *ngIf="
                  !addAdminProfile.get('emailid')?.valid &&
                  addAdminProfile.get('emailid')?.touched &&
                  addAdminProfile.get('emailid')?.value.length > 0
                "
                class="error-mess"
              >
                Please Enter Valid Email Id
              </span>
            </div>
          </div>
          <!-- 
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                DOB
                <span style="color: 'red';">*</span>
              </h5>

              <mat-form-field
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    addAdminProfile.get('dob')?.errors && submitted == true
                }"
              >
                <input
                  matInput
                  [matDatepicker]="dob"
                  formControlName="dob"
                  readonly
                  [matDatepickerFilter]="dateFilter"
                />

                <mat-datepicker-toggle
                  matSuffix
                  [for]="dob"
                ></mat-datepicker-toggle>
                <mat-datepicker #dob></mat-datepicker>
              </mat-form-field>
            </div>
            <span
              *ngIf="
                !addAdminProfile.get('dob')?.valid &&
                addAdminProfile.get('dob')?.touched &&
                addAdminProfile.get('dob')?.value.length == 0
              "
              class="error-mess"
            >
              DOB Is Required
            </span>
          </div> -->

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Phone Number
                <span style="color: 'red';">*</span>
              </h5>
              <div
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    addAdminProfile.get('phoneNumber')?.errors &&
                    submitted == true
                }"
              >
                <input
                  formControlName="phoneNumber"
                  type="text"
                  maxlength="14"
                  (keypress)="phoneNumber($event); numberOnly($event)"
                  [(ngModel)]="telephoneNumber"
                  class="barbar-input-text"
                />
              </div>
              <span
                *ngIf="
                  !addAdminProfile.get('phoneNumber')?.valid &&
                  addAdminProfile.get('phoneNumber')?.touched &&
                  addAdminProfile.get('phoneNumber')?.value.length > 0
                "
                class="error-mess"
              >
                Phone Number Must Be 10 digits
              </span>
              <span
                *ngIf="
                  !addAdminProfile.get('phoneNumber')?.valid &&
                  addAdminProfile.get('phoneNumber')?.touched &&
                  addAdminProfile.get('phoneNumber')?.value.length == 0
                "
                class="error-mess"
              >
                Phone Number Is Required
              </span>
            </div>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Oraganization Name
                <span style="color: 'red';">*</span>
              </h5>

              <mat-form-field
                class="barbar-box6 layout"
                style="padding-right: 10px;"
                [ngClass]="{
                  'is-invalid':
                    addAdminProfile.get('organizationName')?.value == '0' &&
                    submitted == true
                }"
              >
                <mat-select formControlName="organizationName" [disabled]="orgUserId !== '' ? true : false">
                  <!--  <mat-option value="{{selectcountryId}}" [disabled]="true">Select</mat-option> -->
                  <mat-option value="{{ selectValue }}">
                    Select
                   
                  </mat-option> 
                  <mat-option *ngFor="let c of customerList" value="{{ c.id }}">
                    {{ c.customerName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <span
              *ngIf="
                addAdminProfile.get('organizationName')?.touched &&
                addAdminProfile.get('organizationName')?.value == '0'
              "
              class="error-mess"
            >
              Oraganization Name Is Required
            </span>
          </div>
        </div>
      </div>

      <div class="barbar-block12 layout">
        <h4 class="barbar-highlights1 layout">Location</h4>
        <div class="barbar-block13 layout">
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Address Line1
                <span style="color: 'red';">*</span>
              </h5>
              <div
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    addAdminProfile.get('addressLine1')?.errors &&
                    submitted == true
                }"
              >
                <input
                  formControlName="addressLine1"
                  type="text"
                  class="barbar-input-text"
                />
              </div>
              <span
                *ngIf="
                  !addAdminProfile.get('addressLine1')?.valid &&
                  addAdminProfile.get('addressLine1')?.touched &&
                  addAdminProfile.get('addressLine1')?.value.length > 255
                "
                class="error-mess"
              >
                Address Line1 Must Not Exceed More Than 255 Characters
              </span>
              <span
                *ngIf="
                  !addAdminProfile.get('addressLine1')?.valid &&
                  addAdminProfile.get('addressLine1')?.touched &&
                  addAdminProfile.get('addressLine1')?.value.length == 0
                "
                class="error-mess"
              >
                Address Line1 Is Required
              </span>
            </div>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">Address Line2</h5>
              <div class="barbar-box6 layout">
                <input
                  formControlName="addressLine2"
                  type="text"
                  class="barbar-input-text"
                />
              </div>
              <span
                *ngIf="
                  !addAdminProfile.get('addressLine2')?.valid &&
                  addAdminProfile.get('addressLine2')?.touched &&
                  addAdminProfile.get('addressLine2')?.value.length > 255 &&
                  addAdminProfile.get('addressLine2')?.value.length != 0
                "
                class="error-mess"
              >
                Address Line2 Must Not Exceed More Than 255 Characters
              </span>
            </div>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Country
                <span style="color: 'red';">*</span>
              </h5>
              <mat-form-field
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    addAdminProfile.get('country')?.value == '0' &&
                    submitted == true
                }"
              >
                <mat-select
                  formControlName="country"
                  (selectionChange)="getSelected($event, 'state')"
                >
                  <!--  <mat-option value="{{selectcountryId}}" [disabled]="true">Select</mat-option> -->
                  <mat-option value="{{ selectValue }}">Select</mat-option>
                  <mat-option *ngFor="let c of countryList" value="{{ c.id }}">
                    {{ c.countryName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <span
                *ngIf="
                  addAdminProfile.get('country')?.touched &&
                  addAdminProfile.get('country')?.value == '0'
                "
                class="error-mess"
              >
                Country Is Required
              </span>
            </div>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                State/Province
                <span style="color: 'red';">*</span>
              </h5>

              <mat-form-field
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    addAdminProfile.get('state')?.value == '0' &&
                    submitted == true
                }"
              >
                <mat-select
                  formControlName="state"
                  (selectionChange)="getSelected($event, 'city')"
                >
                  <mat-option value="{{ selectValue }}">Select</mat-option>
                  <mat-option *ngFor="let c of stateList" value="{{ c.id }}">
                    {{ c.stateName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <span
                *ngIf="
                  addAdminProfile.get('state')?.touched &&
                  addAdminProfile.get('state')?.value == '0'
                "
                class="error-mess"
              >
                State Is Required
              </span>
              <!-- <div class="barbar-box6 layout">
                <select
                  required
                  formControlName="country"
                  class="barbar-input-text"
                >
                  <option value="California">California</option>

                
                </select>
              </div> -->
            </div>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                City
                <span style="color: 'red';">*</span>
              </h5>
              <div
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    addAdminProfile.get('cityName')?.errors && submitted == true
                }"
              >
                <input
                  formControlName="cityName"
                  type="text"
                  class="barbar-input-text"
                  (keypress)="omit_special_char($event)"
                />
              </div>
      
              <span
                *ngIf="
                  addAdminProfile.get('city')?.touched &&
                  addAdminProfile.get('city')?.value == '0'
                "
                class="error-mess"
              >
                City Is Required
              </span>
            </div>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Zip Code
                <span style="color: 'red';">*</span>
              </h5>
              <div
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    addAdminProfile.get('zipcode')?.errors && submitted == true
                }"
              >
                <input
                  formControlName="zipcode"
                  type="text"
                  maxlength="9"
                  minlength="0"
                  class="barbar-input-text"
                />
                <!-- <mat-error>This Field is required</mat-error> -->
              </div>
              <!-- <span
                *ngIf="
                  !addAdminProfile.get('zipcode')?.valid &&
                  addAdminProfile.get('zipcode')?.touched &&
                  addAdminProfile.get('zipcode')?.value.length > 0
                "
                class="error-mess"
              >
              Zip Code must be Between 0 to 6 Alphanumeric Characters
              </span> -->
              <span
                *ngIf="
                  !addAdminProfile.get('zipcode')?.valid &&
                  addAdminProfile.get('zipcode')?.touched &&
                  addAdminProfile.get('zipcode')?.value.length == 0
                "
                class="error-mess"
              >
                Zip Code Is Required
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="barbar-flex1 layout">
        <div class="barbar-flex1-item">
          <div class="barbar-block17 layout">
            <div
              class="barbar-text-body2 layout"
              [routerLink]="['../../admin']"
            >
              CANCEL
            </div>
          </div>
        </div>
        <div class="barbar-flex1-spacer"></div>
        <div class="barbar-flex1-item">
          <div class="barbar-block16 layout">
            <div
              *ngIf="saveBtnValue"
              class="barbar-text-body1 layout"
              (click)="saveForm()"
            >
              SAVE
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
