<div class="item-block3-item"
     (mouseenter)="onMouseEnter($event)"
     (mouseleave)="onMouseLeave()"
     [ngClass]="{ 'btn-active': showToolTipitem == false }">

  <div class="item-block4 layout">
    <div class="item-block5 layout"
         style="cursor: pointer;"
         [ngClass]="{ 'btn-active': showToolTipitem == true }">
      <div class="item-block6 layout">
        <div class="item-icon layout">
          <ng-content select=".img"></ng-content>
        </div>
        <div class="item-text-body layout">
          <ng-content select=".title"></ng-content>
        </div>
      </div>
    </div>
  </div>

  <!-- custom tooltip -->
  <div
    *ngIf="showTooltip"
    class="tooltip"
    [ngClass]="tooltipPosition">
    {{ tooltipText }}
  </div>
</div>
