<div class="header header-block layoutS">
  <div class="header-block1 layout">
    <div class="header-flex layout">
      <div class="top-header-title">
        <div class="header-title">
          <h3 class="header-subtitle txt_label" style="margin-top: 30px;">
            <span
              (click)="goback()"
              class="cursorPointer"
              style="position: relative; top: 10px; font-size: 20px;"
            >
              <img src="../../../../assets/icons/backArrow.png" alt="" />
            </span>
            <span class="graph-heading">{{ graphHeading }}</span>
            <b style="font-size: 13px;">{{ pageHeading }}</b>
          </h3>
          <div>
            <div class="cust-list-flex3 layout">
              <!-- <div class="cust-list-flex3-spacer"></div> -->
              <div class="cust-list-flex3-item1" (click)="downloadFile()">
                <div class="cust-list-block23 layout">
                  <div class="cust-list-block23-item">
                    <div class="cust-list-box10 layout">
                      <img
                        src="../../../../../assets/download-report.png"
                        alt=""
                        srcset=""
                      />
                    </div>
                  </div>
                  <div class="cust-list-block23-spacer"></div>
                  <div class="cust-list-text-body4 layout">
                    EXPORT
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  <div style="margin-top:30px;">
          <div style="width:40px;height: 40px;"> <span (click)="goback()" class="cursorPointer"><img  src="../../../../assets/icons/backArrow.png" class="txt_label" /></span></div>
        </div> -->
      <div class="dashboard-block12 layout">
        <div class="dashboard-block13 layout">
          <div class="dashboard-block13-item">
            <div class="dashboard-block14 layout">
              <div class="dashboard-block39 layout">
                <div class="dashboard-block48 layout">
                  <div class="dashboard-block48-item">
                    <div>
                      <div
                        class="cust-list-group2 layout"
                        id="pdfTable"
                        #pdfTable
                        *ngIf="!isCharger"
                      >
                        <div class="layout mat-data">
                          <table
                            mat-table
                            [dataSource]="dataSource"
                            class="mat-elevation-z8"
                          >
                            <caption></caption>
                            <ng-container matColumnDef="chargerName">
                              <th mat-header-cell *matHeaderCellDef>
                                CHARGER NAME
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.chargerName }}
                              </td>
                            </ng-container>

                            <!-- <ng-container matColumnDef="uid">
                              <th
                                mat-header-cell
                                *matHeaderCellDef
                                style="width: 70px;"
                              >
                                UID
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.uid }}
                              </td>
                            </ng-container> -->

                            <ng-container matColumnDef="chargerType">
                              <th mat-header-cell *matHeaderCellDef>
                                CHARGER TYPE
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.chargerType }}
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="faultSince">
                              <th mat-header-cell *matHeaderCellDef>
                                 LAST FAULT
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.faultSince }}
                              </td>
                            </ng-container>
                            <!-- <ng-container matColumnDef="faultDescription">
                              <th mat-header-cell *matHeaderCellDef>
                                FAULT DESCRIPTION
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.faultDescription }}
                              </td>
                            </ng-container> -->
                            <ng-container matColumnDef="timeReported">
                              <th mat-header-cell *matHeaderCellDef>
                                TIME REPORTED
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{
                                  element.timeReported | date: 'dd-MM-yyyy h:mm'
                                }}
                              </td>
                            </ng-container>
                            <!-- <ng-container matColumnDef="locationId">
                              <th mat-header-cell *matHeaderCellDef>
                                LOCATION ID
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.locationId }}
                              </td>
                            </ng-container> -->
                            <ng-container matColumnDef="locationName">
                              <th mat-header-cell *matHeaderCellDef>
                                LOCATION NAME
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.locationName }}
                              </td>
                            </ng-container>

                            <tr
                              mat-header-row
                              *matHeaderRowDef="displayedColumnsLocation"
                            ></tr>
                            <tr
                              mat-row
                              *matRowDef="
                                let row;
                                columns: displayedColumnsLocation
                              "
                            ></tr>
                          </table>
                          <ng-container *ngIf="isTableHasData">
                            <p class="text-center">No record found</p>
                          </ng-container>
                        </div>

                        <mat-paginator
                          #paginator
                          [hidden]="!dataSource.data.length"
                          (page)="pageChange($event)"
                          [length]="totalCount"
                          [pageSize]="pageSize"
                          [pageSizeOptions]="pageSizeOptions"
                        ></mat-paginator>
                      </div>
                      <div
                        class="cust-list-group2 layout"
                        id="pdfTable"
                        #pdfTable
                        *ngIf="isCharger"
                      >
                        <div class="layout mat-data">
                          <ng-container>
                            <form [formGroup]="searchFilter">
                              <div class="barbar-block13 layout">
                                <div class="barbar-block13-item mbottom">
                                  <div class="barbar-block14 layout">
                                    <h5 class="barbar-highlights layout">
                                      Start Date
                                    </h5>
                                    <div class="barbar-box6 layout">
                                      <div class="mat-form-field-datepicker">
                                        <mat-form-field>
                                          <input
                                            matInput
                                            [matDatepicker]="fromDate"
                                            formControlName="fromDate"
                                            readonly
                                            (dateChange)="checkStartDate()"
                                          />

                                          <mat-datepicker-toggle
                                            matSuffix
                                            [for]="fromDate"
                                          ></mat-datepicker-toggle>
                                          <mat-datepicker
                                            #fromDate
                                          ></mat-datepicker>
                                        </mat-form-field>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="barbar-block13-item mbottom">
                                  <div class="barbar-block14 layout">
                                    <h5 class="barbar-highlights layout">
                                      End Date
                                    </h5>
                                    <div class="barbar-box6 layout">
                                      <div class="mat-form-field-datepicker">
                                        <mat-form-field>
                                          <input
                                            matInput
                                            [matDatepicker]="toDate"
                                            [matDatepickerFilter]="
                                              dateFilterForEnd
                                            "
                                            formControlName="toDate"
                                            readonly
                                            (dateChange)="
                                              checkValidFrom($event)
                                            "
                                          />

                                          <mat-datepicker-toggle
                                            matSuffix
                                            [for]="toDate"
                                          ></mat-datepicker-toggle>
                                          <mat-datepicker
                                            #toDate
                                          ></mat-datepicker>
                                        </mat-form-field>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="barbar-block13-item mbottom">
                                  <div class="barbar-block14 layout">
                                    <h5 class="barbar-highlights layout">
                                      Select Status
                                    </h5>
                                    <div class="barbar-box6 layout">
                                      <!-- <mat-form-field class="form-select">
                                        <div class="mat-form-field-infix">
                                          <mat-label>Select</mat-label>
                                          <mat-select
                                            multiple
                                            formControlName="status"
                                            class="barbar-input-text"
                                          >
                                            <mat-option
                                              *ngFor="let item of statusList"
                                              [value]="item.name"
                                            >
                                              {{ item.name }}
                                            </mat-option>
                                          </mat-select>
                                        </div>
                                      </mat-form-field> -->
                                      <mat-form-field
                                        class="dashboard-text-body1 layout9"
                                      >
                                        <mat-label>Select Status</mat-label>
                                        <mat-select
                                          multiple
                                          formControlName="status"
                                        >
                                          <mat-option
                                            *ngFor="let item of statusList"
                                            [value]="item.name"
                                          >
                                            {{ item.name }}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                    </div>
                                  </div>
                                </div>
                                <div class="barbar-block14 layout">
                                  <div class="barbar-flex1 layout">
                                    <div class="barbar-flex1-item">
                                      <div class="barbar-block17 layout">
                                        <div class="barbar-text-body2 layout">
                                          <button (click)="resetFilter()">
                                            Reset
                                          </button>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="barbar-flex1-spacer"></div>
                                    <div class="barbar-flex1-item">
                                      <div class="barbar-block16 layout">
                                        <div
                                          class="barbar-text-body1 layout submit-action"
                                        >
                                          <input
                                            type="submit"
                                            value="Search"
                                            (click)="filter()"
                                          />
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- <mat-form-field
                                class="dashboard-text-body1 layout9"
                              >
                                <mat-label>Select Status</mat-label>
                                <mat-select multiple formControlName="status" class="barbar-input-text">
                                  <mat-option
                                    *ngFor="let item of statusList"
                                    [value]="item.name"
                                  >
                                    {{ item.name }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field> -->
                              </div>
                            </form>
                          </ng-container>

                          <table
                            mat-table
                            [dataSource]="dataSource"
                            class="mat-elevation-z8"
                          >
                            <ng-container matColumnDef="chargerName">
                              <th mat-header-cell *matHeaderCellDef>
                                CHARGER NAME
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.chargerName }}
                              </td>
                            </ng-container>

                            <!-- <ng-container matColumnDef="uid">
                              <th
                                mat-header-cell
                                *matHeaderCellDef
                                style="width: 70px;"
                              >
                                UID
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.uid }}
                              </td>
                            </ng-container> -->

                            <ng-container matColumnDef="chargerType">
                              <th mat-header-cell *matHeaderCellDef>
                                CHARGER TYPE
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.chargerType }}
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="faultSince">
                              <th mat-header-cell *matHeaderCellDef>
                                 LAST FAULT
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.faultSince }}
                              </td>
                            </ng-container>
                            <!-- <ng-container matColumnDef="faultDescription">
                              <th mat-header-cell *matHeaderCellDef>
                                FAULT DESCRIPTION
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.faultDescription }}
                              </td>
                            </ng-container> -->
                            <ng-container matColumnDef="timeReported">
                              <th mat-header-cell *matHeaderCellDef>
                                TIME REPORTED
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{
                                  element.timeReported | date: 'dd-MM-yyyy h:mm'
                                }}
                              </td>
                            </ng-container>
                            <!-- <ng-container matColumnDef="locationId">
                              <th mat-header-cell *matHeaderCellDef>
                                LOCATION ID
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.locationId }}
                              </td>
                            </ng-container> -->
                            <ng-container matColumnDef="locationName">
                              <th mat-header-cell *matHeaderCellDef>
                                LOCATION NAME
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.locationName }}
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="chargingStatus">
                              <th mat-header-cell *matHeaderCellDef>
                                CHARGING STATUS
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.chargingStatus }}
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="startTime">
                              <th mat-header-cell *matHeaderCellDef>
                                START TIME
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{
                                  element.startTime | date: 'dd-MM-yyyy h:mm'
                                }}
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="endTime">
                              <th mat-header-cell *matHeaderCellDef>
                                END TIME
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.endTime | date: 'dd-MM-yyyy h:mm' }}
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="startmetervalue">
                              <th mat-header-cell *matHeaderCellDef>
                                START METER VALUE(kWh)
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.startmetervalue }}
                              </td>
                            </ng-container>

                            <ng-container matColumnDef="endmetervalue">
                              <th mat-header-cell *matHeaderCellDef>
                                END METER VALUE(kWh)
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.endmetervalue }}
                              </td>
                            </ng-container>

                            <ng-container matColumnDef="reasoneForStop">
                              <th mat-header-cell *matHeaderCellDef>
                                REASON FOR STOP
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.reasoneForStop }}
                              </td>
                            </ng-container>

                            <tr
                              mat-header-row
                              *matHeaderRowDef="displayedColumns"
                            ></tr>
                            <tr
                              mat-row
                              *matRowDef="let row; columns: displayedColumns"
                            ></tr>
                          </table>
                          <ng-container *ngIf="isTableHasData">
                            <p class="text-center">No record found</p>
                          </ng-container>
                        </div>

                        <mat-paginator
                          #paginator
                          [hidden]="!dataSource.data.length"
                          (page)="pageChange($event)"
                          [length]="totalCount"
                          [pageSize]="pageSize"
                          [pageSizeOptions]="pageSizeOptions"
                        ></mat-paginator>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dashboard-block13-spacer"></div>
        </div>
      </div>
    </div>
  </div>
</div>
