<div class="box-element-block2 layout">
  <div class="box-element-block5 layout">
    <img src="{{ data[0].Icon }}" class="box-element-box2 layout" />
    <div class="box-element-block6 layout">
      <h3 class="box-element-subtitle layout">{{ data[0].Value }}</h3>
      <div class="box-element-text-body layout">{{ data[0].Key }}</div>
    </div>
  </div>
  <div class="box-element-block2-spacer dotted_line">
    <hr />
  </div>
  <div class="box-element-block5 layout1">
    <img src="{{ data[1].Icon }}" class="box-element-box2 layout" />
    <div class="box-element-block6 layout">
      <h3 class="box-element-subtitle layout">{{ data[1].Value }}</h3>
      <div class="box-element-text-body layout">{{ data[1].Key }}</div>
    </div>
  </div>
</div>
