@use '../../../../styles' as *;

$font_type0: 700 20px/1.2 'Roboto', Helvetica, Arial, serif;
$font_type1: 13px/1.2 'Roboto', Helvetica, Arial, serif;

.box-element- {
  &block2 {
    @include flex-column;
    flex-direction: row;
    // flex-wrap: wrap;
    justify-content: flex-start;
    // align-content: center;
    // align-items: center;
  }
  &block2.layout {
    position: relative;
    height: min-content;
    margin: 20px 0px 30px;
    @include lg {
      margin: 20px 0px 30px;
    }
    @include lg {
      margin: 10px 0px 20px;
    }
  }
  &block5 {
    @include flex-column;
    align-items: center;
  }
  &block5.layout {
    position: relative;
    flex: 0 1 105px;
    height: min-content;
    margin: 0px 0px 1px;
    @include xl1 {
      flex: 0 1 90px;
    }
    
  }
  &box2 {
    border: 1px solid rgb(173, 173, 173);
    border-radius: 8px 8px 8px 8px;
  }
  &box2.layout {
    position: relative;
    height: 50px;
    width: 50px;
    // margin: 0px 27px 0px 28px;
    @include xl1 {
      // margin: 0px 18px 0px 20px;
      width: 40px;
      height: 40px;
    }
  }
  &block6 {
    @include flex-column;
    justify-items: center;
  }
  &block6.layout {
    position: relative;
    height: min-content;
    margin: 14px auto;
    text-align: center;
  }
  &subtitle {
    @include font-face($font_type0, rgb(19, 27, 33), 0px);
  }
  &subtitle.layout {
    position: relative;
    height: min-content;
    text-align: center;
  }
  &text-body {
    @include font-face($font_type1, rgb(112, 120, 127), 0px);
  }
  &text-body.layout {
  }
  &block2-spacer {
    flex: 1 1 auto;
    max-width: 30%;
  }
  &block5.layout1 {
    position: relative;
    flex: 0 1 105px;
    height: min-content;
  }
}
.box-element-box2.layout {
  padding: 10px;
  box-sizing: border-box;
}
.box-element-block2.layout {
  margin: 20px auto;
}
.dotted_line hr {
  width: 1px;
  height: 100px;
  border: 0;
  border-left: 1px dotted #c2c5c8;
}
