@import '../../../../styles';
a {
  text-decoration: none;
}

.nav- {
  &transition {
    transition: width 500ms, height 4s ease-in;
  }

  &block19 {
    // @include flex-column;
    background-color: rgb(50, 62, 72);
  }
  &block19.layout {
    position: relative;
    height: 100%;
    //width: 194px;
    width: 250px;
    z-index: 6;

    // @include lg {
    //   margin: 90px;
    // }
    // @include md {
    //   width: 90px;
    //   max-width: 90px;
    // }
    // @include xs {
    //   width: 70px;
    // }
    // @include xxs {
    //   width: 60px;
    // }
  }
  &block2 {
    // @include flex-column;
    background-color: rgb(50, 62, 72);
  }
  &block2.layout {
    position: relative;
    height: 100%;
    //width: 194px;
    width: 250px;
    z-index: 6;

    // min-width: 194px;
    // @include lg {
    //   width: 90px;
    // }
    @include md {
      width: 90px;
      max-width: 90px;
      // min-width: 90px;
    }
    @include xs {
      width: 70px;
      // min-width: 70px;
    }
    @include xxs {
      width: 60px;
      // min-width: 60px;
    }
  }
  &block2-collapse {
    @include flex-column;
    background-color: rgb(50, 62, 72);
  }
  &block2-collapse.layout {
    position: relative;
    height: 100%;
    width: 70px;
    min-width: 70px;
    @include lg {
      margin: 0px;
    }
    @include md {
      width: 90px;
      min-width: 90px;
    }
    @include xs {
      width: 70px;
      min-width: 70px;
    }
    @include xxs {
      width: 60px;
      min-width: 60px;
    }
  }

  &block3 {
    display: flex;
    background-color: rgb(38, 48, 56);
  }
  &block3.layout {
    position: relative;
    height: min-content;
    @include xxs {
      margin: 0px;
    }
  }
  &block3-item {
    @include flex-column;
    position: relative;
    flex: 1 1 194px;
  }
  &box {
    // background-color: rgb(217, 217, 217);
  }
  &box.layout {
    position: relative;
    height: 24px;
    width: 100%;
    min-width: 25px;
    margin: 18px auto;
    text-align: center;
    cursor: pointer;
    img {
      width: 85%;
    }
  }
}
/* niharika added
*/

.setWidthGoogleNav {
  width: 73px !important;
}

.link-active {
  color: #18242e;
}
.navbtn- {
  &block4 {
    @include flex-column;
    background-color: rgb(50, 62, 72);
    border: 1px solid rgb(217, 217, 217);
  }
  &block4.layout {
    position: relative;
    height: 70px;
    width: 100%;
    min-width: 100%;
    margin: 0px 0px;
    z-index: 6;
    // @include md {
    //   width: 90px;
    //   min-width: 90px;
    // }
    // @include xs {
    //   width: 70px;
    //   min-width: 70px;
    // }
    // @include xxs {
    //   width: 60px;
    //   min-width: 60px;
    // }
  }

  &block4.layout-colapse {
    position: relative;
    height: 70px;
    width: 100%;
    min-width: 100%;
    margin: 0px 0px;
    z-index: 6;
    @include md {
      width: 90px;
      min-width: 90px;
    }
    @include xs {
      width: 70px;
      min-width: 70px;
    }
    @include xxs {
      width: 60px;
      min-width: 60px;
    }
  }
  &block5 {
    @include h-center-content;
  }
  &block5.layout {
    position: relative;
    height: min-content;
    width: 52.58%;
    margin: 27px auto 26px;
    z-index: 6;
    @include sm {
      display: flex;
    }
  }
  &block5-item {
    @include flex-column;
    position: relative;
    flex: 0 1 16px;
    z-index: 6;
  }
  &box1 {
    // background-color: rgb(217, 217, 217);
  }
  &box1.layout {
    position: relative;
    height: 16px;
    width: 16px;
    min-width: 16px;
    margin: 0px 0px 1px;
    z-index: 6;
    @include md {
      height: 25px;
      width: 25px;
      min-width: 25px;
    }
  }
  &block5-spacer {
    flex: 0 0 auto;
    min-width: 13px;
    z-index: 6;
    @include sm {
      display: none;
    }
  }
  &block5-item1 {
    @include flex-column;
    position: relative;
    flex: 0 0 auto;
    // @include sm {
    //   min-width: unset;
    //   display: none;
    // }
  }
  &block5-item1-colapse {
    @include flex-column;
    position: relative;
    flex: 0 0 auto;
    @include sm {
      min-width: unset;
      display: none;
    }
  }
  &text-body {
    @include font-face($font_type4, rgb(255, 255, 255), 0px);
    @include md {
      font-size: 12px;
      text-align: left;
    }
  }
  &text-body-collapse {
    display: none;
    @include font-face($font_type4, rgb(255, 255, 255), 0px);
    @include md {
      font-size: 12px;
      text-align: left;
    }
  }
  &text-body.layout {
    position: relative;
    height: min-content;
    min-width: 0px;
    width: fit-content;
    margin: 1px 0px 0px;
    @include md {
      // display: none;
    }
  }
}
.navbtn-block4 {
  border: none;
  border-bottom: 1px solid #57616a;
  z-index: 6;
}
.navbtn-block5.layout {
  padding: 27px 26px;
  box-sizing: border-box;
  margin: 0;
}
.navbtn-block5 {
  justify-content: left;
}
.navbtn-block5.layout {
  width: 100%;
}
.navbtn-block5 {
  &.link-active {
    background-color: #2d3841;
    cursor: pointer;
  }
}

.nav-box.layout{
  width: auto;
}

.submenu {
  margin-left: 20px; // Adjust as needed
  padding-left: 10px;
  border-left: 2px solid #57616a;
  display: block;
  transition: all 0.3s ease-in-out;
}

.menu-with-submenu {
  cursor: pointer;
}

.submenu-item {
  display: flex;
  align-items: center;
  padding: 8px 0;
  text-decoration: none;
  color: #fff;
}

.submenu-item:hover {
  color: #00aaff; // Highlight color on hover
}

.arrow-icon {
  margin-left: 5px;
  font-size: 14px;
  color: #fff;
}
