<div class="cust-list-flex1 layout manage-charger-main">
  <h1 class="cust-list-subtitle layout">Chargers</h1>
  <div class="cust-list-flex1-item">
    <div class="cust-list-block3 layout">
      <div class="cust-list-block3-item">
        <div class="cust-list-block4 layout">
          <div class="cust-list-block4-item">
            <div class="cust-list-block5 layout">
              <div class="cust-list-block5-item">
                <div class="cust-list-block6 layout">
                  <div class="cust-list-block7 layout">
                    <div class="cust-list-block7-item">
                      <div class="cust-list-block8 layout" [style.background-color]="
                          portType ? portType[portType.length - 1].color : ''
                        ">
                        <div class="cust-list-box7 layout">
                          <img src="../../../../assets/Admin-SideNav/Charger-Icons/Total-port.svg" alt="Total Port" />
                        </div>
                      </div>
                    </div>
                    <div class="cust-list-block7-spacer"></div>
                    <div class="cust-list-block7-item1">
                      <div class="cust-list-block9 layout">
                        <h1 class="cust-list-hero-title layout mt_zero">
                          {{
                          portType ? portType[portType.length - 1]?.count : ''
                          }}
                        </h1>
                        <div class="cust-list-text-body2 layout">
                          {{
                          portType
                          ? portType[portType.length - 1]?.portType
                          : ''
                          }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cust-list-block5-spacer"></div>
              <div class="cust-list-block5-item1">
                <div class="cust-list-image layout"></div>
              </div>
            </div>
          </div>
          <div class="cust-list-block4-spacer"></div>
          <div class="cust-list-block4-item">
            <div class="cust-list-block10 layout">
              <div class="cust-list-block10-item">
                <div class="cust-list-block11 layout">
                  <div class="cust-list-block12 layout">
                    <div class="cust-list-block12-item">
                      <div class="cust-list-block13 layout" [style.background-color]="
                          portType ? portType[0].color : ''
                        ">
                        <div class="cust-list-box7 layout">
                          <img src="../../../../assets/Admin-SideNav/Charger-Icons/Total-port.svg" alt="Total-ports" />
                        </div>
                      </div>
                    </div>
                    <div class="cust-list-block12-spacer"></div>
                    <div class="cust-list-block12-item1">
                      <div class="cust-list-block14 layout">
                        <h1 class="cust-list-hero-title layout">
                          {{ portType ? portType[0]?.count : '' }}
                        </h1>
                        <div class="cust-list-text-body2 layout1">
                          {{ portType ? portType[0]?.portType : '' }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cust-list-block10-spacer"></div>
              <div class="cust-list-block10-item1">
                <div class="cust-list-image layout1"></div>
              </div>
            </div>
          </div>
          <div class="cust-list-block4-spacer"></div>
          <div class="cust-list-block4-item1">
            <div class="cust-list-block15 layout">
              <div class="cust-list-block15-item">
                <div class="cust-list-block16 layout">
                  <div class="cust-list-block17 layout">
                    <div class="cust-list-block17-item">
                      <div class="cust-list-block18 layout" [style.background-color]="
                          portType ? portType[1].color : ''
                        ">
                        <div class="cust-list-box7 layout">
                          <img src="../../../../assets/Admin-SideNav/Charger-Icons/Total-port.svg" alt="Total-ports" />
                        </div>
                      </div>
                    </div>
                    <div class="cust-list-block17-spacer"></div>
                    <div class="cust-list-block17-item1">
                      <div class="cust-list-block14 layout">
                        <h1 class="cust-list-hero-title layout">
                          {{ portType ? portType[1]?.count : '' }}
                        </h1>
                        <div class="cust-list-text-body2 layout2">
                          {{ portType ? portType[1]?.portType : '' }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cust-list-block15-spacer"></div>
              <div class="cust-list-block15-item1">
                <div class="cust-list-image layout2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- FILTER BAR -->
  <form [formGroup]="searchFilter" class="charger-filter-bar">

    <!-- LEFT SIDE (Search + Filters) -->
    <div class="filter-left">

      <!-- SEARCH INPUT -->
      <div class="search-wrapper">
        <input formControlName="searchText"
          appInputTooltip="Search by asset id, charge box id, location name, make, model, sim card" type="text"
          placeholder="Search for Charger" (keyup)="applyFilter($event)" />
        <button type="button" class="search-icon-btn">
          <img src="../../../../assets/Admin-SideNav/Charger-Icons/Search.svg" alt="Search" />
        </button>
      </div>

      <!-- LOCATION -->
      <mat-form-field appearance="outline" class="filter-field">
        <mat-label>Location</mat-label>
        <mat-select multiple formControlName="locationId">
          <mat-option *ngFor="let data of locationList" [value]="data.id"
            (onSelectionChange)="onSelectLocation($event, data.id)">
            {{ data.locationName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- STATUS -->
      <mat-form-field appearance="outline" class="filter-field">
        <mat-label>Status</mat-label>
        <mat-select formControlName="activationStatus">
          <mat-option value="1">Active</mat-option>
          <mat-option value="2">Inactive</mat-option>
        </mat-select>
      </mat-form-field>

      <button type="button" class="btn primary action-btn" (click)="GetDispensersWithPagination()">
        SEARCH
      </button>

      <button type="button" class="btn secondary action-btn" (click)="resetFilter()">
        RESET
      </button>

    </div>

    <!-- RIGHT SIDE (Buttons) -->
    <div class="filter-right">


      <button type="button" class="btn primary add-btn action-btn" [routerLink]="['add-chargers']">
        + ADD CHARGER
      </button>
    </div>

  </form>


  <div class="layout mat-data">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="assetId">
        <th mat-header-cell *matHeaderCellDef>ASSET ID</th>
        <td mat-cell *matCellDef="let element">
          {{ element.assetId}}
        </td>
      </ng-container>
      <ng-container matColumnDef="chargeBoxId">
        <th mat-header-cell *matHeaderCellDef>CHARGE BOX ID</th>
        <td mat-cell *matCellDef="let element">
          {{ element.chargeBoxId }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="locationName">
        <th mat-header-cell *matHeaderCellDef>LOCATION NAME</th>
        <td mat-cell *matCellDef="let element">
          {{ element.locationName }}
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="make">
        <th mat-header-cell *matHeaderCellDef>MAKE</th>
        <td mat-cell *matCellDef="let element">
          {{ element.makeName }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef>MODEL</th>
        <td mat-cell *matCellDef="let element">
          {{ element.modelName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>STATUS</th>
        <td mat-cell *matCellDef="let element">
          {{ element.status }}
        </td>
      </ng-container>
      <ng-container matColumnDef="protocol">
        id
        <th mat-header-cell *matHeaderCellDef>PROTOCOL</th>
        <td mat-cell *matCellDef="let element">
          {{ element.protocolName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="simCardMSIDN">
        id
        <th mat-header-cell *matHeaderCellDef>SIM ICCID</th>
        <td mat-cell *matCellDef="let element">
          {{ element.simCardMSIDN }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef>ACTION</th>

        <td mat-cell *matCellDef="let element">
          <div class="action-icons">

            <!-- Deactivate -->
            <button *ngIf="element.isActive" type="button" class="icon-btn" aria-label="Deactivate" title="Deactivate"
              (click)="IsActiveDispenserById(element.id, false)">
              <img src="../../../../assets/Active.svg" alt="Deactivate" />
            </button>

            <!-- Activate -->
            <button *ngIf="!element.isActive" type="button" class="icon-btn" aria-label="Activate" title="Activate"
              (click)="IsActiveDispenserById(element.id, true)">
              <img src="../../../../assets/Admin-SideNav/Vehicles-Icons/Active-tik.svg" alt="Activate" />
            </button>

            <!-- View -->
            <button type="button" class="icon-btn" aria-label="View charger" title="View"
              (click)="viewCharger(element.id)">
              <img src="../../../../assets/Admin-SideNav/Charger-Icons/View.svg" alt="View" />
            </button>

            <!-- Edit -->
            <button type="button" class="icon-btn" aria-label="Edit charger" title="Edit"
              (click)="editCharger(element.id)">
              <img src="../../../../assets/Admin-SideNav/Charger-Icons/Edit.svg" alt="Edit" />
            </button>
                <button
      type="button"
      class="icon-button"
      aria-label="Delete vehicle"
      title="Delete"
      (click)="confirmDeleteCharger(element.id)"
    >
      <img
        src="assets/Admin-SideNav/Vehicles-Icons/delete-icon.svg"
        alt="Delete"
        loading="lazy"
      />
    </button>

          </div>
        </td>


      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <ng-container *ngIf="isTableHasData">
      <p class="text-center">No record found</p>
    </ng-container>
  </div>

  <mat-paginator #paginator [hidden]="!dataSource.data.length" (page)="pageChange($event)" [length]="totalCount"
    [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
</div>