<div class="cust-list-flex1 layout manage-charger-main">
  <h3 class="cust-list-subtitle layout">Chargers</h3>
  <div class="cust-list-flex1-item">
    <div class="cust-list-block3 layout">
      <div class="cust-list-block3-item">
        <div class="cust-list-block4 layout">
          <div class="cust-list-block4-item">
            <div class="cust-list-block5 layout">
              <div class="cust-list-block5-item">
                <div class="cust-list-block6 layout">
                  <div class="cust-list-block7 layout">
                    <div class="cust-list-block7-item">
                      <div
                        class="cust-list-block8 layout"
                        [style.background-color]="
                          portType ? portType[portType.length - 1].color : ''
                        "
                      >
                        <div class="cust-list-box7 layout">
                          <img
                            src="../../../../assets/Admin-SideNav/Charger-Icons/Total-port.svg"
                            alt="Total Port"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="cust-list-block7-spacer"></div>
                    <div class="cust-list-block7-item1">
                      <div class="cust-list-block9 layout">
                        <h1 class="cust-list-hero-title layout mt_zero">
                          {{
                            portType ? portType[portType.length - 1]?.count : ''
                          }}
                        </h1>
                        <div class="cust-list-text-body2 layout">
                          {{
                            portType
                              ? portType[portType.length - 1]?.portType
                              : ''
                          }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cust-list-block5-spacer"></div>
              <div class="cust-list-block5-item1">
                <div class="cust-list-image layout"></div>
              </div>
            </div>
          </div>
          <div class="cust-list-block4-spacer"></div>
          <div class="cust-list-block4-item">
            <div class="cust-list-block10 layout">
              <div class="cust-list-block10-item">
                <div class="cust-list-block11 layout">
                  <div class="cust-list-block12 layout">
                    <div class="cust-list-block12-item">
                      <div
                        class="cust-list-block13 layout"
                        [style.background-color]="
                          portType ? portType[0].color : ''
                        "
                      >
                        <div class="cust-list-box7 layout">
                          <img
                            src="../../../../assets/Admin-SideNav/Charger-Icons/Total-port.svg"
                            alt="Total-ports"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="cust-list-block12-spacer"></div>
                    <div class="cust-list-block12-item1">
                      <div class="cust-list-block14 layout">
                        <h1 class="cust-list-hero-title layout">
                          {{ portType ? portType[0]?.count : '' }}
                        </h1>
                        <div class="cust-list-text-body2 layout1">
                          {{ portType ? portType[0]?.portType : '' }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cust-list-block10-spacer"></div>
              <div class="cust-list-block10-item1">
                <div class="cust-list-image layout1"></div>
              </div>
            </div>
          </div>
          <div class="cust-list-block4-spacer"></div>
          <div class="cust-list-block4-item1">
            <div class="cust-list-block15 layout">
              <div class="cust-list-block15-item">
                <div class="cust-list-block16 layout">
                  <div class="cust-list-block17 layout">
                    <div class="cust-list-block17-item">
                      <div
                        class="cust-list-block18 layout"
                        [style.background-color]="
                          portType ? portType[1].color : ''
                        "
                      >
                        <div class="cust-list-box7 layout">
                          <img
                            src="../../../../assets/Admin-SideNav/Charger-Icons/Total-port.svg"
                            alt="Total-ports"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="cust-list-block17-spacer"></div>
                    <div class="cust-list-block17-item1">
                      <div class="cust-list-block14 layout">
                        <h1 class="cust-list-hero-title layout">
                          {{ portType ? portType[1]?.count : '' }}
                        </h1>
                        <div class="cust-list-text-body2 layout2">
                          {{ portType ? portType[1]?.portType : '' }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cust-list-block15-spacer"></div>
              <div class="cust-list-block15-item1">
                <div class="cust-list-image layout2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cust-list-flex3 layout">
    <div class="cust-list-flex3-item">
      <div class="cust-list-group layout">
        <div class="cust-list-block19 layout">
          <div class="cust-list-box9 layout">
            <img
              src="../../../../assets/Admin-SideNav/Charger-Icons/Search.svg"
              alt="Search"
              alt=""
              class="cust-list-icon layout"
            />
          </div>

          <div class="cust-list-block20 layout">
            <input
              class="cust-list-text-body21 layout"
              (keyup)="applyFilter($event)"
              placeholder="Search by chargebox id"
              #input
            />
          </div>
        </div>
      </div>
    </div>
    <div class="cust-list-flex3-spacer"></div>
    <div class="cust-list-flex3-item1" [routerLink]="['add-chargers']">
      <div class="cust-list-block23 layout">
        <div class="cust-list-block23-item">
          <div class="cust-list-box10 layout">
            <img
              src="../../../../assets/Admin-SideNav/Charger-Icons/Add-Charger.svg"
              alt=""
              srcset=""
            />
          </div>
        </div>
        <div class="cust-list-block23-spacer"></div>
        <div class="cust-list-text-body4 layout">ADD CHARGER</div>
      </div>
    </div>
  </div>
  <div class="layout mat-data">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="chargeBoxId">
        <th mat-header-cell *matHeaderCellDef>CHARGE BOX ID</th>
        <td mat-cell *matCellDef="let element">
          {{ element.chargeBoxId }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="locationName">
        <th mat-header-cell *matHeaderCellDef>LOCATION NAME</th>
        <td mat-cell *matCellDef="let element">
          {{ element.locationName }}
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="make">
        <th mat-header-cell *matHeaderCellDef>MAKE</th>
        <td mat-cell *matCellDef="let element">
          {{ element.makeName }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef>MODEL</th>
        <td mat-cell *matCellDef="let element">
          {{ element.modelName }}
        </td>
      </ng-container>
      <!-- <ng-container matColumnDef="switchGear">
        <th mat-header-cell *matHeaderCellDef>SWITCH GEAR</th>
        <td mat-cell *matCellDef="let element">
          {{ element.switchGear }}
        </td>
      </ng-container> -->
      <ng-container matColumnDef="rfidReader">
        his.
        <th mat-header-cell *matHeaderCellDef>RFID READER</th>
        <td mat-cell *matCellDef="let element">
          {{ element.rfidReader }}
        </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>STATUS</th>
        <td mat-cell *matCellDef="let element">
          {{ element.status }}
        </td>
      </ng-container>
      <ng-container matColumnDef="protocol">
        id
        <th mat-header-cell *matHeaderCellDef>PROTOCOL</th>
        <td mat-cell *matCellDef="let element">
          {{ element.protocolName }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef>ACTION</th>
        <td mat-cell *matCellDef="let element" style="cursor: pointer;">
          <img
            src="../../../../assets/Admin-SideNav/Charger-Icons/View.svg"
            alt=""
            title="View"
            style="cursor: pointer;"
            (click)="viewCharger(element.id)"
          />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <img
            src="../../../../assets/Admin-SideNav/Charger-Icons/Edit.svg"
            alt=""
            title="Edit"
            style="cursor: pointer;"
            (click)="editCharger(element.id)"
          />
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <ng-container *ngIf="isTableHasData">
      <p class="text-center">No record found</p>
    </ng-container>
  </div>

  <mat-paginator
    #paginator
    [hidden]="!dataSource.data.length"
    (page)="pageChange($event)"
    [length]="totalCount"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
  ></mat-paginator>
</div>
