<div class="statuspanel-block46 layout">
  <div class="statuspanel-block47 layout">
    <div class="statuspanel-block45 layout1">
      <div class="statuspanel-block45-item">
        <div class="statuspanel-group layout2">
          <h4 class="statuspanel-highlights2 layout">{{ title }}</h4>
        </div>
      </div>
      <div class="statuspanel-block45-spacer1"></div>
      <div class="statuspanel-block45-item2">
        <img src="{{ icon }}" class="statuspanel-box16 layout" alt="" />
      </div>
    </div>

    <!-- add the content here -->

    <app-status-box-element [data]="data"></app-status-box-element>
  </div>
</div>
