<div class="list-element-block2 layout">
  <div class="list-element-block6 layout">
    <div class="list-element-block3 layout">
      <div class="list-element-block3-item">
        <div class="list-element-block4 layout">
          <img src="{{ Icon }}" class="list-element-box3 layout" alt="" />
        </div>
      </div>
      <div class="list-element-block3-spacer"></div>
      <div class="list-element-block3-item1">
        <div class="list-element-block5 layout">
          <h3 class="list-element-subtitle layout">
            {{ EnergyUsedData.Value }}
          </h3>
          <div class="list-element-text-body layout">
            {{ EnergyUsedData.Key }}
          </div>
        </div>
      </div>
    </div>
    <!-- <hr> -->
  </div>
</div>
