<div class="barbar-block10 layout">
  <div class="barbar-flex layout">
    <div class="barbar-block11 layout">
      <h1 class="barbar-subtitle layout">{{ chargerTitle }}</h1>
    </div>

    <form [formGroup]="addChargerFormGroup">
      <div></div>
      <div></div>
      <div class="barbar-block12 layout">
        <div class="barbar-block13 layout">
          <div class="barbar-block13-item mbottom">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Asset ID
                <span style="color: 'red';">*</span>
              </h5>

              <div
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    addChargerFormGroup.get('assetId')?.errors &&
                    submitted == true
                }"
              >
                <input
                  formControlName="assetId"
                  type="text"
                  class="barbar-input-text"
                />
              </div>
              <span
                *ngIf="
                  !addChargerFormGroup.get('assetId')?.valid &&
                  addChargerFormGroup.get('assetId')?.touched &&
                  addChargerFormGroup.get('assetId')?.value.length > 0
                "
                class="error-mess"
              >
                Asset ID Must Be Between 1 To 20 Characters And Number Only
              </span>
              <span
                *ngIf="
                  !addChargerFormGroup.get('assetId')?.valid &&
                  addChargerFormGroup.get('assetId')?.touched &&
                  addChargerFormGroup.get('assetId')?.value.length == 0
                "
                class="error-mess"
              >
                Asset ID Is Required
              </span>
            </div>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Charger Box ID
                <span style="color: 'red';">*</span>
              </h5>
              <div
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    addChargerFormGroup.get('chargeBoxId')?.errors &&
                    submitted == true
                }"
              >
                <input
                  formControlName="chargeBoxId"
                  type="text"
                  class="barbar-input-text"
                />
              </div>
              <span
                *ngIf="
                  !addChargerFormGroup.get('chargeBoxId')?.valid &&
                  addChargerFormGroup.get('chargeBoxId')?.touched &&
                  addChargerFormGroup.get('chargeBoxId')?.value.length > 0
                "
                class="error-mess"
              >
                Charger Box ID Must Be Between 1 To 100 Alphanumeric Only
              </span>
              <span
                *ngIf="
                  !addChargerFormGroup.get('chargeBoxId')?.valid &&
                  addChargerFormGroup.get('chargeBoxId')?.touched &&
                  addChargerFormGroup.get('chargeBoxId')?.value.length == 0
                "
                class="error-mess"
              >
                Charger Box ID Is Required
              </span>
            </div>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Location
                <span style="color: 'red';">*</span>
              </h5>
              <mat-form-field
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    addChargerFormGroup.get('locationId')?.errors &&
                    submitted == true
                }"
              >
                <mat-label>Select</mat-label>
                <mat-select
                  class="selectLocationData"
                  [value]="selectedLocation"
                  formControlName="locationId"
                >
                  <mat-option
                    *ngFor="let data of getLocation"
                    [value]="data.id"
                    (onSelectionChange)="selectLocation($event, data.id)"
                  >
                    {{ data.locationName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <span
              *ngIf="
                !addChargerFormGroup.get('locationId')?.valid &&
                addChargerFormGroup.get('locationId')?.touched &&
                addChargerFormGroup.get('locationId')?.value.length == 0
              "
              class="error-mess"
            >
              Location Is Required
            </span>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item mbottom">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">End Point</h5>
              <div class="barbar-box6 layout">
                <input
                  formControlName="endPointUrl"
                  type="text"
                  maxlength="20"
                  class="barbar-input-text"
                />
              </div>
            </div>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item mbottom">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">Firmware Version</h5>
              <div class="barbar-box6 layout">
                <input
                  formControlName="firmwareVersion"
                  type="text"
                  maxlength="20"
                  class="barbar-input-text"
                />
              </div>
            </div>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Make
                <span style="color: 'red';">*</span>
              </h5>

              <div
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    addChargerFormGroup.get('makeMasterId')?.errors &&
                    submitted == true
                }"
              >
                <input
                  formControlName="makeMasterId"
                  (keypress)="omit_special_char($event)"
                  type="text"
                  class="barbar-input-text"
                />
              </div>
            </div>
            <span
              *ngIf="
                !addChargerFormGroup.get('makeMasterId')?.valid &&
                addChargerFormGroup.get('makeMasterId')?.touched &&
                addChargerFormGroup.get('makeMasterId')?.value.length == 0
              "
              class="error-mess"
            >
              Make Is Required
            </span>
            <span
              *ngIf="
                addChargerFormGroup.get('makeMasterId')?.touched &&
                addChargerFormGroup.get('makeMasterId')?.value.length > 40
              "
              class="error-mess"
            >
              Make Must Be less than 40 Alphanumeric character
            </span>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Model
                <span style="color: 'red';">*</span>
              </h5>
              <div
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    addChargerFormGroup.get('modelId')?.errors &&
                    submitted == true
                }"
              >
                <input
                  formControlName="modelId"
                  (keypress)="omit_special_char($event)"
                  type="text"
                  class="barbar-input-text"
                />
              </div>
            </div>
            <span
              *ngIf="
                !addChargerFormGroup.get('modelId')?.valid &&
                addChargerFormGroup.get('modelId')?.touched &&
                addChargerFormGroup.get('modelId')?.value.length == 0
              "
              class="error-mess"
            >
              Model Is Required
            </span>

            <span
              *ngIf="
                addChargerFormGroup.get('modelId')?.touched &&
                addChargerFormGroup.get('modelId')?.value.length > 40
              "
              class="error-mess"
            >
              Model Must Be less than 40 Alphanumeric Character
            </span>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Pad
                <!-- <span style="color: 'red';">*</span> -->
              </h5>
              <mat-form-field class="barbar-box6 layout">
                <mat-label>Select</mat-label>
                <mat-select [value]="selectedPad" formControlName="padId">
                  <mat-option
                    *ngFor="let data of assetPad"
                    [value]="data.id"
                    (onSelectionChange)="selectPad($event, data)"
                  >
                    {{ data.padName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- <span
              *ngIf="
                !addChargerFormGroup.get('padId')?.valid &&
                addChargerFormGroup.get('padId')?.touched &&
                addChargerFormGroup.get('padId')?.value.length == 0
              "
              class="error-mess"
            >
              Pad Is Required
            </span> -->
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item mbottom">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Cable
                <!-- <span style="color: 'red';">*</span> -->
              </h5>
              <mat-form-field class="barbar-box6 layout">
                <mat-label>Select</mat-label>
                <mat-select [value]="selectedCable" formControlName="cableId">
                  <mat-option
                    *ngFor="let data of CableList"
                    [value]="data.id"
                    (onSelectionChange)="selectCable($event, data)"
                  >
                    {{ data.cableSerialNumber }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- <span
              *ngIf="
                !addChargerFormGroup.get('cableId')?.valid &&
                addChargerFormGroup.get('cableId')?.touched &&
                addChargerFormGroup.get('cableId')?.value.length == 0
              "
              class="error-mess"
            >
              Cable Is Required
            </span> -->
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Modem
                <!-- <span style="color: 'red';">*</span> -->
              </h5>
              <mat-form-field class="barbar-box6 layout">
                <mat-label>Select</mat-label>
                <mat-select [value]="selectedModem" formControlName="modemId">
                  <mat-option
                    *ngFor="let data of Modemlist"
                    [value]="data.id"
                    (onSelectionChange)="selectModem($event, data)"
                  >
                    {{ data.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- <span
              *ngIf="
                !addChargerFormGroup.get('modemId')?.valid &&
                addChargerFormGroup.get('modemId')?.touched &&
                addChargerFormGroup.get('modemId')?.value.length == 0
              "
              class="error-mess"
            >
              Modem Is Required
            </span> -->
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Switch Gear
                <!-- <span style="color: 'red';">*</span> -->
              </h5>
              <mat-form-field class="barbar-box6 layout">
                <mat-label>Select</mat-label>
                <mat-select
                  [value]="selectedSwitch"
                  formControlName="switchGearId"
                >
                  <mat-option
                    *ngFor="let data of SwitchList"
                    [value]="data.id"
                    (onSelectionChange)="selectSwitch($event, data.id)"
                  >
                    {{ data.switchGearName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- <span
              *ngIf="
                !addChargerFormGroup.get('switchGearId')?.valid &&
                addChargerFormGroup.get('switchGearId')?.touched &&
                addChargerFormGroup.get('switchGearId')?.value.length == 0
              "
              class="error-mess"
            >
              Switch Gear Is Required
            </span> -->
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                RFID Reader
                <!-- <span style="color: 'red';">*</span> -->
              </h5>
              <mat-form-field class="barbar-box6 layout">
                <mat-label>Select</mat-label>
                <mat-select
                  [value]="selectedRfidReader"
                  formControlName="rfidReaderId"
                >
                  <mat-option
                    *ngFor="let data of getRfidReader"
                    [value]="data.id"
                    (onSelectionChange)="selectRfidReader($event, data)"
                  >
                    {{ data.cardReader }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- <span
              *ngIf="
                !addChargerFormGroup.get('rfidReaderId')?.valid &&
                addChargerFormGroup.get('rfidReaderId')?.touched &&
                addChargerFormGroup.get('rfidReaderId')?.value.length == 0
              "
              class="error-mess"
            >
              RFID Reader Is Required
            </span> -->
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item mbottom">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Power Cabinet
                <!-- <span style="color: 'red';">*</span> -->
              </h5>
              <mat-form-field class="barbar-box6 layout">
                <mat-label>Select</mat-label>
                <mat-select
                  [value]="selectedPowerCabinet"
                  formControlName="powerCabinetId"
                >
                  <mat-option
                    *ngFor="let data of getPowerCabinet"
                    [value]="data.id"
                    (onSelectionChange)="selectPowerCabinet($event, data)"
                  >
                    {{ data.serialNumber }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- <span
              *ngIf="
                !addChargerFormGroup.get('powerCabinetId')?.valid &&
                addChargerFormGroup.get('powerCabinetId')?.touched &&
                addChargerFormGroup.get('powerCabinetId')?.value.length == 0
              "
              class="error-mess"
            >
              Power Cabinet Is Required
            </span> -->
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Protocol
                <span style="color: 'red';">*</span>
              </h5>
              <div
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    addChargerFormGroup.get('protocolName')?.errors &&
                    submitted == true
                }"
              >
                <input
                  formControlName="protocolName"
                  type="text"
                  class="barbar-input-text"
                />
              </div>
            </div>
          </div>

          <!-- <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Status
                <span style="color: 'red';">*</span>
              </h5>
              <mat-form-field
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    addChargerFormGroup.get('dispenserStatusId')?.errors &&
                    submitted == true
                }"
              >
                <mat-select
                  [value]="selectedStatus"
                  formControlName="dispenserStatusId"
                >
                  <mat-option
                    *ngFor="let data of getDispenserStatu"
                    [value]="data.id"
                    (onSelectionChange)="selectStatus($event, data.id)"
                  >
                    {{ data.status }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <span
              *ngIf="
                !addChargerFormGroup.get('dispenserStatusId')?.valid &&
                addChargerFormGroup.get('dispenserStatusId')?.touched &&
                addChargerFormGroup.get('dispenserStatusId')?.value.length == 0
              "
              class="error-mess"
            >
              Status Is Required
            </span>
          </div> -->
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Hardware Serial Number
                <span style="color: 'red';">*</span>
              </h5>
              <div
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    addChargerFormGroup.get('hardwareSerialNumber')?.errors &&
                    submitted == true
                }"
              >
                <input
                  formControlName="hardwareSerialNumber"
                  type="text"
                  class="barbar-input-text"
                />
              </div>
              <span
                *ngIf="
                  !addChargerFormGroup.get('hardwareSerialNumber')?.valid &&
                  addChargerFormGroup.get('hardwareSerialNumber')?.touched &&
                  addChargerFormGroup.get('hardwareSerialNumber')?.value
                    .length > 100
                "
                class="error-mess"
              >
                Hardware Serial Number Must Be Between 1 To 100 Alphanumeric
              </span>
              <span
                *ngIf="
                  !addChargerFormGroup.get('hardwareSerialNumber')?.valid &&
                  addChargerFormGroup.get('hardwareSerialNumber')?.touched &&
                  addChargerFormGroup.get('hardwareSerialNumber')?.value
                    .length == 0
                "
                class="error-mess"
              >
                Hardware Serial Number Is Required
              </span>
            </div>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Reading Schedule
              </h5>
              <div class="barbar-box6 layout">
                <input
                  formControlName="readingSchedule"
                  type="text"
                  class="barbar-input-text"
                />
              </div>
              <span
                *ngIf="
                  !addChargerFormGroup.get('readingSchedule')?.valid &&
                  addChargerFormGroup.get('readingSchedule')?.touched &&
                  addChargerFormGroup.get('readingSchedule')?.value.length > 20
                "
                class="error-mess"
              >
                Reading Schedule Must Be Between 0 To 20 Characters
              </span>
            </div>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item mbottom">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Meter Type
              </h5>
              <div class="barbar-box6 layout">
                <input
                  formControlName="meterType"
                  type="text"
                  class="barbar-input-text"
                />
              </div>
              <span
                *ngIf="
                  !addChargerFormGroup.get('meterType')?.valid &&
                  addChargerFormGroup.get('meterType')?.touched &&
                  addChargerFormGroup.get('meterType')?.value.length > 20
                "
                class="error-mess"
              >
                Meter Type Must be Between 0 To 20 Alphanumeric
              </span>
            </div>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Ping Schedule
              </h5>
              <div class="barbar-box6 layout">
                <input
                  formControlName="pingSchedule"
                  type="text"
                  class="barbar-input-text"
                />
              </div>
              <span
                *ngIf="
                  !addChargerFormGroup.get('pingSchedule')?.valid &&
                  addChargerFormGroup.get('pingSchedule')?.touched &&
                  addChargerFormGroup.get('pingSchedule')?.value.length > 20
                "
                class="error-mess"
              >
                Ping Schedule Must Be Between 0 To 20 Alphanumeric
              </span>
            </div>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Installation Date
                <span style="color: 'red';">*</span>
              </h5>
              <mat-form-field
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    addChargerFormGroup.get('installationDate')?.errors &&
                    submitted == true
                }"
              >
                <input
                  matInput
                  [matDatepicker]="InstallationDate"
                  formControlName="installationDate"
                  readonly
                />

                <mat-datepicker-toggle
                  matSuffix
                  [for]="InstallationDate"
                ></mat-datepicker-toggle>
                <mat-datepicker #InstallationDate></mat-datepicker>
              </mat-form-field>
              <span
                *ngIf="
                  !addChargerFormGroup.get('installationDate')?.valid &&
                  addChargerFormGroup.get('installationDate')?.touched
                "
                class="error-mess"
              >
                Installation Date is Required
              </span>
            </div>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">Fleet Station</h5>

              <mat-checkbox
                class="example-margin"
                formControlName="privateStation"
              ></mat-checkbox>
            </div>
          </div>
          <!-- <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">Multiple Ports</h5>

              <mat-checkbox
                class="example-margin"
                formControlName="multiplePorts"
              ></mat-checkbox>
            </div>
          </div> -->
          <!-- <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">Automatic</h5>

              <mat-checkbox
                class="example-margin"
                formControlName="isAutomatic"
              ></mat-checkbox>
            </div>
          </div> -->
          <br />
          <br />
          <br />
          <div class="barbar-block13-spacer"></div>
          <div class="rfid-form">
            <div class="barbar-block13-item add-port">
              <div class="barbar-block14 layout">
                <h5 class="barbar-highlights layout subtitle">
                  Ports
                  <span style="color: 'red';">*</span>
                </h5>

                <button
                  class="add-port-btn"
                  type="button"
                  *ngIf="isPortAddBtn"
                  (click)="addPorts()"
                >
                  Add port
                </button>
              </div>
            </div>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item"></div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item"></div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item"></div>
        </div>
      </div>

      <div
        class="barbar-block12 layout"
        formArrayName="portCommand"
        *ngFor="let port of getPortFormControls(); let i = index"
        [ngClass]="viewMode ? 'disable' : ''"
      >
        <div class="barbar-block13 layout" [formGroupName]="i">
          <div class="barbar-block13-item mbottom">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Connector Id
                <span style="color: 'red';">*</span>
              </h5>

              <div
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    port.get('connectorId')?.errors && submitted == true
                }"
              >
                <input
                  formControlName="connectorId"
                  readonly
                  type="number"
                  class="barbar-input-text"
                  (keypress)="numberOnly($event)"
                />
              </div>
              <span
                *ngIf="
                  !port.get('connectorId')?.valid &&
                  port.get('connectorId')?.touched &&
                  port.get('connectorId')?.value.length > 10
                "
                class="error-mess"
              >
                Connector Id Must Be Between 0 To 10 Numeric
              </span>
              <span
                *ngIf="
                  !port.get('connectorId')?.valid &&
                  port.get('connectorId')?.touched &&
                  port.get('connectorId')?.value.length == 0
                "
                class="error-mess"
              >
                Connector Id Is Required
              </span>
            </div>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Connector Type
                <span style="color: 'red';">*</span>
              </h5>
              <mat-form-field
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    port.get('connectorType')?.errors && submitted == true
                }"
              >
                <mat-label>Select</mat-label>
                <mat-select formControlName="connectorType">
                  <mat-option
                    *ngFor="let data of connectorType"
                    [value]="data.id"
                  >
                    {{ data.connectorTypeName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <span
                *ngIf="
                  !port.get('connectorType')?.valid &&
                  port.get('connectorType')?.touched &&
                  port.get('connectorType')?.value.length == 0
                "
                class="error-mess"
              >
                Connector Type Is Required
              </span>
            </div>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Port Name
                <span style="color: 'red';">*</span>
              </h5>
              <div
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    port.get('portName')?.errors && submitted == true
                }"
              >
                <input
                  formControlName="portName"
                  type="text"
                  class="barbar-input-text"
                />
              </div>
              <span
                *ngIf="
                  !port.get('portName')?.valid &&
                  port.get('portName')?.touched &&
                  port.get('portName')?.value.length > 10
                "
                class="error-mess"
              >
                Port Name Must Be Between 0 To 10 Alphanumeric Characters
              </span>
              <span
                *ngIf="
                  !port.get('portName')?.valid &&
                  port.get('portName')?.touched &&
                  port.get('portName')?.value.length == 0
                "
                class="error-mess"
              >
                Port Name Is Required
              </span>
            </div>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Charger Type
                <span style="color: 'red';">*</span>
              </h5>
              <mat-form-field
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    port.get('plugTypeId')?.errors && submitted == true
                }"
              >
                <mat-label>Select</mat-label>
                <mat-select formControlName="plugTypeId">
                  <mat-option *ngFor="let data of Pluglist" [value]="data.id">
                    {{ data.plugTypeName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <span
                *ngIf="
                  !port.get('plugTypeId')?.valid &&
                  port.get('plugTypeId')?.touched &&
                  port.get('plugTypeId')?.value.length == 0
                "
                class="error-mess"
              >
                Charger Type Is Required
              </span>
            </div>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Power
                <span style="color: 'red';">*</span>
              </h5>
              <div
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid': port.get('power')?.errors && submitted == true
                }"
              >
                <input
                  formControlName="power"
                  type="text"
                  (keypress)="numberWithDecimalOnly($event)"
                  class="barbar-input-text"
                  maxlength="10"
                />
              </div>
              <span
                *ngIf="
                  !port.get('power')?.valid &&
                  port.get('power')?.touched &&
                  port.get('power')?.value.length > 10
                "
                class="error-mess"
              >
                Power Must Be Between 0 To 10 Alphanumeric
              </span>
              <span
                *ngIf="
                  !port.get('power')?.valid &&
                  port.get('power')?.touched &&
                  port.get('power')?.value.length == 0
                "
                class="error-mess"
              >
                Power Is Required
              </span>
            </div>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Min Power (kWh)
                <span style="color: 'red';">*</span>
              </h5>
              <div
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    port.get('minPower')?.errors && submitted == true
                }"
              >
                <input
                  formControlName="minPower"
                  type="text"
                  (keypress)="numberWithDecimalOnly($event)"
                  class="barbar-input-text"
                  maxlength="10"
                />
              </div>
              <span
                *ngIf="
                  !port.get('minPower')?.valid &&
                  port.get('minPower')?.touched &&
                  port.get('minPower')?.value.length > 10
                "
                class="error-mess"
              >
                Min Power Must Be Between 0 To 10 Numeric
              </span>
              <span
                *ngIf="
                  !port.get('minPower')?.valid &&
                  port.get('minPower')?.touched &&
                  port.get('minPower')?.value.length == 0
                "
                class="error-mess"
              >
                Min Power Is Required
              </span>
            </div>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item mbottom">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Max Power (kWh)
                <span style="color: 'red';">*</span>
              </h5>
              <div
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    port.get('maxPower')?.errors && submitted == true
                }"
              >
                <input
                  formControlName="maxPower"
                  type="text"
                  class="barbar-input-text"
                  (keypress)="numberWithDecimalOnly($event)"
                  maxlength="10"
                />
              </div>
              <span
                *ngIf="
                  !port.get('maxPower')?.valid &&
                  port.get('maxPower')?.touched &&
                  port.get('maxPower')?.value.length > 10
                "
                class="error-mess"
              >
                Max Power Must Be Between 0 To 10 Numeric
              </span>
              <span
                *ngIf="
                  !port.get('maxPower')?.valid &&
                  port.get('maxPower')?.touched &&
                  port.get('maxPower')?.value.length == 0
                "
                class="error-mess"
              >
                Max Power Is Required
              </span>
            </div>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Power Increment
                <span style="color: 'red';">*</span>
              </h5>
              <div
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    port.get('incrementalPower')?.errors && submitted == true
                }"
              >
                <input
                  formControlName="incrementalPower"
                  type="text"
                  (keypress)="numberWithDecimalOnly($event)"
                  maxlength="10"
                  class="barbar-input-text"
                />
              </div>
              <span
                *ngIf="
                  !port.get('incrementalPower')?.valid &&
                  port.get('incrementalPower')?.touched &&
                  port.get('incrementalPower')?.value.length > 10
                "
                class="error-mess"
              >
                Power Increment Must Be Between 0 To 10 Numeric
              </span>
              <span
                *ngIf="
                  !port.get('incrementalPower')?.valid &&
                  port.get('incrementalPower')?.touched &&
                  port.get('incrementalPower')?.value.length == 0
                "
                class="error-mess"
              >
                Power Increment Is Required
              </span>
            </div>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">Active</h5>

              <mat-checkbox
                class="example-margin"
                formControlName="isActive"
              ></mat-checkbox>
            </div>
          </div>
        </div>
      </div>

      <div class="barbar-flex1 layout">
        <div class="barbar-flex1-item">
          <div class="barbar-block17 layout">
            <div
              class="barbar-text-body2 layout"
              [routerLink]="['../../chargers']"
            >
              CANCEL
            </div>
          </div>
        </div>
        <div class="barbar-flex1-spacer"></div>
        <div class="barbar-flex1-item">
          <div class="barbar-block16 layout">
            <div
              class="barbar-text-body1 layout"
              *ngIf="isSaveBtn"
              (click)="addCharger()"
            >
              SAVE
            </div>
            <div
              class="barbar-text-body1 layout"
              *ngIf="isUpdateBtn"
              (click)="UpdateCharger()"
            >
              UPDATE
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
