<div class="cust-list-flex1 layout manage-asset-main">
  <h3 class="cust-list-subtitle layout">Assets</h3>
  <div class="cust-list-flex1-item">
    <div class="cust-list-block3 layout counter-card">
      <div class="cust-list-block3-item">
        <div class="cust-list-block4 titles-card layout">
          <div class="cust-list-block4-item">
            <div class="cust-list-block5 layout">
              <div class="cust-list-block5-item">
                <div class="cust-list-block6 layout">
                  <div class="cust-list-block7 layout">
                    <div class="cust-list-block7-item">
                      <div class="cust-list-block8 layout">
                        <div class="cust-list-box7 layout">
                          <img
                            src="../../../../assets/Admin-SideNav/Assets-Icons/total-assets.svg"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="cust-list-block7-spacer"></div>
                    <div class="cust-list-block7-item1">
                      <div class="cust-list-block9 layout">
                        <h1 class="cust-list-hero-title layout mt_zero">
                          {{ statusData[0]?.value }}
                        </h1>
                        <div class="cust-list-text-body2 layout">
                          {{ statusData[0]?.key }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cust-list-block5-spacer"></div>
              <div class="cust-list-block5-item1">
                <div
                  style="
                    --src: url(/assets/79bc613acca208fbbe5d5ee8be3a0594.png);
                  "
                  class="cust-list-image layout"
                ></div>
              </div>
            </div>
          </div>
          <div class="cust-list-block4-spacer"></div>
          <div class="cust-list-block4-item">
            <div class="cust-list-block10 layout">
              <div class="cust-list-block10-item">
                <div class="cust-list-block11 layout">
                  <div class="cust-list-block12 layout">
                    <div class="cust-list-block12-item">
                      <div class="cust-list-block13 layout">
                        <div class="cust-list-box7 layout">
                          <img
                            src="../../../../assets/Admin-SideNav/Assets-Icons/pads-old.svg"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="cust-list-block12-spacer"></div>
                    <div class="cust-list-block12-item1">
                      <div class="cust-list-block14 layout pads-value">
                        <h1 class="cust-list-hero-title layout">
                          {{ statusData[1]?.value }}
                        </h1>
                        <div class="cust-list-text-body2 layout1">
                          {{ statusData[1]?.key }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cust-list-block10-spacer"></div>
              <div class="cust-list-block10-item1">
                <div
                  style="
                    --src: url(/assets/79bc613acca208fbbe5d5ee8be3a0594.png);
                  "
                  class="cust-list-image layout1"
                ></div>
              </div>
            </div>
          </div>
          <div class="cust-list-block4-spacer"></div>
          <div class="cust-list-block4-item1">
            <div class="cust-list-block15 layout">
              <div class="cust-list-block15-item">
                <div class="cust-list-block16 layout">
                  <div class="cust-list-block17 layout">
                    <div class="cust-list-block17-item">
                      <div class="cust-list-block18 layout">
                        <div class="cust-list-box7 layout">
                          <img
                            src="../../../../assets/Admin-SideNav/Assets-Icons/dispenser.svg"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="cust-list-block17-spacer"></div>
                    <div class="cust-list-block17-item1">
                      <div class="cust-list-block14 layout">
                        <h1 class="cust-list-hero-title layout">
                          {{ statusData[2]?.value }}
                        </h1>
                        <div class="cust-list-text-body2 layout2">
                          {{ statusData[2]?.key }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cust-list-block4-spacer rv_spacer"></div>
          <div class="cust-list-block4-item1">
            <div class="cust-list-block15 layout">
              <div class="cust-list-block15-item">
                <div class="cust-list-block16 layout">
                  <div class="cust-list-block17 layout">
                    <div class="cust-list-block17-item">
                      <div class="cust-list-block18 layout">
                        <div class="cust-list-box7 layout">
                          <img
                            src="../../../../assets/Admin-SideNav/Assets-Icons/modem.svg"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="cust-list-block17-spacer"></div>
                    <div class="cust-list-block17-item1">
                      <div class="cust-list-block14 layout">
                        <h1 class="cust-list-hero-title layout">
                          {{ statusData[3]?.value }}
                        </h1>
                        <div class="cust-list-text-body2 layout2">
                          {{ statusData[3]?.key }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cust-list-block4-spacer"></div>
          <div class="cust-list-block4-item1 cable-block">
            <div class="cust-list-block15 layout">
              <div class="cust-list-block15-item">
                <div class="cust-list-block16 layout">
                  <div class="cust-list-block17 layout text-spacer">
                    <div class="cust-list-block17-item">
                      <div class="cust-list-block18 layout">
                        <div class="cust-list-box7 layout">
                          <img
                            src="../../../../assets/Admin-SideNav/Assets-Icons/cable.svg"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="cust-list-block17-spacer"></div>
                    <div class="cust-list-block17-item1">
                      <div class="cust-list-block14 layout">
                        <h1 class="cust-list-hero-title layout">
                          {{ statusData[4]?.value }}
                        </h1>
                        <div class="cust-list-text-body2 layout2">
                          {{ statusData[4]?.key }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cust-list-block4-spacer"></div>
          <div class="cust-list-block4-item1 cable-block">
            <div class="cust-list-block15 layout">
              <div class="cust-list-block15-item">
                <div class="cust-list-block16 layout">
                  <div class="cust-list-block17 layout text-spacer">
                    <div class="cust-list-block17-item">
                      <div class="cust-list-block18 layout">
                        <div class="cust-list-box7 layout">
                          <img
                            src="../../../../assets/Admin-SideNav/Assets-Icons/switchgears.svg"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="cust-list-block17-spacer"></div>
                    <div class="cust-list-block17-item1">
                      <div class="cust-list-block14 layout">
                        <h1 class="cust-list-hero-title layout">
                          {{ statusData[6]?.value }}
                        </h1>
                        <div class="cust-list-text-body2 layout2">
                          {{ statusData[6]?.key }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cust-list-block4-spacer"></div>
          <div class="cust-list-block4-item1 cable-block">
            <div class="cust-list-block15 layout">
              <div class="cust-list-block15-item">
                <div class="cust-list-block16 layout">
                  <div class="cust-list-block17 layout text-spacer RFID-card">
                    <div class="cust-list-block17-item">
                      <div class="cust-list-block18 layout">
                        <div class="cust-list-box7 layout">
                          <img
                            src="../../../../assets/Admin-SideNav/Assets-Icons/RFID.svg"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="cust-list-block17-spacer"></div>
                    <div class="cust-list-block17-item1">
                      <div class="cust-list-block14 layout">
                        <h1 class="cust-list-hero-title layout">
                          {{ statusData[5]?.value }}
                        </h1>
                        <div class="cust-list-text-body2 layout2">
                          {{ statusData[5]?.key }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cust-list-flex3 layout">
    <div class="cust-list-flex3-item">
      <div class="cust-list-group layout">
        <div class="cust-list-block19 layout">
          <div class="cust-list-box9 layout">
            <img
              src="../../../../assets/Admin-SideNav/Assets-Icons/Search.svg"
              alt=""
              class="cust-list-icon layout"
            />
          </div>

          <div class="cust-list-block20 layout">
            <input
              class="cust-list-text-body21 layout"
              (keyup)="applyFilter($event)"
              placeholder="Search by asset id"
              #input
            />
          </div>
        </div>
      </div>
    </div>
    <div class="cust-list-flex3-spacer"></div>
    <div class="cust-list-flex3-item1">
      <div class="cust-list-block23 layout" [routerLink]="['add-assets']">
        <div class="cust-list-block23-item">
          <div class="cust-list-box10 layout">
            <img
              src="../../../../assets/Admin-SideNav/Assets-Icons/Add-Assets.svg"
              alt=""
              srcset=""
            />
          </div>
        </div>
        <div class="cust-list-block23-spacer"></div>
        <div class="cust-list-text-body4 layout">
          ADD ASSETS
        </div>
      </div>
    </div>
  </div>
  <div class="layout mat-data">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>ASSETS CATEGORY</th>
        <td mat-cell *matCellDef="let element">
          {{ element.type }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="serialNumber">
        <th mat-header-cell *matHeaderCellDef>ASSETS ID</th>
        <td mat-cell *matCellDef="let element">
          {{ element.assetId }}
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef>
          LOCATION
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.locationName }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="locationStatus">
        <th mat-header-cell *matHeaderCellDef>LOCATION STATUS</th>
        <td mat-cell *matCellDef="let element">{{ element.locationStatus }}</td>
      </ng-container>
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef>STATUS</th>
        <td mat-cell *matCellDef="let element">
          {{ element.isActive ? 'Active' : 'Inactive' }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef>ACTION</th>
        <td mat-cell *matCellDef="let element" style="cursor: pointer;">
          <img
            *ngIf="!element.isActive"
            src="../../../../assets/Admin-SideNav/Assets-Icons/Active.svg"
            title="Active"
            (click)="IsActiveAsset(element.id, element.type, true)"
          />
          <img
            *ngIf="element.isActive"
            src="../../../../assets/Admin-SideNav/Assets-Icons/Inactive.svg "
            title="Iactive"
            (click)="IsActiveAsset(element.id, element.type, false)"
          />
          <img
            src="../../../../assets/Admin-SideNav/Assets-Icons/View.svg"
            title="View"
            (click)="viewAssets(element.id, element.type)"
          />
          <img
            src="../../../../assets/Admin-SideNav/Assets-Icons/Edit.svg"
            title="Edit"
            (click)="editAssets(element.id, element.type)"
          />
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <ng-container *ngIf="isTableHasData">
      <p class="text-center">No record found.</p>
    </ng-container>
  </div>
  <mat-paginator
    #paginator
    (page)="pageChange($event)"
    [length]="totalCount"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
  ></mat-paginator>
</div>
