<div class="barbar-block10 layout">
  <div class="barbar-flex layout">
    <div class="barbar-block11 layout">
      <h1 class="barbar-subtitle layout">{{ title }}</h1>
    </div>
    <form [formGroup]="pricingPlanFormGroup">
      <div class="barbar-block12 layout">
        <div class="barbar-block13 layout">
          <div [hidden]='true'>
          <div class="barbar-block13-item mbottom">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Organization Name
                <span style="color: 'red';">*</span>
              </h5>
              <div class="barbar-box6 layout">
                <input
                  formControlName="customerN"
                  readonly
                  class="barbar-input-text"
                />
              </div>
            </div>
            <span
              *ngIf="
                !pricingPlanFormGroup.get('customerId')?.valid &&
                pricingPlanFormGroup.get('customerId')?.touched &&
                pricingPlanFormGroup.get('customerId')?.value.length == 0
              "
              class="error-mess"
            >
              Organization Name Is Required
            </span>
          </div>
        </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Pricing Plan Name
                <span style="color: 'red';">*</span>
              </h5>
              <div
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    pricingPlanFormGroup.get('pricingPlanName')?.errors &&
                    submitted == true
                }"
              >
                <input
                  formControlName="pricingPlanName"
                  type="text"
                  class="barbar-input-text"
                  (keypress)="omit_special_char($event)"
                />
              </div>

              <span
                *ngIf="
                  !pricingPlanFormGroup.get('pricingPlanName')?.valid &&
                  pricingPlanFormGroup.get('pricingPlanName')?.touched &&
                  pricingPlanFormGroup.get('pricingPlanName')?.value.length > 40
                "
                class="error-mess"
              >
                Price Plan Name should not be greater than 40 Alphanumeric
                Characters
              </span>
              <span
                *ngIf="
                  !pricingPlanFormGroup.get('pricingPlanName')?.valid &&
                  pricingPlanFormGroup.get('pricingPlanName')?.touched &&
                  pricingPlanFormGroup.get('pricingPlanName')?.value.length == 0
                "
                class="error-mess"
              >
                Pricing Plan Is Required
              </span>
            </div>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Location
                <span style="color: 'red';">*</span>
              </h5>
              <mat-form-field
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    pricingPlanFormGroup.get('locationId')?.errors &&
                    submitted == true
                }"
              >
                <mat-label>Select</mat-label>
                <mat-select
                  [value]="selectedLocationId"
                  multiple
                  formControlName="locationId"
                >
                  <mat-option
                    *ngFor="let data of locationList"
                    [value]="data.id"
                    (onSelectionChange)="onSelectLocation($event, data.id)"
                  >
                    {{ data.locationName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <span
              *ngIf="
                !pricingPlanFormGroup.get('locationId')?.valid &&
                pricingPlanFormGroup.get('locationId')?.touched &&
                pricingPlanFormGroup.get('locationId')?.value.length == 0
              "
              class="error-mess"
            >
              Location Is Required
            </span>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">Description</h5>
              <div
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    pricingPlanFormGroup.get('description')?.errors &&
                    submitted == true
                }"
              >
                <input
                  formControlName="description"
                  type="text"
                  class="barbar-input-text"
                />
              </div>
              <span
                *ngIf="
                  pricingPlanFormGroup.get('description')?.touched &&
                  pricingPlanFormGroup.get('description')?.value.length > 250
                "
                class="error-mess"
              >
                Description should not be greater than 250 Alphanumeric
                characters.
              </span>
            </div>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item mbottom">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Currency Code
                <span style="color: 'red';">*</span>
              </h5>
              <mat-form-field
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    pricingPlanFormGroup.get('currencyCode')?.errors &&
                    submitted == true
                }"
              >
                <mat-label>Select</mat-label>
                <mat-select
                  [value]="selectedCurrencyId"
                  formControlName="currencyCode"
                >
                  <mat-option
                    *ngFor="let data of currencyList"
                    [value]="data.id"
                    (onSelectionChange)="selectCurrencyCode($event, data.id)"
                  >
                    {{ data.currencyName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <!-- <mat-form-field class="barbar-box6 layout">
                <mat-select formControlName="currencycode">
                  <mat-option value="Rupees">Rupees</mat-option>
                  <mat-option value="Doller">Doller</mat-option>
                </mat-select>
              </mat-form-field> -->
            </div>
            <span
              *ngIf="
                !pricingPlanFormGroup.get('currencyCode')?.valid &&
                pricingPlanFormGroup.get('currencyCode')?.touched &&
                pricingPlanFormGroup.get('currencyCode')?.value.length == 0
              "
              class="error-mess"
            >
              Currency Code Is Required
            </span>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Valid From
                <span style="color: 'red';">*</span>
              </h5>
              <mat-form-field
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    pricingPlanFormGroup.get('validFrom')?.errors &&
                    submitted == true
                }"
              >
                <!-- <mat-label>Choose a date</mat-label> -->
                <input
                  [matDatepickerFilter]="dateFilterForStart"
                  matInput
                  [matDatepicker]="picker"
                  formControlName="validFrom"
                  readonly
                  (dateChange)="checkStartDate()"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <span
              *ngIf="
                !pricingPlanFormGroup.get('validFrom')?.valid &&
                pricingPlanFormGroup.get('validFrom')?.touched &&
                pricingPlanFormGroup.get('validFrom')?.value.length == 0
              "
              class="error-mess"
            >
              Date From Is Required
            </span>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Valid To
                <span style="color: 'red';">*</span>
              </h5>
              <mat-form-field
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    pricingPlanFormGroup.get('validTo')?.errors &&
                    submitted == true
                }"
              >
                <input
                  matInput
                  [matDatepickerFilter]="dateFilterForEnd"
                  [matDatepicker]="picker1"
                  formControlName="validTo"
                  readonly
                  (dateChange)="checkValidFrom($event)"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker1"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
            <span
              *ngIf="
                !pricingPlanFormGroup.get('validTo')?.valid &&
                pricingPlanFormGroup.get('validTo')?.touched &&
                pricingPlanFormGroup.get('validTo')?.value.length == 0
              "
              class="error-mess"
            >
              Date To Is Required
            </span>
          </div>
          
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Charger Type
                <span style="color: 'red';">*</span>
              </h5>
              <mat-form-field
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    pricingPlanFormGroup.get('chargerTypeId')?.errors &&
                    submitted == true
                }"
              >
                <mat-label>Select</mat-label>
                <mat-select
                  formControlName="chargerTypeId"
                >
                  <mat-option
                    *ngFor="let data of Pluglist"
                    [value]="data.id"
                    (onSelectionChange)="selectChargerType($event, data.id)"
                  >
                    {{ data.plugTypeName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <span
              *ngIf="
                !pricingPlanFormGroup.get('chargerTypeId')?.valid &&
                pricingPlanFormGroup.get('chargerTypeId')?.touched &&
                pricingPlanFormGroup.get('chargerTypeId')?.value.length == 0
              "
              class="error-mess"
            >
              Charger Type Is Required
            </span>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item mbottom">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Price Type
                <span style="color: 'red';">*</span>
              </h5>
              <mat-form-field
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    pricingPlanFormGroup.get('priceTypeId')?.errors &&
                    submitted == true
                }"
              >
                <mat-label>Select</mat-label>
                <mat-select
                  [value]="selectedPriceTypeId"
                  formControlName="priceTypeId"
                >
                  <mat-option
                    *ngFor="let data of pricingList"
                    [value]="data.id"
                    (onSelectionChange)="selectPriceType($event, data.id)"
                  >
                    {{ data.priceTypeName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <!-- <mat-form-field class="barbar-box6 layout">
                <mat-select formControlName="pricetype">
                  <mat-option value="Price Type 1">Price Type 1</mat-option>
                  <mat-option value="Price Type 2">Price Type 2</mat-option>
                </mat-select>
              </mat-form-field> -->
            </div>
            <span
              *ngIf="
                !pricingPlanFormGroup.get('priceTypeId')?.valid &&
                pricingPlanFormGroup.get('priceTypeId')?.touched &&
                pricingPlanFormGroup.get('priceTypeId')?.value.length == 0
              "
              class="error-mess"
            >
              Price Type Is Required
            </span>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Unit
                <span style="color: 'red';">*</span>
              </h5>
              <mat-form-field
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    pricingPlanFormGroup.get('unitName')?.errors &&
                    submitted == true
                }"
              >
                <mat-label>Select</mat-label>
                <mat-select [value]="selectedUnitId" formControlName="unitName">
                  <mat-option
                    *ngFor="let data of unitList"
                    [value]="data.id"
                    (onSelectionChange)="selectUnit($event, data)"
                  >
                    {{ data.unitName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <!-- <mat-form-field class="barbar-box6 layout">
                <mat-select formControlName="unit">
                  <mat-option value="Unit 1">Unit 1</mat-option>
                  <mat-option value="Unit 2">Unit 2</mat-option>
                </mat-select>
              </mat-form-field> -->
            </div>
            <span
              *ngIf="
                !pricingPlanFormGroup.get('unitName')?.valid &&
                pricingPlanFormGroup.get('unitName')?.touched &&
                pricingPlanFormGroup.get('unitName')?.value.length == 0
              "
              class="error-mess"
            >
              Unit Is Required
            </span>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Price
                <span style="color: 'red';">*</span>
                <span *ngIf="isUnit">({{ showPriceUnitTitle }})</span>
              </h5>
              <div
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    pricingPlanFormGroup.get('price')?.errors &&
                    submitted == true
                }"
              >
                <input
                  formControlName="price"
                  type="text"
                  class="barbar-input-text"
                  (keypress)="numbersDecimalOnly($event)"
                />
              </div>
              <span
                *ngIf="
                  !pricingPlanFormGroup.get('price')?.valid &&
                  pricingPlanFormGroup.get('price')?.touched &&
                  pricingPlanFormGroup.get('price')?.value.length == 0
                "
                class="error-mess"
              >
                Price Is Required
              </span>
              <span
                *ngIf="
                  !pricingPlanFormGroup.get('price')?.valid &&
                  pricingPlanFormGroup.get('price')?.touched &&
                  pricingPlanFormGroup.get('price')?.value.length > 10
                "
                class="error-mess"
              >
                Price should not be greater than 10 number.
              </span>
            </div>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Parking Fee (Per minute)
                <span style="color: 'red';">*</span>
              </h5>
              <div
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    pricingPlanFormGroup.get('parkingFee')?.errors &&
                    submitted == true
                }"
              >
                <input
                  formControlName="parkingFee"
                  type="text"
                  class="barbar-input-text"
                  (keypress)="numbersDecimalOnly($event)"
                />
              </div>
              <span
                *ngIf="
                  !pricingPlanFormGroup.get('parkingFee')?.valid &&
                  pricingPlanFormGroup.get('parkingFee')?.touched &&
                  pricingPlanFormGroup.get('parkingFee')?.value.length == 0
                "
                class="error-mess"
              >
                Parking Fee Is Required
              </span>
              <span
                *ngIf="
                  !pricingPlanFormGroup.get('parkingFee')?.valid &&
                  pricingPlanFormGroup.get('parkingFee')?.touched &&
                  pricingPlanFormGroup.get('parkingFee')?.value.length > 10
                "
                class="error-mess"
              >
                Parking Fee should not be greater than 10 number.
              </span>
            </div>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item mbottom">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Parking Fee Grace Period (Per Minute)
                <!-- <span style="color: 'red';">*</span> -->
              </h5>
              <div class="barbar-box6 layout">
                <input
                  formControlName="gracePeriod"
                  type="text"
                  class="barbar-input-text"
                  (keypress)="numbersDecimalOnly($event)"
                />
              </div>
              <!-- <span
                *ngIf="
                  !pricingPlanFormGroup.get('gracePeriod')?.valid &&
                  pricingPlanFormGroup.get('gracePeriod')?.touched &&
                  pricingPlanFormGroup.get('gracePeriod')?.value.length == 0
                "
                class="error-mess"
              >
                Grace Period Is Required
              </span> -->
              <span
                *ngIf="
                  !pricingPlanFormGroup.get('gracePeriod')?.valid &&
                  pricingPlanFormGroup.get('gracePeriod')?.touched &&
                  pricingPlanFormGroup.get('gracePeriod')?.value.length > 10
                "
                class="error-mess"
              >
              Grace Period should not be greater than 10 number.
              </span>
            </div>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Per Transaction Markup Fee
                <!-- <span style="color: 'red';">*</span> -->
              </h5>
              <div class="barbar-box6 layout">
                <input
                  formControlName="transactionFees"
                  type="text"
                  class="barbar-input-text"
                  (keypress)="numbersDecimalOnly($event)"
                />
              </div>
              <!-- <span
                *ngIf="
                  !pricingPlanFormGroup.get('transactionFees')?.valid &&
                  pricingPlanFormGroup.get('transactionFees')?.touched &&
                  pricingPlanFormGroup.get('transactionFees')?.value.length == 0
                "
                class="error-mess"
              >
                Transaction Fee Is Required
              </span> -->
              <span
                *ngIf="
                  !pricingPlanFormGroup.get('transactionFees')?.valid &&
                  pricingPlanFormGroup.get('transactionFees')?.touched &&
                  pricingPlanFormGroup.get('transactionFees')?.value.length > 10
                "
                class="error-mess"
              >
              Transaction Markup Fee should not be greater than 10 number.
              </span>
            </div>
          </div>
          
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Per KWH Markup Fee
                <!-- <span style="color: 'red';">*</span> -->
              </h5>
              <div class="barbar-box6 layout">
                <input
                  formControlName="salesTax"
                  type="text"
                  class="barbar-input-text"
                  (keypress)="numbersDecimalOnly($event)"
                />
              </div>
              <!-- <span
                *ngIf="
                  !pricingPlanFormGroup.get('salesTax')?.valid &&
                  pricingPlanFormGroup.get('salesTax')?.touched &&
                  pricingPlanFormGroup.get('salesTax')?.value.length == 0
                "
                class="error-mess"
              >
                Sale Tax Is Required
              </span> -->
              <span
                *ngIf="
                  !pricingPlanFormGroup.get('salesTax')?.valid &&
                  pricingPlanFormGroup.get('salesTax')?.touched &&
                  pricingPlanFormGroup.get('salesTax')?.value.length > 10
                "
                class="error-mess"
              >
              KWH Markup Fee should not be greater than 10 number.
              </span>
            </div>
          </div>


        </div>
      </div>
      <div class="barbar-flex1 layout">
        <div class="barbar-flex1-item">
          <div class="barbar-block17 layout">
            <div
              class="barbar-text-body2 layout"
              [routerLink]="['../../pricing']"
            >
              CANCEL
            </div>
          </div>
        </div>
        <div class="barbar-flex1-spacer"></div>
        <div class="barbar-flex1-item">
          <div class="barbar-block16 layout">
            <div
              class="barbar-text-body1 layout"
              (click)="createPricePlan()"
              *ngIf="isSaveBtn"
            >
              SAVE
            </div>
            <div
              class="barbar-text-body1 layout"
              *ngIf="isUpdateBtn"
              (click)="updatePricePlan()"
            >
              UPDATE
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
