<div class="statuspanel-block43 layout">
  <app-status-box
    [title]="statusBoxTitle1"
    [icon]="statusBoxIcon1"
  ></app-status-box>
  <!-- <app-status-box1></app-status-box1> -->

  <app-status-box-graph
    [title]="statusBoxTitle2"
    [icon]="statusBoxIcon2"
  ></app-status-box-graph>
  <app-status-box-energy [title]="statusBoxTitle3"></app-status-box-energy>

  <!-- <app-status-box
    [title]="statusBoxTitle4"
    [icon]="statusBoxIcon4"
  ></app-status-box> -->

  <app-status-box-points
    [title]="statusBoxTitle4"
    [icon]="statusBoxIcon4"
  ></app-status-box-points>
</div>
