<div class="cust-list-flex1 layout manage-vehicles">
  <h1 class="cust-list-subtitle layout">Vehicles</h1>
  <div class="cust-list-flex1-item">
    <div class="cust-list-block3 layout">
      <div class="cust-list-block3-item">
        <div class="cust-list-block4 layout">
          <div class="cust-list-block4-item">
            <div class="cust-list-block5 layout">
              <div class="cust-list-block5-item">
                <div class="cust-list-block6 layout">
                  <div class="cust-list-block7 layout total-count">
                    <div class="cust-list-block7-item icon-box">
                      <div
                        class="cust-list-block8 layout"
                        [ngStyle]="{
                          'background-color': statusDataValue?.color
                        }"
                      >
                        <div class="cust-list-box7 layout">
                          <img
                            src="../../../../assets/Admin-SideNav/Vehicles-Icons/Total-Vehicle.svg"
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="cust-list-block7-spacer"></div>
                  <div class="cust-list-block7-item1">
                    <div class="cust-list-block9 layout">
                      <h1 class="cust-list-hero-title layout mt_zero">
                        {{ statusDataValue?.value }}
                      </h1>
                      <div class="cust-list-text-body2 layout">
                        {{ statusDataValue?.key }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cust-list-block5-spacer"></div>
              <div class="cust-list-block5-item1">
                <div class="cust-list-image layout"></div>
              </div>
            </div>
          </div>
          <div class="cust-list-block4-spacer"></div>
          <div class="cust-list-block4-item">
            <div class="cust-list-block10 layout">
              <div class="cust-list-block10-item">
                <div class="cust-list-block11 layout">
                  <div class="cust-list-block12 layout">
                    <div class="cust-list-block12-item">
                      <div
                        class="cust-list-block13 layout"
                        [ngStyle]="{
                          'background-color': statusDataValue1?.color
                        }"
                      >
                        <div class="cust-list-box7 layout">
                          <img
                            src="../../../../assets/Admin-SideNav/Vehicles-Icons/Active.svg"
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                    <div class="cust-list-block12-spacer"></div>
                    <div class="cust-list-block12-item1">
                      <div class="cust-list-block14 layout">
                        <h1 class="cust-list-hero-title layout">
                          {{ statusDataValue1?.value }}
                        </h1>
                        <div class="cust-list-text-body2 layout1">
                          {{ statusDataValue1?.key }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cust-list-block10-spacer"></div>
              <div class="cust-list-block10-item1">
                <div class="cust-list-image layout1"></div>
              </div>
            </div>
          </div>
          <div class="cust-list-block4-spacer"></div>
          <div class="cust-list-block4-item1">
            <div class="cust-list-block15 layout">
              <div class="cust-list-block15-item">
                <div class="cust-list-block16 layout">
                  <div class="cust-list-block17 layout">
                    <div class="cust-list-block17-item">
                      <div
                        class="cust-list-block18 layout"
                        [ngStyle]="{
                          'background-color': statusDataValue2?.color
                        }"
                      >
                        <div class="cust-list-box7 layout">
                          <img
                            src="../../../../assets/Admin-SideNav/Vehicles-Icons/Inactive-Vehicle.svg"
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                    <div class="cust-list-block17-spacer"></div>
                    <div class="cust-list-block17-item1">
                      <div class="cust-list-block14 layout">
                        <h1 class="cust-list-hero-title layout">
                          {{ statusDataValue2?.value }}
                        </h1>
                        <div class="cust-list-text-body2 layout2">
                          {{ statusDataValue2?.key }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cust-list-block15-spacer"></div>
              <div class="cust-list-block15-item1">
                <div class="cust-list-image layout2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cust-list-flex3 layout">
    <div class="cust-list-flex3-item">
      <div class="cust-list-group layout">
        <div class="cust-list-block19 layout">
          <div class="cust-list-box9 layout">
            <img
              src="../../../../assets/Admin-SideNav/Vehicles-Icons/Search.svg"
              alt=""
              class="cust-list-icon layout"
            />
          </div>

          <div class="cust-list-block20 layout">
            <input
              class="cust-list-text-body21 layout"
              (keyup)="filterVehicle($event)"
              placeholder="Search by department or vehicle."
              #input
            />
          </div>
        </div>
      </div>
    </div>
    <div class="cust-list-flex3-spacer"></div>
    <div class="cust-list-flex3-item1">
      <div class="cust-list-block23 layout" [routerLink]="['add-vehicle']">
        <div class="cust-list-block23-item">
          <div class="cust-list-box10 layout">
            <img
              src="../../../../assets/Admin-SideNav/Vehicles-Icons/Add-Vehicle.svg"
              alt=""
              srcset=""
            />
          </div>
        </div>
        <div class="cust-list-block23-spacer"></div>
        <div class="cust-list-text-body4 layout">
          ADD VEHICLE
        </div>
      </div>
    </div>
  </div>
  <div class="layout mat-data">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

       <!-- Equipment Id -->
       <ng-container matColumnDef="UnitNumber">
        <th mat-header-cell *matHeaderCellDef>Equipment ID</th>
        <td mat-cell *matCellDef="let element">
          {{ element.unitNumber }}
        </td>
      </ng-container>

      <ng-container matColumnDef="VIN">
        <th mat-header-cell *matHeaderCellDef>VIN</th>
        <td mat-cell *matCellDef="let element">
          {{ element.vin }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="ModelYear">
        <th mat-header-cell *matHeaderCellDef>MODEL YEAR</th>
        <td mat-cell *matCellDef="let element">
          {{ element.modelYear }}
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>
          MAKE
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.makeName }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Modal">
        <th mat-header-cell *matHeaderCellDef>MODEL</th>
        <td mat-cell *matCellDef="let element">
          {{ element.modelName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="LicencePlate">
        <th mat-header-cell *matHeaderCellDef>LICENSE PLATE</th>
        <td mat-cell *matCellDef="let element">
          {{ element.licencePlate }}
        </td>
      </ng-container>
      
      <ng-container matColumnDef="RFIDCardAssigned">
        <th mat-header-cell *matHeaderCellDef>
          RFID CARD ASSIGNED
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.vehicleRFIDName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef>STATUS</th>
        <td mat-cell *matCellDef="let element">
          {{ element.isActive ? 'Active' : 'Inactive' }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef class="action-col">ACTION</th>
        <td mat-cell *matCellDef="let element" style="cursor: pointer;" class="action-col">
          <img
            src="../../../../assets/Active.svg"
            alt=""
            title="Deactivate"
            (click)="IsActiveVehicleById(element.id, false)"
            *ngIf="element.isActive"
          />

          <img
            src="../../../../assets/Admin-SideNav/Vehicles-Icons/Active-tik.svg"
            alt=""
            title="Activate"
            (click)="IsActiveVehicleById(element.id, true)"
            *ngIf="!element.isActive"
          />
          <img
            src="../../../../assets/Admin-SideNav/Vehicles-Icons/View.svg"
            alt=""
            style="cursor: pointer;"
            (click)="viewVehicle(element.id)"
            title="View"
          />
          <img
            src="../../../../assets/Admin-SideNav/Vehicles-Icons/Edit.svg"
            alt=""
            (click)="editVehicle(element.id)"
            style="cursor: pointer;"
            title="Edit"
          /> 
          <button
            type="button"
            class="icon-button"
            title="Delete"
            aria-label="Delete vehicle"
            (click)="confirmDeleteVehicle(element.id)"
          >
            <img
              src="../../../../assets/Admin-SideNav/Vehicles-Icons/delete-icon.svg"
              alt=""
            />
          </button>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <ng-container *ngIf="isTableHasData">
      <p class="text-center">No record found</p>
    </ng-container>
  </div>
  <mat-paginator
    #paginator
    [hidden]="!dataSource.data.length"
    (page)="pageChange($event)"
    [length]="totalCount"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
  ></mat-paginator>
</div>
