<div class="header header-block layout">
  <div class="header-block1 layout">
    <div class="header-flex layout">
      <h3 class="header-subtitle-box layout">{{ selectedChargerIds }}</h3>
      <div class="location-block2 layout">
        <div class="location-block2-item">
          <div class="location-block4 layout">
            <div class="location-block4-item">
              <div class="location-block5 layout">
                <a [routerLink]="['../chargers-analytics']">
                  <div class="location-text-body layout">ANALYTICS</div>
                </a>
              </div>
            </div>
            <div class="location-block4-item">
              <div class="location-block5 layout">
                <a [routerLink]="['../chargers-info']">
                  <div class="location-text-body layout">
                    CHARGER INFORMATION
                  </div>
                </a>
              </div>
            </div>
            <div class="location-block4-item">
              <div class="location-block5 layout">
                <a [routerLink]="['../chargers-session']">
                  <div class="location-text-body layout">
                    CHARGE SESSIONS
                  </div>
                </a>
              </div>
            </div>
            <div class="location-block4-item">
              <div class="location-block5 layout">
                <a [routerLink]="['../chargers-diagnostic']">
                  <div class="location-text-body layout">DIAGNOSTIC</div>
                </a>
              </div>
            </div>
            <div class="location-block4-item">
              <div class="location-block6 layout">
                <a [routerLink]="['../chargers-event']">
                  <div class="location-text-body layout">EVENT LOGS</div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="location-block2-spacer"></div>
        <div class="location-block2-item1">
          <div
            class="location-block3 layout"
            style="
              display: flex;
              flex-direction: column;
              background-color: #ebebeb;
              border-left: 1px solid white;
            "
          >
            <div class="location-box3 layout">
              <img
                src="../../../../../assets/charger-event.svg"
                alt=""
                srcset=""
              />
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="cust-list-flex1 layout">
          <div class="cust-list-flex3 layout">
            <div class="cust-list-flex3-item">
              <div class="cust-list-group layout">
                <div class="cust-list-block19 layout">
                  <mat-form-field class="barbar-box6 layout select-all-opt">
                    <select
                      matNativeControl
                      required
                      [(ngModel)]="searchParam"
                      (change)="selectOption($event)"
                    >
                      <!--  <option value="volvo">
                      All
                    </option>
                    <option value="saab">Reset</option>
                    <option value="mercedes">
                      Heartbeat
                    </option>
                    <option value="audi">
                      Start Transaction
                    </option> -->
                      <option *ngFor="let item of arrKeys">
                        {{ item.value }}
                      </option>
                    </select>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="cust-list-flex3-spacer"></div>
            <div class="cust-list-flex3-item1">
              <div class="cust-list-block23 layout" (click)="downloadFile()">
                <div class="cust-list-block23-item">
                  <div class="cust-list-box10 layout">
                    <img
                      src="../../../../../assets/Operator/Download-icon.svg"
                      alt=""
                      srcset=""
                    />
                  </div>
                </div>
                <div class="cust-list-block23-spacer"></div>
                <div class="cust-list-text-body4 layout">
                  DOWNLOAD SESSION
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="cust-list-group2 layout" id="content" #content>
          <table
            mat-table
            [dataSource]="dataSource"
            multiTemplateDataRows
            matSort
            class="mat-elevation-z8"
            matTableExporter
            #exporter="matTableExporter"
          >
            <ng-container matColumnDef="Type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                TYPE
              </th>
              <td mat-cell *matCellDef="let element; let i = index">
                {{ element.requestType }}
              </td>
            </ng-container>
            <ng-container matColumnDef="DateTime">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Date/ Time
              </th>
              <td mat-cell *matCellDef="let element; let i = index">
                {{ element.modifiedAt }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                ACTION
              </th>
              <td mat-cell *matCellDef="let element; let i = index">
                <img
                  style="cursor: pointer;"
                  alt=""
                  src="../../../../assets/icons/view-icon.png"
                  (click)="
                    expandedElement =
                      expandedElement === element ? null : element
                  "
                />

                <img
                  (click)="openMakePaymentDialog(element.id)"
                  *ngIf="element.requestType == 'StopTransaction'"
                  style="cursor: pointer;"
                  src="../../../../../assets/chart-icon.svg"
                  alt=""
                  title="Make Payment"
                />
              </td>
            </ng-container>
            <ng-container matColumnDef="expandedDetail">
              <td
                style="background-color: #fff;"
                mat-cell
                *matCellDef="let element"
                [attr.colspan]="displayedColumns.length"
              >
                <div
                  class="example-element-detail"
                  [@detailExpand]="
                    element === expandedElement ? 'expanded' : 'collapsed'
                  "
                >
                  <div class="example-element-description">
                    <div class="">
                      <div class="">
                        <div style="text-transform: none;">
                          {{ element.requestPayload }}
                        </div>
                      </div>
                    </div>
                    <hr />
                    <div class="example-element-description">
                      <div style="text-transform: none;">
                        {{ element.responsePayload }}
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let element; columns: displayedColumns"
              class="example-element-row"
              [class.example-expanded-row]="expandedElement === element"
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: ['expandedDetail']"
              class="example-detail-row"
            ></tr>
          </table>
          <ng-container *ngIf="isTableHasData">
            <p class="text-center">No record found</p>
          </ng-container>
        </div>
        <mat-paginator
          #paginator
          [hidden]="!dataSource.data.length"
          (page)="pageChange($event)"
          [length]="totalCount"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions"
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>
