<div class="dashboard-block12 layout location-dashboard">
  <h3 class="dashboard-subtitle layout">Locations</h3>
  <!-- <hr class="dashboard-line layout" /> -->
</div>
<div class="dashboard-block13 layout loctn-dashboard">
  <div class="dashboard-block13-item location-opt">
    <div class="dashboard-block14 layout">
      <div class="dashboard-block15 layout">
        <!-- <div *ngFor="let item of data; let i = index"> -->
        <div class="dashboard-block15-item">
          <app-widget [widgetIcon]="locations" [data]="data[0]"></app-widget>
        </div>
        <div class="dashboard-block15-spacer"></div>
        <!-- <div *ngif="i == 0" class="dashboard-block15-spacer"></div>
                    <div *ngif="i == 1" class="dashboard-block15-spacer1"></div>
                    <div *ngif="i == 2" class="dashboard-block15-spacer"></div> -->
        <!-- </div> -->
        <div class="dashboard-block15-item">
          <app-widget [widgetIcon]="chargers" [data]="data[1]"></app-widget>
        </div>
        <div class="dashboard-block15-spacer1"></div>
        <div class="dashboard-block15-item">
          <app-widget
            [widgetIcon]="charging_session"
            [data]="data[2]"
          ></app-widget>
        </div>
        <div class="dashboard-block15-spacer"></div>
        <div class="dashboard-block15-item">
          <app-widget [widgetIcon]="errors" [data]="data[3]"></app-widget>
        </div>
      </div>
      <div class="dashboard-block32 layout">
        <div class="dashboard-block33 layout">
          <mat-button-toggle-group
            [formControl]="filterToggle"
            (change)="setTime($event)"
          >
            <div class="dashboard-block33-item">
              <!-- <div class="dashboard-block34 layout">


            </div> -->
            </div>
            <div class="dashboard-block33-item1">
              <div class="dashboard-block35 layout space-between">
                <mat-button-toggle value="1" style="border: 1px solid #0062a6;">
                  Last 24 Hours
                </mat-button-toggle>
                <!-- <div class="dashboard-text-body2 layout">Last 24 Hours</div> -->
              </div>
            </div>
            <div class="dashboard-block33-item2">
              <div class="dashboard-block36 layout space-between">
                <!-- <div class="dashboard-text-body3 layout">One Week</div> -->
                <mat-button-toggle value="7">One Week</mat-button-toggle>
              </div>
            </div>
            <div class="dashboard-block33-item3">
              <div class="dashboard-block37 layout space-between">
                <!-- <div class="dashboard-text-body3 layout1">Current Month</div> -->
                <mat-button-toggle value="30">Current Month</mat-button-toggle>
              </div>
            </div>
            <div class="dashboard-block33-item4">
              <div class="dashboard-block38 layout space-between">
                <!-- <div class="dashboard-text-body3 layout2">Last 3 Months</div> -->
                <mat-button-toggle value="90">Last 3 Months</mat-button-toggle>
              </div>
            </div>
          </mat-button-toggle-group>
        </div>
      </div>

      <div class="dashboard-block42 layout">
        <div class="dashboard-block42-item">
          <app-bar-chart
            *ngIf="locationStatusData !== ''"
            [chartType]="basicStatus"
            [chartTitle]="'Locations Status'"
            [locationStatusData]="locationStatusData"
            (barDetailPage)="
              openDetailPage(4, 'Locations Status', 'LOCATIONS', selectedTime)
            "
          ></app-bar-chart>
        </div>
        <!-- <div class="dashboard-block42-spacer"></div> -->
        <div class="dashboard-block42-item">
          <app-bar-chart
            *ngIf="locationPerformingData !== ''"
            [chartType]="locationPerform"
            [chartTitle]="'Locations  Performing'"
            [toggle]="true"
            [locationPerformingData]="locationPerformingData"
            (toggleValueChanges)="changeToggleValue($event)"
          ></app-bar-chart>
        </div>
      </div>

      <div class="">
        <div class="dashboard-block48 layout">
          <div class="dashboard-block48-item">
            <!-- <div class="dashboard-block49 layout"> -->
            <div>
              <div class="cust-list-flex3 layout">
                <div class="cust-list-flex3-item">
                  <div class="cust-list-group layout">
                    <div class="cust-list-block19 layout">
                      <div class="cust-list-box9 layout">
                        <img
                          src="../../../../../assets/Operator/Search.svg"
                          alt=""
                          class="cust-list-icon layout"
                        />
                      </div>

                      <div class="cust-list-block20 layout">
                        <input
                          class="cust-list-text-body21 layout"
                          (keyup)="applyFilter($event)"
                          placeholder="Search by location name"
                          #input
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cust-list-flex3-spacer"></div>
                <div class="cust-list-flex3-item1">
                  <div class="cust-list-block23 layout">
                    <!-- <div class="cust-list-block23-item">
                                <div class="cust-list-box10 layout"></div>
                              </div> -->
                    <!-- <div class="cust-list-block23-spacer"></div>
                              <div class="cust-list-text-body4 layout">Add Button</div> -->
                  </div>
                </div>
              </div>
              <div class="layout mat-data">
                <table
                  mat-table
                  [dataSource]="dataSource"
                  matSort
                  class="mat-elevation-z8"
                >
                  <ng-container matColumnDef="locationName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Locations Name
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.locationName }}
                    </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Address
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.address }}
                    </td>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="contactPersonName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Contact Person Name
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.contactName }}
                    </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="contactNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Contact Number
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.contactNo }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="locationStatus">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Locations Status
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.status }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="noOfPorts">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      No of Ports
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.noofPort }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="available">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Available
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.available }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="connected">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Connected
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.connected }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="faulty">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Faulty
                    </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.faulted }}
                    </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td
                      mat-cell
                      *matCellDef="let element"
                      (click)="viewLocation(element)"
                      style="cursor: pointer;"
                    >
                      <img src="../../../../assets/icons/view-icon.png" />
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                  ></tr>
                </table>

                <ng-container *ngIf="isTableHasData">
                  <p class="text-center">No record found</p>
                </ng-container>
              </div>
              <mat-paginator
                #paginator
                (page)="pageChange($event)"
                [length]="totalCount"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
              ></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-block13-spacer"></div>
  <div class="dashboard-block13-item1">
    <!-- <app-status-panel></app-status-panel> -->
    <app-location-status-panel></app-location-status-panel>
  </div>
</div>
