<!-- <a [routerLink]="['../analytics']">Analytics</a>
<a [routerLink]="['../location-info']">Location Info</a>
<a [routerLink]="['../location-chargers']">Location Chargers</a> -->

<div class="loader" *ngIf="showLoader">
  <div>
    <img
      src="../../../assets/images/myloader.gif"
      alt=""
      class="margin"
      width="18%"
      height="22%"
    />
  </div>
</div>
<div class="location location-block layout">
  <div class="location-block1 layout">
    <div class="location-flex layout">
      <h1 class="location-subtitle-box layout">
        <pre class="location-subtitle">{{ locationName }} </pre>
      </h1>

      <div class="location-block23 layout">
        <div class="location-block23-item">
          <!-- <h3 class="dashboard-subtitle layout">Locations A</h3> -->
          <!--  <hr class="dashboard-line layout" /> -->
          <!-- </div> -->

          <div class="dashboard-block13 layout location-charger_2">
            <div class="dashboard-block13-item">
              <div class="location-block2 layout">
                <div class="location-block2-item">
                  <div class="location-block4 layout">
                    <div class="location-block4-item">
                      <div class="location-block5 layout">
                        <a [routerLink]="['../analytics']">
                          <div class="location-text-body layout">ANALYTICS</div>
                        </a>
                      </div>
                    </div>
                    <div class="location-block4-item">
                      <div class="location-block5 layout">
                        <a [routerLink]="['../location-info']">
                          <div class="location-text-body layout">
                            LOCATION INFORMATION
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="location-block4-item location-charger_1">
                      <div class="location-block6 layout">
                        <a [routerLink]="['../location-chargers']">
                          <div class="location-text-body layout">
                            LOCATION CHARGERS
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="location-block4-item">
                      <div class="location-block5 layout">
                        <a [routerLink]="['../events-log']">
                          <div class="location-text-body layout">
                            EVENT LOG
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tabs-block2-spacer"></div>
                <div class="tabs-block2-item1">
                  <div class="tabs-block3 layout">
                    <!-- <img src="../../../../../assets/location-info/lc.png" alt="" srcset="">  -->

                    <!-- <div class="tabs-box3 layout">




                  </div> -->
                    <img
                      class="tabs-box3 layout"
                      src="../../../../../assets/Operator/Location-Charger.svg"
                      alt=""
                      srcset=""
                    />
                  </div>
                </div>
              </div>
              <div class="dashboard-block14 layout">
                <!-- <div class="dashboard-block42 layout"></div> -->

                <div class="dashboard-block39 layout location-charge-main">
                  <div class="dashboard-block48 layout">
                    <div class="dashboard-block48-item">
                      <div>
                        <div class="cust-list-flex3 layout">
                          <div class="cust-list-flex3-item">
                            <div class="cust-list-group layout">
                              <div class="cust-list-block19 layout">
                                <div class="cust-list-box9 layout">
                                  <img
                                    src="../../../../../assets/Operator/Search.svg"
                                    alt=""
                                    class="cust-list-icon layout"
                                  />
                                </div>

                                <div class="cust-list-block20 layout">
                                  <input
                                    class="cust-list-text-body21 layout"
                                    (keyup)="applyFilter($event)"
                                    placeholder=" Search by charger id"
                                    #input
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="cust-list-flex3-spacer"></div>
                          <div class="cust-list-flex3-item1">
                            <div class="cust-list-block23 layout"></div>
                          </div>
                        </div>
                        <div class="cust-list-group2 layout mat-data">
                          <table mat-table [dataSource]="dataSource">
                            <ng-container matColumnDef="assetId">
                              <th mat-header-cell *matHeaderCellDef>
                                ASSET ID
                              </th>
                              >
                              <td mat-cell *matCellDef="let element">
                                {{ element.assetId }}
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="chargeBoxId">
                              <th mat-header-cell *matHeaderCellDef>
                                CHARGER ID
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.chargeBoxId }}
                              </td>
                            </ng-container>                           

                            <ng-container matColumnDef="dispenserMake">
                              <th mat-header-cell *matHeaderCellDef>
                                CHARGER MAKE
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.dispenserMake }}
                              </td>
                            </ng-container>

                            <ng-container matColumnDef="dispenserModel">
                              <th mat-header-cell *matHeaderCellDef>
                                CHARGER MODEL
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.dispenserModel }}
                              </td>
                            </ng-container>

                            <ng-container matColumnDef="connectorType">
                              <th mat-header-cell *matHeaderCellDef>
                                CONNECTOR TYPE
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.connectorType }}
                              </td>
                            </ng-container>                           

                            <ng-container matColumnDef="chargerStatus">
                              <th mat-header-cell *matHeaderCellDef>
                                CHARGER STATUS
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.chargerStatus }}
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="noofPort">
                              <th mat-header-cell *matHeaderCellDef>
                                CHARGER PORTS
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.noofPort }}
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="diagnostic">
                              <th mat-header-cell *matHeaderCellDef>DIAGNOSTIC</th>
                              <td mat-cell *matCellDef="let element">
                                
                                <span
                                  class="showHandCursor"
                                  matTooltip="Diagnostic"
                                  (click)="
                                    redirectToDiagnostic(
                                      'changeAvailability',
                                      element.chargeBoxId
                                    )
                                  "
                                >
                                  <img
                                    src="../../../../assets/icons/view-icon.png"
                                    alt=""
                                  />
                                </span>                                
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="action">
                              <th mat-header-cell *matHeaderCellDef>ACTION</th>
                              <td mat-cell *matCellDef="let element">
                                <span
                                  class="showHandCursor"
                                  matTooltip="Reset"
                                  (click)="
                                    openCommandDialog(
                                      'reset',
                                      element.chargeBoxId
                                    )
                                  "
                                >
                                  <img
                                    src="../../../../../assets/locationcharger-icon/delete-icon.svg"
                                    alt=""
                                  />
                                </span>
                                
                                <span
                                  class="showHandCursor"
                                  matTooltip="Remote Start Transaction"
                                  (click)="
                                    openCommandDialog(
                                      'start',
                                      element.chargeBoxId
                                    )
                                  "
                                >
                                  <img
                                    src="../../../../../assets/Operator/Start.svg"
                                    alt=""
                                  />
                                </span>
                                <span
                                  class="showHandCursor"
                                  matTooltip="Remote Stop Transaction"
                                  (click)="
                                    remoteStopTransaction(element.chargeBoxId)
                                  "
                                >
                                  <img
                                    src="../../../../../assets/Operator/Stop.svg"
                                    alt=""
                                  />
                                </span>
                              </td>
                            </ng-container>

                            <tr
                              mat-header-row
                              *matHeaderRowDef="displayedColumns"
                            ></tr>
                            <tr
                              mat-row
                              *matRowDef="let row; columns: displayedColumns"
                            ></tr>
                          </table>

                          <ng-container *ngIf="isTableHasData">
                            <p class="text-center">No record found</p>
                          </ng-container>
                          
                          <!-- <mat-paginator
                            [length]="100"
                            [pageSizeOptions]="[10, 20, 100]"
                            aria-label="Rows per page"
                          ></mat-paginator> -->
                        </div>
                        <mat-paginator
                            #paginator
                            [hidden]="!dataSource.filteredData.length" 
                            (page)="pageChange($event)"
                            [length]="totalCount"
                            [pageSize]="pageSize"
                            [pageSizeOptions]="pageSizeOptions"
                          ></mat-paginator>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="dashboard-block13-spacer"></div>
            <div class="dashboard-block13-item1">
              <app-location-status-panel></app-location-status-panel>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
