@if(showLoader){
<div class="loader">
  <img src="../../../assets/images/myloader.gif" alt="" class="margin" width="18%" height="22%" />
</div>
}
<div class="location location-block layout">
  <div class="location-block1 layout">
    <div class="location-flex layout">
      <h1 class="location-subtitle-box layout">
        <pre class="location-subtitle">{{ locationName }} </pre>
      </h1>

      <div class="location-block23 layout">
        <div class="location-block23-item">
          <div class="dashboard-block13 layout location-charger_2">
            <div class="dashboard-block13-item">
              <div class="location-block2 layout">
                <div class="location-block2-item">
                  <div class="location-block4 layout">
                    <div class="location-block4-item">
                      <div class="location-block5 layout">
                        <a [routerLink]="['../analytics']">
                          <div class="location-text-body layout">ANALYTICS</div>
                        </a>
                      </div>
                    </div>
                    <div class="location-block4-item">
                      <div class="location-block5 layout">
                        <a [routerLink]="['../location-info']">
                          <div class="location-text-body layout">
                            LOCATION INFORMATION
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="location-block4-item location-charger_1">
                      <div class="location-block6 layout">
                        <a [routerLink]="['../location-chargers']">
                          <div class="location-text-body layout">
                            LOCATION CHARGERS
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="location-block4-item">
                      <div class="location-block5 layout">
                        <a [routerLink]="['../events-log']">
                          <div class="location-text-body layout">
                            EVENT LOG
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tabs-block2-spacer"></div>
                <div class="tabs-block2-item1">
                  <div class="tabs-block3 layout">
                    <img
                      class="tabs-box3 layout"
                      src="../../../../../assets/Operator/Location-Charger.svg"
                      alt=""
                      srcset=""
                    />
                  </div>
                </div>
              </div>
              <div class="dashboard-block14 layout">
                <div class="dashboard-block39 layout location-charge-main">
                  <div class="dashboard-block48 layout">
                    <div class="dashboard-block48-item">
                      <div>
                        <div class="cust-list-flex3 layout filter-row">
                         <div class="filter-item search-item">
                           <div class="cust-list-group layout">
                             <div class="cust-list-block19 layout">
                               <div class="cust-list-box9 layout">
                                 <img
                                   src="../../../../../assets/Operator/Search.svg"
                                   alt="Search"
                                   class="cust-list-icon layout"
                                 />
                               </div>
                               <div class="cust-list-block20 layout">
                                 <input
                                   class="cust-list-text-body21 layout"
                                   (keyup)="applyFilter($event)"
                                   placeholder="Search by ChargeBox ID and Asset ID"
                                   #input
                                 />
                               </div>
                             </div>
                           </div>
                         </div>
                          <div class="filter-item status-item">
                            <mat-form-field appearance="outline" class="filter-field">
                              <mat-label>Status</mat-label>
                              <mat-select
                                formControlName="activationStatus"
                                (selectionChange)="onStatusChange($event.value)"
                              >
                                <mat-option value="0">All</mat-option>
                                <mat-option value="1">Active</mat-option>
                                <mat-option value="2">Deactivated</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>

                        <div class="cust-list-group2 layout mat-data">
                          <table mat-table [dataSource]="dataSource">
                            <ng-container matColumnDef="assetId">
                              <th mat-header-cell *matHeaderCellDef>
                                ASSET ID
                              </th>
                              >
                              <td mat-cell *matCellDef="let element">
                                {{ element.assetId }}
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="chargeBoxId">
                              <th mat-header-cell *matHeaderCellDef>
                                CHARGER ID
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.chargeBoxId }}
                              </td>
                            </ng-container>                           

                            <ng-container matColumnDef="dispenserMake">
                              <th mat-header-cell *matHeaderCellDef>
                                CHARGER MAKE
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.dispenserMake }}
                              </td>
                            </ng-container>

                            <ng-container matColumnDef="dispenserModel">
                              <th mat-header-cell *matHeaderCellDef>
                                CHARGER MODEL
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.dispenserModel }}
                              </td>
                            </ng-container>

                            <ng-container matColumnDef="connectorType">
                              <th mat-header-cell *matHeaderCellDef>
                                CONNECTOR TYPE
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.connectorType }}
                              </td>
                            </ng-container>                           

                            <ng-container matColumnDef="chargerStatus">
                              <th mat-header-cell *matHeaderCellDef>
                                CHARGER STATUS
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.chargerStatus }}
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="noofPort">
                              <th mat-header-cell *matHeaderCellDef>
                                CHARGER PORTS
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.noofPort }}
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="diagnostic">
                              <th mat-header-cell *matHeaderCellDef>DIAGNOSTIC</th>
                              <td mat-cell *matCellDef="let element">
                                <span
                                  class="showHandCursor"
                                  matTooltip="Diagnostic"
                                  (click)="
                                    redirectToDiagnostic(
                                      'changeAvailability',
                                      element.chargeBoxId
                                    )
                                  "
                                >
                                  <img
                                    src="../../../../assets/icons/view-icon.png"
                                    alt=""
                                  />
                                </span>                                
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="action">
                              <th mat-header-cell *matHeaderCellDef>ACTION</th>
                              <td mat-cell *matCellDef="let element" class="action-cell">
  
                                <!-- Reset -->
                                <span
                                  class="showHandCursor action-icon"
                                  matTooltip="Reset"
                                  tabindex="0"
                                  (click)="openCommandDialog('reset', element.chargeBoxId)"
                                  (keydown.enter)="openCommandDialog('reset', element.chargeBoxId)"
                                  (keydown.space)="openCommandDialog('reset', element.chargeBoxId)"
                                >
                                  <img src="../../../../../assets/locationcharger-icon/delete-icon.svg" alt="Reset" />
                                </span>
                              
                                <!-- Start -->
                                <span
                                  class="showHandCursor action-icon"
                                  matTooltip="Remote Start Transaction"
                                  tabindex="0"
                                  (click)="openCommandDialog('start', element.chargeBoxId)"
                                  (keydown.enter)="openCommandDialog('start', element.chargeBoxId)"
                                  (keydown.space)="openCommandDialog('start', element.chargeBoxId)"
                                >
                                  <img src="../../../../../assets/Operator/Start.svg" alt="Start" />
                                </span>
                              
                                <!-- Stop -->
                                <span
                                  class="showHandCursor action-icon"
                                  matTooltip="Remote Stop Transaction"
                                  tabindex="0"
                                  (click)="remoteStopTransaction(element.chargeBoxId)"
                                  (keydown.enter)="remoteStopTransaction(element.chargeBoxId)"
                                  (keydown.space)="remoteStopTransaction(element.chargeBoxId)"
                                >
                                  <img src="../../../../../assets/Operator/Stop.svg" alt="Stop" />
                                </span>
                              
                                <!-- Edit -->
                                <span
                                  class="showHandCursor action-icon"
                                  matTooltip="Edit Charger"
                                  tabindex="0"
                                  (click)="editCharger(element.id)"
                                  (keydown.enter)="editCharger(element.id)"
                                  (keydown.space)="editCharger(element.id)"
                                >
                                  <img src="../../../../assets/Admin-SideNav/Charger-Icons/Edit.svg" alt="Edit" />
                                </span>
                              
                              </td>
                            </ng-container>

                            <tr
                              mat-header-row
                              *matHeaderRowDef="displayedColumns"
                            ></tr>
                            <tr
                              mat-row
                              *matRowDef="let row; columns: displayedColumns"
                            ></tr>
                          </table>

                          @if(isTableHasData){
                            <p class="text-center">No record found</p>
                          }
                        </div>
                        <mat-paginator
                            #paginator
                            [hidden]="!dataSource.filteredData.length" 
                            (page)="pageChange($event)"
                            [length]="totalCount"
                            [pageSize]="pageSize"
                            [pageSizeOptions]="pageSizeOptions"
                          ></mat-paginator>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="dashboard-block13-spacer"></div>
            <div class="dashboard-block13-item1">
              <app-location-status-panel></app-location-status-panel>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
