<div class="location location-block layout vehicle-main">
  <div class="location-block1 layout">
    <div class="location-flex layout">
      <h3 class="location-subtitle-box layout">
        <pre class="location-subtitle">Vehicle Assets Detail</pre>
      </h3>

      <div class="location-block23 layout">
        <div class="location-block23-item">
          <div class="location-block15 layout">
            <div class="location-flex14 layout">
              <div class="location-block17 layout">
                <div class="location-flex15 layout">
                  <div class="location-flex15-item">
                    <div class="location-text-body2 layout1 text-uppercase">
                      Vehicle Details
                    </div>
                  </div>
                  <div class="location-flex15-spacer"></div>
                  <div class="location-flex15-item1"></div>
                </div>
              </div>
              <div class="location-block16 layout">
                <div class="fill-block4 layout">
                  <div class="fill-block5 layout">
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">Equipment ID</div>
                          <h5 class="fill-highlights layout">
                            {{ vehicleData?.unitNumber }}
                          </h5>
                        </div>
                        <div class="fill-image layout"></div>
                      </div>
                    </div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">VIN</div>
                          <h5 class="fill-highlights layout">
                            {{ vehicleData?.vin }}
                          </h5>
                        </div>
                        <div class="fill-image layout"></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">Model Year</div>
                          <h5 class="fill-highlights layout">
                            {{ vehicleData?.modelYear }}
                          </h5>
                        </div>
                        <div class="fill-image layout"></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Make
                          </div>
                          <h5 class="fill-highlights layout">
                            {{ vehicleData?.makeName }}
                          </h5>
                        </div>
                        <div class="fill-image layout"></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Model
                          </div>
                          <h5 class="fill-highlights layout">
                            {{ vehicleData?.modelName }}
                          </h5>
                        </div>
                        <div class="fill-image layout"></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            License Plate
                          </div>
                          <h5 class="fill-highlights layout">
                            {{ vehicleData?.licencePlate }}
                          </h5>
                        </div>
                        <div class="fill-image layout"></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item pg-20">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Department
                          </div>
                          <h5 class="fill-highlights layout">
                            {{ vehicleData?.department }}
                          </h5>
                        </div>
                        <div class="fill-image layout"></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item pg-20">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Domicile Location
                          </div>
                          <h5 class="fill-highlights layout">
                            {{ vehicleData?.domicileLocation }}
                          </h5>
                        </div>
                        <div class="fill-image layout"></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item pg-20">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Vehicle MAC Address
                          </div>
                          <h5 class="fill-highlights layout">
                            {{ vehicleData?.vehicleMacAddress }}
                          </h5>
                        </div>
                        <div class="fill-image layout"></div>
                      </div>
                    </div>

                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item pg-20">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Status
                          </div>
                          <h5 class="fill-highlights layout">
                            {{ vehicleData?.status ? 'Active' : 'Inactive' }}
                          </h5>
                        </div>
                        <div class="fill-image layout"></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="fill-block4 layout">
                  <div class="fill-block5 layout RFID-num">
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            RFID Numbers
                          </div>
                          <h5 class="fill-highlights layout">
                            {{ vehicleData?.rfId }}
                          </h5>
                        </div>
                        <div class="fill-image layout"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="location-block3-spacer"></div>
            <div class="location-block3-item1"></div>
          </div>

          <div
            class="location-block15 layout"
            *ngFor="let item of subsPlanData"
          >
            <div class="location-flex14 layout">
              <div class="location-block17 layout">
                <div class="location-flex15 layout">
                  <div class="location-flex15-item">
                    <div class="location-text-body2 layout1 text-uppercase">
                      Applied Subscription Plan
                    </div>
                  </div>
                  <div class="location-flex15-spacer"></div>
                  <div class="location-flex15-item1">
                    <!-- <hr class="location-line layout" /> -->
                  </div>
                </div>
              </div>
              <div class="location-block16 layout">
                <div class="fill-block4 layout">
                  <div class="fill-block5 layout">
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Subscription Plan Name
                          </div>
                          <h5 class="fill-highlights layout text-uppercase">
                            {{ item?.subscriptionPlanName }}
                          </h5>
                        </div>
                        <div class="fill-image layout"></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Type
                          </div>
                          <h5 class="fill-highlights layout text-uppercase">
                            {{ item?.type }}
                          </h5>
                        </div>
                        <div class="fill-image layout"></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Value
                          </div>
                          <h5 class="fill-highlights layout">
                            {{ item?.subscriptionsValue }}
                          </h5>
                        </div>
                        <div class="fill-image layout"></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Valid From
                          </div>
                          <h5 class="fill-highlights layout">
                            {{ item?.validFrom | date: 'dd-MM-yyyy' }}
                          </h5>
                        </div>
                        <div class="fill-image layout"></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Valid To
                          </div>
                          <h5 class="fill-highlights layout">
                            {{ item?.validTo | date: 'dd-MM-yyyy' }}
                          </h5>
                        </div>
                        <div class="fill-image layout"></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item pg-20">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            RFID Numbers
                          </div>
                          <h5 class="fill-highlights layout">
                            {{ item?.rfIdNumbers }}
                          </h5>
                        </div>
                        <div class="fill-image layout"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="location-block3-spacer"></div>
            <div class="location-block3-item1"></div>
          </div>
        </div>

        <div class="location-block23-spacer"></div>
      </div>
    </div>
  </div>
</div>
