<div class="location location-block layout">
  <div class="location-block1 layout">
    <div class="location-flex layout">
      <h3 class="location-subtitle-box layout">
        <pre class="location-subtitle">Vehicle Assets Detail</pre>
      </h3>

      <div class="location-block23 layout">
        <div class="location-block23-item">
          <!-- start here  -->

          <div class="location-block15 layout">
            <div class="location-flex14 layout">
              <div class="location-block17 layout">
                <div class="location-flex15 layout">
                  <div class="location-flex15-item">
                    <div class="location-text-body2 layout1 text-uppercase">
                      Vehicle Details
                    </div>
                  </div>
                  <div class="location-flex15-spacer"></div>
                  <div class="location-flex15-item1">
                    <!-- <hr class="location-line layout" /> -->
                  </div>
                </div>
              </div>
              <div class="location-block16 layout">
                <div class="fill-block4 layout">
                  <div class="fill-block5 layout">
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">VIN</div>
                          <h5 class="fill-highlights layout">
                            {{ vehicleData?.vin }}
                          </h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">Model Year</div>
                          <h5 class="fill-highlights layout">
                            {{ vehicleData?.modelYear }}
                          </h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Make
                          </div>
                          <h5 class="fill-highlights layout">
                            {{ vehicleData?.make }}
                          </h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Model
                          </div>
                          <h5 class="fill-highlights layout">
                            {{ vehicleData?.model }}
                          </h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            License Plate
                          </div>
                          <h5 class="fill-highlights layout">
                            {{ vehicleData?.licencePlate }}
                          </h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Department
                          </div>
                          <h5 class="fill-highlights layout">
                            {{ vehicleData?.department }}
                          </h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Domicile Location
                          </div>
                          <h5 class="fill-highlights layout">
                            {{ vehicleData?.domicileLocation }}
                          </h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Vehicle MAC Address
                          </div>
                          <h5 class="fill-highlights layout">
                            {{ vehicleData?.vehicleMacAddress }}
                          </h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                    <!-- <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            RFID Card Assigned
                          </div>
                          <h5 class="fill-highlights layout">
                            {{ vehicleData?.rfidCardAssigned }}
                          </h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div> -->

                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Status
                          </div>
                          <h5 class="fill-highlights layout">
                            {{ vehicleData?.status ? 'Active' : 'Inactive' }}
                          </h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="fill-block4 layout">
                  <div class="rfid_txt">
                    <p>RFID</p>
                  </div>
                  <div class="fill-block5 layout">
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">RFID No.</div>
                          <h5 class="fill-highlights layout">
                            {{ vehicleData?.rfid }}
                          </h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                    <!-- <div class="fill-block5-spacer"></div>

                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">RFID No.</div>
                          <h5 class="fill-highlights layout">4980952345567</h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="location-block3-spacer"></div>
            <div class="location-block3-item1"></div>
          </div>

          <div class="location-block15 layout">
            <div class="location-flex14 layout">
              <div class="location-block17 layout">
                <div class="location-flex15 layout">
                  <div class="location-flex15-item">
                    <div class="location-text-body2 layout1 text-uppercase">
                      Applied Subscription Plans
                    </div>
                  </div>
                  <div class="location-flex15-spacer"></div>
                  <div class="location-flex15-item1">
                    <!-- <hr class="location-line layout" /> -->
                  </div>
                </div>
              </div>
              <div class="location-block16 layout">
                <div class="fill-block4 layout">
                  <div class="fill-block5 layout">
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Subscription Plans Name
                          </div>
                          <h5 class="fill-highlights layout text-uppercase">
                            {{ vehicleData?.subscriptionPlanName }}
                          </h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Type
                          </div>
                          <h5 class="fill-highlights layout text-uppercase">
                            {{ vehicleData?.type }}
                          </h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Value
                          </div>
                          <h5 class="fill-highlights layout">
                            {{ vehicleData?.value }}
                          </h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Valid From
                          </div>
                          <h5 class="fill-highlights layout">
                            {{ vehicleData?.validFrom | date: 'dd-MM-yyyy' }}
                          </h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Valid To
                          </div>
                          <h5 class="fill-highlights layout">
                            {{ vehicleData?.validTo | date: 'dd-MM-yyyy' }}
                          </h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            RFID’s No.
                          </div>
                          <h5 class="fill-highlights layout"></h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="location-block3-spacer"></div>
            <div class="location-block3-item1"></div>
          </div>

          <!-- end here -->
        </div>

        <div class="location-block23-spacer"></div>
      </div>
    </div>
  </div>
</div>
