<div class="location location-block layout">
  <div class="location-block1 layout">
    <div class="location-flex layout">
      <h3 class="location-subtitle-box layout">
        <pre class="location-subtitle">Vehicle Assets Detail</pre>
      </h3>

      <div class="location-block23 layout">
        <div class="location-block23-item">
          <!-- start here  -->

          <div class="location-block15 layout">
            <div class="location-flex14 layout">
              <div class="location-block17 layout">
                <div class="location-flex15 layout">
                  <div class="location-flex15-item">
                    <div class="location-text-body2 layout1 text-uppercase">
                      Vehicle Details
                    </div>
                  </div>
                  <div class="location-flex15-spacer"></div>
                  <div class="location-flex15-item1">
                    <hr class="location-line layout" />
                  </div>
                </div>
              </div>
              <div class="location-block16 layout">
                <div class="fill-block4 layout">
                  <div class="fill-block5 layout">
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">VIN</div>
                          <h5 class="fill-highlights layout">543545</h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">Model Year</div>
                          <h5 class="fill-highlights layout">2022</h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Make
                          </div>
                          <h5 class="fill-highlights layout">Classic</h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Model
                          </div>
                          <h5 class="fill-highlights layout">2019</h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            License Plate
                          </div>
                          <h5 class="fill-highlights layout">High Security</h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Department
                          </div>
                          <h5 class="fill-highlights layout">Transport</h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Domicile Location
                          </div>
                          <h5 class="fill-highlights layout">New York</h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Vehicle MAC Address
                          </div>
                          <h5 class="fill-highlights layout">PDHR324565RT</h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            RFID Card Assigned
                          </div>
                          <h5 class="fill-highlights layout">666-897-4256</h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>

                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Status
                          </div>
                          <h5 class="fill-highlights layout">ACTIVE</h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="fill-block4 layout">
                  <div class="rfid_txt">
                    <p>RFID</p>
                  </div>
                  <div class="fill-block5 layout">
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">RFID No.</div>
                          <h5 class="fill-highlights layout">4980952345567</h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>

                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">RFID No.</div>
                          <h5 class="fill-highlights layout">4980952345567</h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="location-block3-spacer"></div>
            <div class="location-block3-item1"></div>
          </div>

          <div class="location-block15 layout">
            <div class="location-flex14 layout">
              <div class="location-block17 layout">
                <div class="location-flex15 layout">
                  <div class="location-flex15-item">
                    <div class="location-text-body2 layout1 text-uppercase">
                      Applied Subscription Plans
                    </div>
                  </div>
                  <div class="location-flex15-spacer"></div>
                  <div class="location-flex15-item1">
                    <hr class="location-line layout" />
                  </div>
                </div>
              </div>
              <div class="location-block16 layout">
                <div class="fill-block4 layout">
                  <div class="fill-block5 layout">
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Subscription Plans Name
                          </div>
                          <h5 class="fill-highlights layout text-uppercase">
                            30 Minutes free
                          </h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Type
                          </div>
                          <h5 class="fill-highlights layout text-uppercase">
                            Minutes
                          </h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Value
                          </div>
                          <h5 class="fill-highlights layout">30</h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Valid From
                          </div>
                          <h5 class="fill-highlights layout">01-06-2022</h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            Valid To
                          </div>
                          <h5 class="fill-highlights layout">06-06-2022</h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                    <div class="fill-block5-spacer"></div>
                    <div class="fill-block5-item">
                      <div class="fill-group layout">
                        <div class="fill-block6 layout">
                          <div class="fill-text-body1 layout">
                            RFID’s No.
                          </div>
                          <h5 class="fill-highlights layout">
                            4980952345567, 4980952345567
                          </h5>
                        </div>
                        <div
                          style="
                            --src: url(/assets/6f9f170d72615beea8e11bdd988574dc.png);
                          "
                          class="fill-image layout"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="location-block3-spacer"></div>
            <div class="location-block3-item1"></div>
          </div>

          <!-- end here -->
        </div>

        <div class="location-block23-spacer"></div>
      </div>
    </div>
  </div>
</div>
