<div class="login login-block layout">
    <div class="login-block1 layout">
      <div class="login-block1-item bg_img_left" style="display: none">
        <div class="login-box layout"></div>
      </div>
      <div class="login-block1-item1">
        <div class="login-block2 layout">
          <div class="login-block2-spacer"></div>
         
          <div class="login-block2-item">
           
              <div class="login-block3 layout" style="align-items: center">
               <!--  <div class="login-block12 layout">
                  <img src="../../../assets/images/logo_asset.png" />
                </div> -->
                <div class="login-block4 layout" class="login-customh1">
                  <h1 class="login-hero-title layout">Change Password</h1>
                </div>
                <div class="login-block11 layout" style="margin-top: 2%">
                  <h3 class="login-subtitle layout">
                    <div class="login-block11 layout">
                      <h3 class="login-subtitle layout">
                        We have sent you an email to reset your password.
                      </h3>
                    </div> 
                  </h3>
                </div> 
               <!-- <div class="login-block11 layout" style="margin-top: 2%">
                  <h3 class="login-subtitle layout"> -->
                    <p style="margin-top: 2%;font-size: 18px;">Follow This Link To Reset Your Password &nbsp;&nbsp; <a href="{{path}}" target="_self">{{path}}</a></p>
             
                 <!--  </h3>
                </div>  -->
                <!-- <div class="login-box4 layout"></div> -->
               
                <div class="login-block3-spacer1"></div>
              </div>
           
          </div>
          <div class="login-block2-spacer"></div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  