<div class="cust-list-flex1 layout manage-location">
  <h1 class="cust-list-subtitle layout">Locations</h1>
  <div class="cust-list-flex1-item">
    <div class="cust-list-block3 layout">
      <div class="cust-list-block3-item count-card">
        <div class="cust-list-block4 layout">
          <div class="cust-list-block4-item">
            <div class="cust-list-block5 layout">
              <div class="cust-list-block5-item">
                <div class="cust-list-block6 layout">
                  <div class="cust-list-block7 layout">
                    <div class="cust-list-block7-item icon-box total-count">
                      <div
                        class="cust-list-block8 layout"
                        [style.background-color]="
                          statusData ? statusData[0]?.color : ''
                        "
                      >
                        <div class="cust-list-box7 layout">
                          <img
                            src="../../../../assets/Admin-SideNav/Location-Icons/Total-Location.svg"
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                    <div class="cust-list-block7-spacer"></div>
                    <div class="cust-list-block7-item1">
                      <div class="cust-list-block9 layout mg-20">
                        <h1 class="cust-list-hero-title layout">
                          {{ statusData ? statusData[0]?.value : '' }}
                        </h1>
                        <div class="cust-list-text-body2 layout">
                          {{ statusData ? statusData[0]?.key : '' }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cust-list-block5-spacer"></div>
              <div class="cust-list-block5-item1">
                <div class="cust-list-image layout"></div>
              </div>
            </div>
          </div>
          <div class="cust-list-block4-spacer"></div>
          <div class="cust-list-block4-item">
            <div class="cust-list-block10 layout">
              <div class="cust-list-block10-item">
                <div class="cust-list-block11 layout">
                  <div class="cust-list-block12 layout">
                    <div class="cust-list-block12-item icon-box">
                      <div
                        class="cust-list-block13 layout"
                        [style.background-color]="
                          statusData ? statusData[1].color : ''
                        "
                      >
                        <div class="cust-list-box7 layout">
                          <img
                            src="../../../../assets/Admin-SideNav/Location-Icons/Live-Location.svg"
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                    <div class="cust-list-block12-spacer"></div>
                    <div class="cust-list-block12-item1">
                      <div class="cust-list-block14 layout mg-20">
                        <h1 class="cust-list-hero-title layout">
                          {{ statusData ? statusData[1]?.value : '' }}
                        </h1>
                        <div class="cust-list-text-body2 layout1">
                          {{ statusData ? statusData[1]?.key : '' }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cust-list-block10-spacer"></div>
              <div class="cust-list-block10-item1">
                <div class="cust-list-image layout1"></div>
              </div>
            </div>
          </div>
          <div class="cust-list-block4-spacer"></div>
          <div class="cust-list-block4-item">
            <div class="cust-list-block10 layout">
              <div class="cust-list-block10-item">
                <div class="cust-list-block11 layout">
                  <div class="cust-list-block12 layout under-maintenance">
                    <div class="cust-list-block12-item icon-box">
                      <div
                        class="cust-list-block18 layout"
                        [style.background-color]="
                          statusData ? statusData[2]?.color : ''
                        "
                      >
                        <div class="cust-list-box7 layout">
                          <img
                            src="../../../../assets/Admin-SideNav/Location-Icons/Under-Maintenance.svg"
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                    <div class="cust-list-block12-spacer"></div>
                    <div class="cust-list-block12-item1">
                      <div class="cust-list-block14 layout mg-20">
                        <h1 class="cust-list-hero-title layout">
                          {{ statusData ? statusData[2]?.value : '' }}
                        </h1>
                        <div class="cust-list-text-body2 layout1">
                          {{ statusData ? statusData[2]?.key : '' }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cust-list-block10-spacer"></div>
              <div class="cust-list-block10-item1">
                <div class="cust-list-image layout1"></div>
              </div>
            </div>
          </div>
          <div class="cust-list-block4-spacer"></div>
          <div class="cust-list-block4-item1 upcoming">
            <div class="cust-list-block15 layout">
              <div class="cust-list-block15-item">
                <div class="cust-list-block16 layout">
                  <div class="cust-list-block17 layout">
                    <div class="cust-list-block17-item icon-box">
                      <div
                        class="cust-list-block18 layout lasticon"
                        [style.background-color]="
                          statusData ? statusData[3]?.color : ''
                        "
                      >
                        <div class="cust-list-box7 layout">
                          <img
                            src="../../../../assets/Admin-SideNav/Location-Icons/Upcoming.svg"
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                    <div class="cust-list-block17-spacer"></div>
                    <div class="cust-list-block17-item1">
                      <div class="cust-list-block14 layout mg-20">
                        <h1 class="cust-list-hero-title layout">
                          {{ statusData ? statusData[3]?.value : '' }}
                        </h1>
                        <div class="cust-list-text-body2 layout2">
                          {{ statusData ? statusData[3]?.key : '' }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cust-list-block15-spacer"></div>
              <div class="cust-list-block15-item1">
                <div class="cust-list-image layout2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cust-list-flex3 layout">
    <div class="cust-list-flex3-item">
      <div class="cust-list-group layout">
        <div class="cust-list-block19 layout">
          <div class="cust-list-box9 layout" (click)="applyFilter()">
            <img
              src="../../../../assets/Admin-SideNav/Location-Icons/Search.svg"
              alt=""
              class="cust-list-icon layout"
            />
          </div>

          <div class="cust-list-block20 layout">
            <input
              class="cust-list-text-body21 layout"
              (keyup)="applyFilter()"
              placeholder="Search by location name"
              #input
            />
          </div>
        </div>
      </div>
    </div>
    <div class="cust-list-flex3-spacer"></div>
    <div class="cust-list-flex3-item1">
      <div class="cust-list-block23 layout" [routerLink]="['add-location']">
        <div class="cust-list-block23-item">
          <div class="layout">
            <img
              src="../../../../assets/Admin-SideNav/Location-Icons/Add-Location.svg"
              alt=""
              class="adduserimage"
            />
          </div>
        </div>
        <div class="cust-list-block23-spacer"></div>
        <div class="cust-list-text-body4 layout">
          ADD LOCATION
        </div>
      </div>
    </div>
  </div>
  <div class="layout mat-data">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="locationId">
        <th mat-header-cell *matHeaderCellDef>LOCATION ID</th>
        <td mat-cell *matCellDef="let element">{{ element.locationId }}</td>
      </ng-container>

      <ng-container matColumnDef="locationName">
        <th mat-header-cell *matHeaderCellDef>LOCATION NAME</th>
        <td mat-cell *matCellDef="let element">{{ element.locationName }}</td>
      </ng-container>

      <ng-container matColumnDef="addressLine1">
        <th mat-header-cell *matHeaderCellDef>LOCATION ADDRESS</th>
        <td mat-cell *matCellDef="let element">
          {{ element.addressLine1 }} {{ element.addressLine2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="contactPersonName">
        <th mat-header-cell *matHeaderCellDef>LOCATION CONTACT NAME</th>
        <td mat-cell *matCellDef="let element">
          {{ element.contactPersonName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="locationStatusName">
        <th mat-header-cell *matHeaderCellDef>LOCATION STATUS</th>
        <td mat-cell *matCellDef="let element">
          {{ element.locationStatusName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="numberOfCharger">
        <th mat-header-cell *matHeaderCellDef>NO. OF CHARGERS</th>
        <td mat-cell *matCellDef="let element">
          <!--  {{ element.NumberOfCharger }} element.isActive -->
          {{ element.numberOfCharger }}
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>ACTION</th>
        <td mat-cell *matCellDef="let element">
          <!-- <span *ngIf="element.isActive"><img src="assets/icons/tick.png " alt="" title="Active" style="cursor: pointer;" 
            (click)="changeState(element.id,element.isActive)"
            /></span><span *ngIf="!element.isActive"><img src="assets/icons/inactive.svg " alt="" title="Inactive" style="cursor: pointer;" 
              (click)="changeState(element.id,element.isActive)"
              /></span>&nbsp; -->
          <span>
            <img
              src="../../../../assets/Admin-SideNav/Location-Icons/Add-Charger.svg"
              alt=""
              title="Add Charger"
              style="cursor: pointer; margin: 10px;"
              (click)="AddCharger(element)"
            />
          </span>
          &nbsp;
          <span>
            <img
              src="../../../../assets/Admin-SideNav/Location-Icons/View.svg"
              alt=""
              title="View"
              style="cursor: pointer; margin: 10px;"
              (click)="viewLocation(element)"
            />
          </span>
          &nbsp;
          <span>
            <img
              src="../../../../assets/Admin-SideNav/Location-Icons/Edit.svg"
              alt=""
              title="Edit"
              style="cursor: pointer; margin: 10px;"
              (click)="editLocation(element)"
            />
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <ng-container *ngIf="isTableHasData">
      <p class="text-center">No record found</p>
    </ng-container>
  </div>
  <mat-paginator
    #paginator
    [hidden]="!dataSource.data.length"
    (page)="pageChange($event)"
    [length]="totalCount"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
  ></mat-paginator>
</div>

<!-- <br>
<app-add-operator></app-add-operator> -->
