<div class="cust-list-flex1 layout">
  <h3 class="cust-list-subtitle layout">Locations</h3>
  <div class="cust-list-flex1-item">
    <div class="cust-list-block3 layout">
      <div class="cust-list-block3-item">
        <div class="cust-list-block4 layout">
          <div class="cust-list-block4-item">
            <div class="cust-list-block5 layout">
              <div class="cust-list-block5-item">
                <div class="cust-list-block6 layout">
                  <div class="cust-list-block7 layout">
                    <div class="cust-list-block7-item">
                      <div class="cust-list-block8 layout">
                        <div class="cust-list-box7 layout">
                          <img src="assets/icons/l1.svg" />
                        </div>
                      </div>
                    </div>
                    <div class="cust-list-block7-spacer"></div>
                    <div class="cust-list-block7-item1">
                      <div class="cust-list-block9 layout">
                        <h1 class="cust-list-hero-title layout">100</h1>
                        <div class="cust-list-text-body2 layout">Total Locations</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cust-list-block5-spacer"></div>
              <div class="cust-list-block5-item1">
                <div
                  style="
                    --src: url(/assets/79bc613acca208fbbe5d5ee8be3a0594.png);
                  "
                  class="cust-list-image layout"
                ></div>
              </div>
            </div>
          </div>
          <div class="cust-list-block4-spacer"></div>
          <div class="cust-list-block4-item">
            <div class="cust-list-block10 layout">
              <div class="cust-list-block10-item">
                <div class="cust-list-block11 layout">
                  <div class="cust-list-block12 layout">
                    <div class="cust-list-block12-item">
                      <div class="cust-list-block13 layout">
                        <div class="cust-list-box7 layout">
                          <img src="assets/icons/l2.svg" />
                        </div>
                      </div>
                    </div>
                    <div class="cust-list-block12-spacer"></div>
                    <div class="cust-list-block12-item1">
                      <div class="cust-list-block14 layout">
                        <h1 class="cust-list-hero-title layout">40</h1>
                        <div class="cust-list-text-body2 layout1">Live</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cust-list-block10-spacer"></div>
              <div class="cust-list-block10-item1">
                <div
                  style="
                    --src: url(/assets/79bc613acca208fbbe5d5ee8be3a0594.png);
                  "
                  class="cust-list-image layout1"
                ></div>
              </div>
            </div>
          </div>
          <div class="cust-list-block4-spacer"></div>
          <div class="cust-list-block4-item">
            <div class="cust-list-block10 layout">
              <div class="cust-list-block10-item">
                <div class="cust-list-block11 layout">
                  <div class="cust-list-block12 layout">
                    <div class="cust-list-block12-item">
                      <div class="cust-list-block18 layout">
                        <div class="cust-list-box7 layout">
                          <img src="assets/icons/l3.svg" />
                        </div>
                      </div>
                    </div>
                    <div class="cust-list-block12-spacer"></div>
                    <div class="cust-list-block12-item1">
                      <div class="cust-list-block14 layout">
                        <h1 class="cust-list-hero-title layout">10</h1>
                        <div class="cust-list-text-body2 layout1">Under Maintenance</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cust-list-block10-spacer"></div>
              <div class="cust-list-block10-item1">
                <div
                  style="
                    --src: url(/assets/79bc613acca208fbbe5d5ee8be3a0594.png);
                  "
                  class="cust-list-image layout1"
                ></div>
              </div>
            </div>
          </div>
          <div class="cust-list-block4-spacer"></div>
          <div class="cust-list-block4-item1">
            <div class="cust-list-block15 layout">
              <div class="cust-list-block15-item">
                <div class="cust-list-block16 layout">
                  <div class="cust-list-block17 layout">
                    <div class="cust-list-block17-item">
                      <div class="cust-list-block18 layout lasticon">
                        <div class="cust-list-box7 layout">
                          <img src="assets/icons/l4.svg" />
                        </div>
                      </div>
                    </div>
                    <div class="cust-list-block17-spacer"></div>
                    <div class="cust-list-block17-item1">
                      <div class="cust-list-block14 layout">
                        <h1 class="cust-list-hero-title layout">50</h1>
                        <div class="cust-list-text-body2 layout2">Upcoming</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cust-list-block15-spacer"></div>
              <div class="cust-list-block15-item1">
                <div
                  style="
                    --src: url(/assets/79bc613acca208fbbe5d5ee8be3a0594.png);
                  "
                  class="cust-list-image layout2"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cust-list-flex3 layout">
    <div class="cust-list-flex3-item">
      <div class="cust-list-group layout">
        <div class="cust-list-block19 layout">
          <div class="cust-list-box9 layout">
            <img
              src="assets/images/serach.png"
              alt=""
              class="cust-list-icon layout"
            />
          </div>

          <div class="cust-list-block20 layout">
            <input
              class="cust-list-text-body21 layout"
              (keyup)="applyFilter($event)"
              placeholder="Search Location"
              #input
            />
          </div>
        </div>
      </div>
    </div>
    <div class="cust-list-flex3-spacer"></div>
    <div class="cust-list-flex3-item1">
      <div class="cust-list-block23 layout" [routerLink]="['add-location']">
        <div class="cust-list-block23-item">
          <div class="layout">
            <img src="assets/icons/plus.png" class="adduserimage" />
          </div>
        </div>
        <div class="cust-list-block23-spacer"></div>
        <div
          class="cust-list-text-body4 layout"
          
        >
        ADD LOCATION
        </div>
      </div>
    </div>
  </div>
  <div class="layout mat-data">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="locationid">
        <th mat-header-cell *matHeaderCellDef>LOCATION ID</th>
        <td mat-cell *matCellDef="let element">{{ element.LocationId }}</td>
      </ng-container>

      <ng-container matColumnDef="locationname">
        <th mat-header-cell *matHeaderCellDef>LOCATION NAME</th>
        <td mat-cell *matCellDef="let element">{{ element.LocationName }}</td>
      </ng-container>

      <ng-container matColumnDef="locationaddresss">
        <th mat-header-cell *matHeaderCellDef> LOCATION ADDRESS</th>
        <td mat-cell *matCellDef="let element">
          {{ element.LocationAddress }}
        </td>
      </ng-container>

      <ng-container matColumnDef="locationcontactname">
        <th mat-header-cell *matHeaderCellDef>LOCATION CONTACT NAME</th>
        <td mat-cell *matCellDef="let element">
          {{ element.LocationContactName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="locationstatus">
        <th mat-header-cell *matHeaderCellDef> LOCATION STATUS</th>
        <td mat-cell *matCellDef="let element">{{ element.LocationStatus }}</td>
      </ng-container>

      <ng-container matColumnDef="noofcharges">
        <th mat-header-cell *matHeaderCellDef>NO.OF CHARGERS</th>
        <td mat-cell *matCellDef="let element">
          {{ element.NumberOfCharger }}
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>ACTION</th>
        <td mat-cell *matCellDef="let element">
          <span><img src="../../../../assets/icons/charger.svg" alt="" title="Charger" style="cursor: pointer ; margin: 10px;" 
            (click)="AddChareger()" [routerLink]="['../../add-chager']"
            /></span>&nbsp;
          <span
            ><img
              src="assets/icons/View.png"
              alt="" title="View"
              style="cursor: pointer ; margin: 10px;"
              
              (click)="viewLocation(element)" 
             
              /></span
          >&nbsp;
          <span
            ><img
              src="assets/icons/Edit.png"
              alt="" title="Edit"
              style="cursor: pointer ; margin: 10px;"
              
              (click)="editLocation(element)"
            
          /></span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <ng-container *ngIf="isTableHasData">
      <p class="text-center">No record found</p>
    </ng-container>
  </div>
  <mat-paginator
    [length]="100"
    [pageSizeOptions]="[10, 20, 100]"
    aria-label="Rows per page"
  ></mat-paginator>
</div>

<!-- <br>
<app-add-operator></app-add-operator> -->
