<div class="cust-list-flex1 layout manage-client-billing">
  <h1 class="cust-list-subtitle layout">Client Billing configure</h1>
 
  <div class="cust-list-flex3 layout">
    <div class="cust-list-flex3-item">
      <div class="cust-list-group layout">
        <div class="cust-list-block19 layout">
          <div class="cust-list-box9 layout">
            <img
              class="cust-list-icon layout"
              src="../../../../../assets/Super-Admin-icons/Search.svg"
              alt=""
            />
          </div>

          <div class="cust-list-block20 layout">
            <input
              class="cust-list-text-body21 layout"
              (keyup)="applyFilter($event)"
              placeholder="Search by client name"
              #input
            />
          </div>
        </div>
      </div>
    </div>
    <div class="cust-list-flex3-spacer"></div>
    <div class="cust-list-flex3-item1">
      <div
        class="cust-list-block23 layout"
        (click)="performAction('create-client-billing', '')"
      >
        <div class="cust-list-block23-item">
          <div class="cust-list-box10 layout">
            <img
              src="../../../../assets/Super-Admin-icons/Add.svg"
              alt=""
              srcset=""
            />
          </div>
        </div>
        <div class="cust-list-block23-spacer"></div>
        <div class="cust-list-text-body4 layout">ADD Client Billing</div>
      </div>
    </div>
  </div>
  <div class="layout mat-data">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <caption></caption>
      <ng-container matColumnDef="customer">
        <th mat-header-cell *matHeaderCellDef class="textalign">
         CLIENT NAME
        </th>
        <td mat-cell *matCellDef="let element">{{ element.customer }}</td>
      </ng-container>
      <ng-container matColumnDef="chargerType">
        <th mat-header-cell *matHeaderCellDef>CHARGER TYPE</th>
        <td mat-cell *matCellDef="let element">{{ element.chargerType }}</td>
      </ng-container>
      <ng-container matColumnDef="planName">
        <th mat-header-cell *matHeaderCellDef>PLAN NAME</th>
        >
        <td mat-cell *matCellDef="let element">{{ element.planName }}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>PRICE</th>
        <td mat-cell *matCellDef="let element">{{ element.price }}</td>
      </ng-container>
      <ng-container matColumnDef="startPeriod">
        <th mat-header-cell *matHeaderCellDef>Start Period</th>
        <td mat-cell *matCellDef="let element">{{ element.startPeriod }}</td>
      </ng-container>
      <ng-container matColumnDef="endPeriod">
        <th mat-header-cell *matHeaderCellDef>End Period</th>
        <td mat-cell *matCellDef="let element">{{ element.endPeriod }}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>DESCRIPTION </th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef>STATUS</th>
        <td mat-cell *matCellDef="let element">
          {{ element.isActive ? 'Active' : 'Inactive' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef>ACTION</th>
        <td mat-cell *matCellDef="let element">
          <span
            *ngIf="!element.isActive"
            title="Active"
            (click)="changeState(element.id, element.isActive)"
          >
            <img
              src="../../../../assets/Admin-SideNav/Vehicles-Icons/Active-tik.svg"
              class="cursorPointer"
              alt=""
            />
          </span>
          <span
            *ngIf="element.isActive"
            title="Inactive"
            (click)="changeState(element.id, element.isActive)"
          >
            <img
              src="../../../../assets/Active.svg"
              class="cursorPointer"
              alt=""
            />
          </span>
          <span style="margin: 7px;">
            <img
              src="../../../../assets/Super-Admin-icons/Edit.svg"
              alt=""
              class="cursorPointer"
              (click)="performAction('edit', element)"
              title="Edit"
            />
          </span>
          <span style="margin: 7px;">
            <img
              src="../../../../assets/Super-Admin-icons/View.svg"
              alt=""
              class="cursorPointer"
              title="View"
              (click)="performAction('view', element)"
            />
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    
    <ng-container *ngIf="!dataSource.data.length">
      <p class="text-center">No Records Found!</p>
    </ng-container>
  </div>
</div>

<mat-paginator
  #paginator
  [hidden]="!dataSource.data.length"
  (page)="pageChange($event)"
  [length]="totalCount"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
></mat-paginator>
