<div class="barbar-block10 layout add-location">
  <div class="barbar-flex layout">
    <div class="barbar-block11 layout">
      <h3 class="barbar-subtitle layout">{{ locationInfoTitle }}</h3>
    </div>

    <form [formGroup]="addLocationForm">
      <div class="barbar-block12 layout">
        <h4 class="barbar-highlights1 layout"></h4>
        <div class="barbar-block13 layout">
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Location ID
                <span style="color: 'red';">*</span>
              </h5>
              <div class="barbar-box6 layout">
                <input
                  formControlName="LocationId"
                  type="text"
                  class="barbar-input-text"
                />
                <span
                  *ngIf="
                    !addLocationForm.get('LocationId')?.valid &&
                    addLocationForm.get('LocationId')?.touched &&
                    addLocationForm.get('LocationId')?.value.length > 0
                  "
                  class="error-mess"
                >
                  Location ID must be in alphanumeric characters
                </span>
                <span
                  *ngIf="addLocationForm.get('LocationId')?.touched &&
                    addLocationForm.get('LocationId')?.value.length > 20
                  " class="error-mess"
                >
                  Location ID must not greater than 20 alphanumeric characters
                </span>
                <span
                  *ngIf="
                    !addLocationForm.get('LocationId')?.valid &&
                    addLocationForm.get('LocationId')?.touched &&
                    addLocationForm.get('LocationId')?.value.length == 0
                  "
                  class="error-mess"
                >
                  Location ID is required
                </span>
              </div>
            </div>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Location Name
                <span style="color: 'red';">*</span>
              </h5>
              <div class="barbar-box6 layout">
                <input
                  formControlName="LocationName"
                  type="text"
                  class="barbar-input-text"
                />
                <span
                  *ngIf="
                    !addLocationForm.get('LocationName')?.valid &&
                    addLocationForm.get('LocationName')?.touched &&
                    addLocationForm.get('LocationName')?.value.length > 0
                  "
                  class="error-mess"
                >
                  Location Name must be in alphanumeric characters
                </span>
                <span
                *ngIf="addLocationForm.get('LocationName')?.touched &&
                  addLocationForm.get('LocationName')?.value.length > 20
                "
                class="error-mess"
              >
                Location Name must not greater than 20 alphanumeric characters
              </span>
                <span
                  *ngIf="
                    !addLocationForm.get('LocationName')?.valid &&
                    addLocationForm.get('LocationName')?.touched &&
                    addLocationForm.get('LocationName')?.value.length == 0
                  "
                  class="error-mess"
                >
                  Location Name is required
                </span>
              </div>
            </div>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Location Status
                <span style="color: 'red';">*</span>
              </h5>

              <mat-form-field class="barbar-box6 layout">
                <!-- <mat-label >Select</mat-label> -->
                <mat-select formControlName="locationStatus">
                  <mat-option value="0" [disabled]="true">Select</mat-option>
                  <mat-option
                    *ngFor="let c of locationStatusList"
                    value="{{ c.id }}"
                  >
                    {{ c.locationStatusName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">Description</h5>
              <div class="barbar-box6 layout">
                <input
                  formControlName="Description"
                  type="text"
                  class="barbar-input-text"
                />
                <span
                *ngIf="addLocationForm.get('Description')?.touched &&
                  addLocationForm.get('Description')?.value.length > 255
                "
                class="error-mess"
              >
              Description not greater than 255 characters
              </span>
              </div>
            </div>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Contact Person Name
                <span style="color: 'red';">*</span>
              </h5>
              <div class="barbar-box6 layout">
                <input
                  formControlName="contactPersonName"
                  type="text"
                  class="barbar-input-text"
                />
                <span
                  *ngIf="
                    !addLocationForm.get('contactPersonName')?.valid &&
                    addLocationForm.get('contactPersonName')?.touched && addLocationForm.get('contactPersonName')?.value.length == 0
                  "
                  class="error-mess"
                >
                  Contact Person Name is required
                </span>
                <span
                *ngIf="
                  !addLocationForm.get('contactPersonName')?.valid &&
                  addLocationForm.get('contactPersonName')?.touched && addLocationForm.get('contactPersonName')?.value.length > 25
                "
                class="error-mess"
              >
                Contact Person Name must be less than 25 characters
              </span>
                <span
                  *ngIf="
                    !addLocationForm.get('contactPersonName')?.valid &&
                    addLocationForm.get('contactPersonName')?.touched
                  "
                  class="error-mess"
                >
                  Contact Person Name must be in alphabets
                </span>
              </div>
            </div>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Contact Person Number
                <span style="color: 'red';">*</span>
              </h5>
              <div class="barbar-box6 layout">
                <input
                  formControlName="contactPersonNumber"
                  type="text"
                  class="barbar-input-text"
                />
                <span
                  *ngIf="
                    !addLocationForm.get('contactPersonNumber')?.valid &&
                    addLocationForm.get('contactPersonNumber')?.touched &&
                    addLocationForm.get('contactPersonNumber')?.value.length ==
                      0
                  "
                  class="error-mess"
                >
                  Contact Person Number is required
                </span>
                <span
                  *ngIf="
                    !addLocationForm.get('contactPersonNumber')?.valid &&
                    addLocationForm.get('contactPersonNumber')?.touched &&
                    addLocationForm.get('contactPersonNumber')?.value.length > 15
                  "
                  class="error-mess"
                >
                  Contact Person Number must be between 10 to 15 digits
                </span>
                <span
                  *ngIf="
                    !addLocationForm.get('contactPersonNumber')?.valid &&
                    addLocationForm.get('contactPersonNumber')?.touched &&
                    addLocationForm.get('contactPersonNumber')?.value.length > 0
                  "
                  class="error-mess"
                >
                  Contact Person Number must be numeric 
                </span>
              </div>
            </div>
          </div>
          <!-- Department-->
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Department
                <span style="color: 'red';">*</span>
              </h5>
              <mat-form-field class="barbar-box6 layout">
                <!-- <mat-label >Select</mat-label> -->
                <mat-select formControlName="departmentId">
                  <mat-option value="0" [disabled]="true">Select</mat-option>
                  <mat-option
                    *ngFor="let c of departmentList"
                    value="{{ c.id }}"
                  >
                    {{ c.departmentName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <!-- <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">No. of Chargers</h5>
              <div class="barbar-box6 layout">
                <input
                  formControlName="phoneNumber"
                  type="text"
                  class="barbar-input-text"
                />
              </div>
            </div>
          </div> -->
        </div>
      </div>

      <div class="barbar-block12 layout">
        <h4 class="barbar-highlights1 layout">Location</h4>
        <div class="barbar-block13 layout">
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">Latitude</h5>
              <div class="barbar-box6 layout">
                <input
                  formControlName="Latitude"
                  type="text"
                  class="barbar-input-text"
                />
                <span
                  *ngIf="
                    !addLocationForm.get('Latitude')?.valid &&
                    addLocationForm.get('Latitude')?.touched &&
                    addLocationForm.get('Latitude')?.value.length > 0
                  "
                  class="error-mess"
                >
                  Latitude must not be in special characters
                </span>
              </div>
            </div>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">Longitude</h5>
              <div class="barbar-box6 layout">
                <input
                  formControlName="Longitude"
                  type="text"
                  class="barbar-input-text"
                  (blur)="showLocation()"
                />
                <span
                *ngIf="
                  !addLocationForm.get('Longitude')?.valid &&
                  addLocationForm.get('Longitude')?.touched &&
                  addLocationForm.get('Longitude')?.value.length > 0
                "
                class="error-mess"
              >
              Longitude must not be in special characters
              </span>
              </div>
            </div>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Address Line 1
                <span style="color: 'red';">*</span>
              </h5>
              <div class="barbar-box6 layout">
                <input
                  formControlName="addressLine1"
                  type="text"
                  class="barbar-input-text"
                />
                <span
                  *ngIf="
                    !addLocationForm.get('addressLine1')?.valid &&
                    addLocationForm.get('addressLine1')?.touched &&
                    addLocationForm.get('addressLine1')?.value.length == 0
                  "
                  class="error-mess"
                >
                  Address Line 1 is required
                </span>
                <span
                  *ngIf="
                    !addLocationForm.get('addressLine1')?.valid &&
                    addLocationForm.get('addressLine1')?.touched &&
                    addLocationForm.get('addressLine1')?.value.length > 255
                  "
                  class="error-mess"
                >
                  Address Line 1 must not exceed more than 255 characters
                </span>
              </div>
            </div>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">Address Line 2</h5>
              <div class="barbar-box6 layout">
                <input
                  formControlName="addressLine2"
                  type="text"
                  class="barbar-input-text"
                />
                <span
                *ngIf="
                  !addLocationForm.get('addressLine2')?.valid &&
                  addLocationForm.get('addressLine2')?.touched &&
                  addLocationForm.get('addressLine2')?.value.length > 255
                "
                class="error-mess"
              >
                Address Line 2 must not exceed more than 255 characters
              </span>
              </div>
            </div>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">Country  <span style="color: 'red';">*</span></h5>
              <mat-form-field class="barbar-box6 layout">
                <!-- <mat-label >Select</mat-label> -->
                <mat-select
                  formControlName="Country"
                  (selectionChange)="getSelected($event, 'state')"
                >
                  <!--  <mat-option value="{{selectcountryId}}" [disabled]="true">Select</mat-option> -->
                  <mat-option value="{{ selectValue }}">Select</mat-option>
                  <mat-option
                    *ngFor="let c of countryList"
                    value="{{ c.id }}#{{ c.countryName }}"
                  >
                    {{ c.countryName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">State  <span style="color: 'red';">*</span></h5>

              <mat-form-field class="barbar-box6 layout">
                <!-- <mat-label >Select</mat-label> [value]="selectValue" -->
                <mat-select
                  formControlName="State"
                  (selectionChange)="getSelected($event, 'city')"
                >
                  <mat-option value="{{ selectValue }}">Select</mat-option>
                  <mat-option
                    *ngFor="let c of stateList"
                    value="{{ c.id }}#{{ c.stateName }}"
                  >
                    {{ c.stateName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">City <span style="color: 'red';">*</span></h5>
              <mat-form-field class="barbar-box6 layout">
                <!-- <mat-label >Select</mat-label> -->
                <mat-select
                  formControlName="City"
                  (selectionChange)="getSelected($event, '')"
                >
                  <mat-option value="{{ selectValue }}">Select </mat-option>
                  <mat-option
                    *ngFor="let c of cityList"
                    value="{{ c.id }}#{{ c.cityName }}"
                  >
                    {{ c.cityName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">Zip Code  <span style="color: 'red';">*</span></h5>
              <div class="barbar-box6 layout">
                <input
                  formControlName="zipcode"
                  type="text"
                  class="barbar-input-text"
                />
                <span
                  *ngIf="
                    !addLocationForm.get('zipcode')?.valid &&
                    addLocationForm.get('zipcode')?.touched && addLocationForm.get('zipcode')?.value.length == 0
                  "
                  class="error-mess"
                >
                  Zipcode is required
                </span>
                <span
                  *ngIf="
                    !addLocationForm.get('zipcode')?.valid &&
                    addLocationForm.get('zipcode')?.touched && addLocationForm.get('zipcode')?.value.length > 0 && addLocationForm.get('zipcode')?.value.length < 6
                  "
                  class="error-mess"
                >
                  Zipcode must be in Number
                </span>
                <span
                  *ngIf="
                    !addLocationForm.get('zipcode')?.valid &&
                    addLocationForm.get('zipcode')?.touched  && addLocationForm.get('zipcode')?.value.length > 6
                  "
                  class="error-mess"
                >
                  Zipcode must be not exceed than 6 digits
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="barbar-block12 layout">
        <h4 class="barbar-highlights1 layout">Reference Information</h4>
        <div class="barbar-block13 layout">
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">Total Capacity</h5>
              <div class="barbar-box6 layout">
                <input
                  formControlName="totalcapacity"
                  type="text"
                  class="barbar-input-text"
                />
                <span
                *ngIf="
                  !addLocationForm.get('totalcapacity')?.valid &&
                  addLocationForm.get('totalcapacity')?.touched && addLocationForm.get('totalcapacity')?.value.length > 0
                "
                class="error-mess"
              >
              Total Capacity must be in Number
              </span>
              <span
                *ngIf="
                  !addLocationForm.get('totalcapacity')?.valid &&
                  addLocationForm.get('totalcapacity')?.touched  && addLocationForm.get('totalcapacity')?.value.length > 15
                "
                class="error-mess"
              >
              Total Capacity must be not exceed than 15 digits
              </span>
              </div>
            </div>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">Utility Service</h5>
              <div class="barbar-box6 layout">
                <input
                  formControlName="utilityservice"
                  type="text"
                  class="barbar-input-text"
                />
               
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="cust-list-flex3-item">
        <h3 class="searchtitle">Search Location</h3>
        <div class="cust-list-group layout">
          <div class="cust-list-block19 layout">
            <div class="cust-list-box9 layout">
              <img
                src="assets/images/serach.png"
                alt=""
                class="cust-list-icon layout"
              />
            </div>
            <div class="cust-list-block20 layout">
              <input
                ngx-google-places-autocomplete
                (onAddressChange)="handleAddressChange($event)"
                class="cust-list-text-body21 layout"
                (keyup)="($event)"
                placeholder=""
                #input
              />
            </div>
          </div>
        </div>
      </div>

      <div class="location-block20-spacer"></div>
      <div style="display: flex; flex-direction: column; flex: 3 1 30%;">
        <div>
          <h5
            class="location-highlights layout headingtitle"
            style="width: 100%; margin-bottom: 8px;"
          ></h5>
        </div>
        <!--  to show location -->
        <div #map style="width: 100%; height: 50vh;"></div>
      </div>
      <div class="barbar-block13-spacer"></div>
      <h4 class="barbar-highlights1 layout">Location Opening Hours</h4>
      <div class="add-location-values">
        <div
          class="barbar-block12 layout"
          formArrayName="locationScheduleCommand"
          *ngFor="let item of getLocationScheduledFormControls(); let i = index"
        >
          <div class="barbar-block13 layout">
            <div class="barbar-block13-spacer"></div>
            <div class="barbar-block13-item width" [formGroupName]="i">
              <div class="barbar-block14 layout">
                <h5 class="barbar-highlights layout">{{ item.value.day }} <span style="color: 'red';">*</span></h5>

                <mat-form-field class="barbar-box6 layout width50">
                  <mat-label>Select</mat-label>
                  <mat-select formControlName="startTime">
                    <mat-option [value]="time" *ngFor="let time of timeList">
                      {{ time }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                to
                <mat-form-field class="barbar-box6 layout width50">
                  <mat-label>Select</mat-label>
                  <mat-select formControlName="endTime">
                    <mat-option [value]="time" *ngFor="let time of timeList">
                      {{ time }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="barbar-flex1 layout">
        <div class="barbar-flex1-item">
          <div class="barbar-block17 layout">
            <div
              class="barbar-text-body2 layout"
              [routerLink]="['../../locations']"
            >
              CANCEL
            </div>
          </div>
        </div>
        <div class="barbar-flex1-spacer"></div>
        <div class="barbar-flex1-item">
          <div class="barbar-block16 layout">
            <div
              class="barbar-text-body1 layout"
              (click)="addLocation()"
              *ngIf="isSaveBtn"
            >
              SAVE
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
