<!-- <div style="display: flex; flex-direction: column; justify-content: center;">
  <div class="tool-tip tool-tip-block layout">
    <div class="tool-tip-block1 layout">
      <div class="tool-tip-block2 layout">
        <h4 class="tool-tip-highlights layout">

            <ng-content select=".title"></ng-content>
        </h4>
        <div class="tool-tip-block3 layout">

          <ng-content select=".item"></ng-content>


        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="tool-tip-block1 layout" [ngClass]="setCharging || start ?'set-charger1':''">
  <div class="tool-tip-block2 layout">
    <h4 class="tool-tip-highlights layout">
      <!-- Firmware Management -->
        <ng-content select=".title"></ng-content>
    </h4>
    <div class="tool-tip-block3 layout">

      <ng-content select=".item"></ng-content>

      <!-- <div class="tool-tip-block3-item">
        <div class="tool-tip-block4 layout">
          <div class="tool-tip-block5 layout">
            <div class="tool-tip-block6 layout">
              <div style="--src:url(/assets/de8c23712230dd214cc868a3c9fd10c7.png)" class="tool-tip-icon layout"></div>
              <div class="tool-tip-text-body layout">Update Firmware</div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
