<div class="header header-block layout">
  <div class="header-block1 layout">
    <div class="header-flex layout">
      <h1 class="header-subtitle-box layout">
        Chargers
      </h1>

      <div class="dashboard-block12 layout"></div>
      <div class="dashboard-block13 layout charger-inner">
        <div class="dashboard-block13-item">
          <div class="dashboard-block14 layout">
            <div class="dashboard-block15 layout">
              <div class="dashboard-block15-item">
                <app-widget
                  [widgetIcon]="chargers"
                  [data]="data[0]"
                ></app-widget>
              </div>
              <div class="dashboard-block15-spacer"></div>

              <div class="dashboard-block15-item">
                <app-widget
                  [widgetIcon]="charging_session"
                  [data]="data[1]"
                ></app-widget>
              </div>
              <div class="dashboard-block15-spacer1"></div>
              <div class="dashboard-block15-item">
                <app-widget [widgetIcon]="errors" [data]="data[2]"></app-widget>
              </div>
            </div>

            <div class="dashboard-block32 layout">
              <div class="dashboard-block33 layout">
                <mat-button-toggle-group
                  class="pt-0"
                  [formControl]="filterToggle"
                  (change)="setTime($event)"
                >
                  <div class="dashboard-block33-item1">
                    <div class="dashboard-block35 layout space-between">
                      <mat-button-toggle
                        value="1"
                        style="border: 1px solid #0062a6;"
                      >
                        Last 24 Hours
                      </mat-button-toggle>
                    </div>
                  </div>
                  <div class="dashboard-block33-item2">
                    <div class="dashboard-block36 layout space-between">
                      <mat-button-toggle value="7">One Week</mat-button-toggle>
                    </div>
                  </div>
                  <div class="dashboard-block33-item3">
                    <div class="dashboard-block37 layout space-between">
                      <mat-button-toggle value="30">
                        Current Month
                      </mat-button-toggle>
                    </div>
                  </div>

                  <div class="dashboard-block33-item4">
                    <div class="dashboard-block38 layout space-between">
                      <mat-button-toggle value="90">
                        Last 3 Months
                      </mat-button-toggle>
                    </div>
                  </div>
                </mat-button-toggle-group>
              </div>
            </div>

            <div class="dashboard-block42 layout">
              <div class="dashboard-block42-item">
                <app-bar-chart
                  *ngIf="chargersChartData !== ''"
                  style="width: 100%; height: 100%;"
                  [chartType]="'bar'"
                  [chartTitle]="'Chargers in Use'"
                  [chargersData]="chargersChartData"
                  (barDetailPage)="
                    openDetailPage(
                      5,
                      'Chargers in Use',
                      'CHARGERS',
                      selectedTime
                    )
                  "
                ></app-bar-chart>
              </div>
              <div class="dashboard-block42-spacer"></div>
              <div class="dashboard-block42-item">
                <app-area-chart
                  *ngIf="chargingSessionData !== ''"
                  (areaDetailPage)="
                    openDetailPage(
                      2,
                      'Charging Session',
                      'CHARGERS',
                      selectedTime
                    )
                  "
                  [chargingSessionData]="chargingSessionData"
                  [chartType]="'dashboardChargingSession'"
                  [chartTitle]="'Charging Sessions'"
                ></app-area-chart>
              </div>
            </div>
            <div class="">
              <div class="dashboard-block48 layout">
                <div class="dashboard-block48-item">
                  <div>
                    <div class="cust-list-flex3 layout">
                      <div class="cust-list-flex3-item">
                        <div class="cust-list-group layout">
                          <div class="cust-list-block19 layout">
                            <div class="cust-list-box9 layout">
                              <img
                                src="../../../../assets/icons/search.png"
                                alt=""
                                class="cust-list-icon layout"
                              />
                            </div>

                            <div class="cust-list-block20 layout">
                              <input
                                class="cust-list-text-body21 layout"
                                (keyup)="applyFilter($event)"
                                placeholder="Search by asset id, charge box id, location name, make, model"
                                #input
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="cust-list-flex3-spacer"></div>
                      <div class="cust-list-flex3-item1">
                        <div class="cust-list-block23 layout"></div>
                      </div>
                    </div>
                    <div class="layout mat-data">
                      <table
                        mat-table
                        [dataSource]="dataSource"
                        class="mat-elevation-z8"
                      >
                      <ng-container matColumnDef="assetId">
                        <th mat-header-cell *matHeaderCellDef>
                          ASSET ID
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.assetId }}
                        </td>
                      </ng-container>
                        <!-- Charge Box Id Column -->
                        <ng-container matColumnDef="chargerBoxId">
                          <th mat-header-cell *matHeaderCellDef>
                            CHARGE BOX ID
                          </th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.chargerBoxId }}
                          </td>
                        </ng-container>

                        <!-- Charger Type Column -->
                        <ng-container matColumnDef="chargertype">
                          <th mat-header-cell *matHeaderCellDef>
                            CHARGER TYPE
                          </th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.chargerType }}
                          </td>
                        </ng-container>

                        <!-- Fault Since Column -->
                        <ng-container matColumnDef="faultisince">
                          <th mat-header-cell *matHeaderCellDef> LAST FAULT</th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.faultSince }}
                          </td>
                        </ng-container>

                        <!-- Location Name Column -->
                        <ng-container matColumnDef="locationcontactname">
                          <th mat-header-cell *matHeaderCellDef>
                            LOCATIONS NAME
                          </th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.locationContactName }}
                          </td>
                        </ng-container>

                        <!-- Time Reported Column -->
                        <ng-container matColumnDef="timereported">
                          <th mat-header-cell *matHeaderCellDef>
                            TIME REPORTED
                          </th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.timeReported }}
                          </td>
                        </ng-container>

                        <!-- Location ID Column -->
                        <ng-container matColumnDef="locationid">
                          <th mat-header-cell *matHeaderCellDef>
                            LOCATIONS ID
                          </th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.locationId }}
                          </td>
                        </ng-container>

                        <!-- State Column -->
                        <ng-container matColumnDef="state">
                          <th mat-header-cell *matHeaderCellDef>STATE</th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.state }}
                          </td>
                        </ng-container>

                        <!-- Location Conatct Number Column -->
                        <ng-container matColumnDef="locationcontactnumber">
                          <th mat-header-cell *matHeaderCellDef>
                            LOCATION CONTACT NUMBER
                          </th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.locationContactNumber }}
                          </td>
                        </ng-container>

                        <!-- Action Column -->
                        <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef>ACTION</th>
                          <td
                            mat-cell
                            *matCellDef="let element"
                            (click)="viewCharger(element)"
                            style="cursor: pointer;"
                          >
                            <img src="../../../../assets/icons/view-icon.png" />
                          </td>
                        </ng-container>

                        <tr
                          mat-header-row
                          *matHeaderRowDef="displayedColumns"
                        ></tr>
                        <tr
                          mat-row
                          *matRowDef="let row; columns: displayedColumns"
                        ></tr>
                      </table>
                      <ng-container *ngIf="isTableHasData">
                        <p class="text-center">No record found</p>
                      </ng-container>
                    </div>

                    <mat-paginator
                      #paginator
                      [hidden]="!dataSource.data.length"
                      (page)="pageChange($event)"
                      [length]="totalCount"
                      [pageSize]="pageSize"
                      [pageSizeOptions]="pageSizeOptions"
                    ></mat-paginator>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
