<div class="header header-block layout inner-charger-main">
  <div class="header-block1 layout">
    <div class="header-flex layout">
      <h1 class="header-subtitle-box layout">
        Chargers
      </h1>

      <div class="dashboard-block12 layout"></div>
      <div class="dashboard-block13 layout charger-inner">
        <div class="dashboard-block13-item">
          <div class="dashboard-block14 layout">
            <div class="">
              <div class="dashboard-block48 layout">
                <div class="dashboard-block48-item">
                  <div>
                    
                      <!-- FILTER BAR -->
                        <form [formGroup]="searchFilter" class="charger-filter-bar">
                        
                          <!-- LEFT SIDE (Search + Filters) -->
                          <div class="filter-left">
                          
                            <!-- SEARCH INPUT -->
                            <div class="search-wrapper">
                              <input formControlName="searchText"
                                type="text"
                                placeholder="Search by asset id, charge box id, location name, make, model, sim card"
                                (keyup)="applyFilter($event)"
                              />
                              <button type="button" class="search-icon-btn">
                                <img src="../../../../assets/Admin-SideNav/Charger-Icons/Search.svg" alt="Search" />
                              </button>
                            </div>
                          
                            <!-- LOCATION -->
                            <mat-form-field appearance="outline" class="filter-field">
                              <mat-label>Location</mat-label>
                              <mat-select multiple formControlName="locationId">
                                <mat-option
                                  *ngFor="let data of locationList"
                                  [value]="data.id"
                                  (onSelectionChange)="onSelectLocation($event, data.id)"
                                >
                                  {{ data.locationName }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          
                            <!-- STATUS -->
                            <mat-form-field appearance="outline" class="filter-field">
                              <mat-label>Status</mat-label>
                              <mat-select formControlName="activationStatus">
                                <mat-option value="1">Active</mat-option>
                                <mat-option value="2">Inactive</mat-option>
                              </mat-select>
                            </mat-form-field>
                          
                            <button type="button" class="btn primary action-btn" (click)="getDispensersDetail()">
                              SEARCH
                            </button>
                          
                            <button type="button" class="btn secondary action-btn" (click)="resetFilter()">
                              RESET
                            </button>

                          </div>
                        
                          <!-- RIGHT SIDE (Buttons) -->
                          <div class="cust-list-flex3 layout">
                              <button type="button"
                                class="cust-list-flex3-item1 export-btn"
                                (click)="downloadAsCSV()"
                                aria-label="Export as CSV"
                                >
                                <div class="cust-list-block23 layout">
                                  <div class="cust-list-block23-item">
                                    <div class="cust-list-box10 layout">
                                      <img
                                        src="../../../../../assets/download-report.png"
                                        alt="Download CSV"
                                        srcset=""
                                      />
                                    </div>
                                  </div>
                                  <div class="cust-list-block23-spacer"></div>
                                  <div class="cust-list-text-body4 layout">
                                    EXPORT
                                  </div>
                                </div>
                              </button>
                            </div>
                        
                        </form>



                    <div class="layout mat-data">
                      <table
                        mat-table
                        [dataSource]="dataSource"
                        class="mat-elevation-z8"
                      >
                      <ng-container matColumnDef="assetId">
                        <th mat-header-cell *matHeaderCellDef>
                          ASSET ID
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.assetId }}
                        </td>
                      </ng-container>
                        <!-- Charge Box Id Column -->
                        <ng-container matColumnDef="chargerBoxId">
                          <th mat-header-cell *matHeaderCellDef>
                            CHARGER ID
                          </th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.chargerBoxId }}
                          </td>
                        </ng-container>

                        <!-- Charger Type Column -->
                        <ng-container matColumnDef="chargertype">
                          <th mat-header-cell *matHeaderCellDef>
                            CONNECTOR TYPE
                          </th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.chargerType }}
                          </td>
                        </ng-container>

                        <!-- Fault Since Column -->
                        <ng-container matColumnDef="chargerStatus">
                          <th mat-header-cell *matHeaderCellDef>CHARGER STATUS</th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.chargerStatus }}
                          </td>
                        </ng-container>

                        <!-- Location Name Column -->
                        <ng-container matColumnDef="locationcontactname">
                          <th mat-header-cell *matHeaderCellDef>
                            LOCATION
                          </th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.locationContactName }}
                          </td>
                        </ng-container>

                        <!-- Time Reported Column -->
                        <ng-container matColumnDef="chargerPorts">
                          <th mat-header-cell *matHeaderCellDef>
                            CHARGER PORTS
                          </th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.noofPort }}
                          </td>
                        </ng-container>

                        <!-- Location ID Column -->
                        <ng-container matColumnDef="makeName">
                          <th mat-header-cell *matHeaderCellDef>
                            CHARGER MAKE
                          </th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.makeName }}
                          </td>
                        </ng-container>

                        <!-- State Column -->
                        <ng-container matColumnDef="modelName">
                          <th mat-header-cell *matHeaderCellDef>CHARGER MODEL</th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.modelName }}
                          </td>
                        </ng-container>

                        <!-- State Column -->
                        <ng-container matColumnDef="simCardMSIDN">
                          <th mat-header-cell *matHeaderCellDef>SIM ICCID</th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.simCardMSIDN }}
                          </td>
                        </ng-container>

                        <!-- Location Conatct Number Column -->
                        <ng-container matColumnDef="locationcontactnumber">
                          <th mat-header-cell *matHeaderCellDef>
                            LOCATION CONTACT NUMBER
                          </th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.locationContactNumber }}
                          </td>
                        </ng-container>
                        

                        <!-- Action Column -->
                        <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef>ACTION</th>
                          <td
                            mat-cell
                            *matCellDef="let element"
                            (click)="viewCharger(element)"
                            style="cursor: pointer;"
                          >
                            <img src="../../../../assets/icons/view-icon.png" />
                          </td>
                        </ng-container>

                        <tr
                          mat-header-row
                          *matHeaderRowDef="displayedColumns"
                        ></tr>
                        <tr
                          mat-row
                          *matRowDef="let row; columns: displayedColumns"
                        ></tr>
                      </table>
                      <ng-container *ngIf="isTableHasData">
                        <p class="text-center">No record found</p>
                      </ng-container>
                    </div>

                    <mat-paginator
                      #paginator
                      [hidden]="!dataSource.data.length"
                      (page)="pageChange($event)"
                      [length]="totalCount"
                      [pageSize]="pageSize"
                      [pageSizeOptions]="pageSizeOptions"
                    ></mat-paginator>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
