

<router-outlet></router-outlet>
<!-- <div class="digdig digdig-block layout">
  <h3 class="digdig-subtitle layout">Pagetitle</h3> -->

  <!-- tabs start -->
  <!-- <div class="digdig-block1 layout">
    <div class="digdig-block1-item">
      <div class="digdig-block2 layout">
        <div class="digdig-block3 layout"><div class="digdig-text-body layout">Tabtilte1</div></div>
        <div class="digdig-block4 layout"><div class="digdig-text-body layout">Tabtilte2</div></div>
        <div class="digdig-block3 layout1"><div class="digdig-text-body layout">Tabtilte3</div></div>
        <div class="digdig-block3 layout2"><div class="digdig-text-body layout">Tabtilte4</div></div>
      </div>
    </div>
    <div class="digdig-block1-item1">
      <div class="digdig-block5 layout"><div class="digdig-box layout"></div></div>
    </div>
  </div> -->
  <!-- tabs end -->

  <!-- <app-tabs-bar>
    <app-tab></app-tab>
      <app-tab></app-tab>
      <app-tab></app-tab>
      <app-tab></app-tab>
  </app-tabs-bar> -->


    <!-- <div class="digdig-block6 layout">
      <div class="digdig-block7 layout">
        <select class="digdig-text-body1 layout" name="placeholder" id="placeholder">
          <option value="text">text-1</option>
          <option value="text">text-2</option>
          <option value="text">text-3</option>
          <option value="text">text-4</option>
        </select> -->
        <!-- <div class="digdig-text-body1 layout">placeholder</div>
        <div class="digdig-block7-spacer"></div>
        <div class="digdig-block7-item"><div class="digdig-box1 layout"></div></div> -->
      <!-- </div>
    </div>

    <app-diag-widget-bar>
      <app-diag-widget>
        <img class="img" src="assets/images/Group.png">
        <div class="text">Status values 01</div>
      </app-diag-widget>
      <app-diag-widget>
        <img class="img" src="assets/images/Group.png">
        <div class="text">Status values 01</div>
      </app-diag-widget>
      <app-diag-widget>
        <img class="img" src="assets/images/Group.png">
        <div class="text">Status values 01</div>
      </app-diag-widget>
      <app-diag-widget>
        <img class="img" src="assets/images/Group.png">
        <div class="text">Status values 01</div>
      </app-diag-widget>
      <app-diag-widget>
        <img class="img" src="assets/images/Group.png">
        <div class="text">Status values 01</div>
      </app-diag-widget>
      <app-diag-widget>
        <img class="img" src="assets/images/Group.png">
        <div class="text">Status values 01</div>
      </app-diag-widget>
    </app-diag-widget-bar>


    <app-diag-table>
      <div class="text-up">
        {{[
          2,
          &quot;9fba957c-76da-49ff-b981-df7f750034e8&quot;,
          &quot;BootNotification&quot;,
          {
            &quot;chargingStation&quot;: {
              &quot;model&quot;: &quot;Charger001&quot;,
              &quot;vendorName&quot;: &quot;WiTricity&quot;
            },
            &quot;reason&quot;: &quot;PowerUp&quot;
          }
          ]}}
      </div>
      <div class="text-down">
        {{[
          2,
          &quot;9fba957c-76da-49ff-b981-df7f750034e8&quot;,
          &quot;BootNotification&quot;,
          {
            &quot;chargingStation&quot;: {
              &quot;model&quot;: &quot;Charger001&quot;,
              &quot;vendorName&quot;: &quot;WiTricity&quot;
            },
            &quot;reason&quot;: &quot;PowerUp&quot;
          }
          ]}}
      </div>

    </app-diag-table> -->
  <!-- <div class="digdig-block12 layout">
    <div class="digdig-block13 layout">
      <div class="digdig-block13-item">
        <div class="digdig-block14 layout">
          <div class="digdig-block15 layout"><div class="digdig-text-body3 layout">heading671</div></div>
          <div class="digdig-block16 layout"><div class="digdig-text-body4 layout">subheading1</div></div>
        </div>
      </div>
      <div class="digdig-block13-item1">
        <div class="digdig-block17 layout">
          <div class="digdig-block18 layout"><div class="digdig-text-body31 layout">heading671</div></div>
          <div class="digdig-block19 layout"><div class="digdig-text-body41 layout">subheading1</div></div>
        </div>
      </div>
      <div class="digdig-block13-item">
        <div class="digdig-block20 layout">
          <div class="digdig-block15 layout"><div class="digdig-text-body32 layout">heading671</div></div>
          <div class="digdig-block20-item">
            <div class="digdig-block21 layout">
              <div class="digdig-box3 layout"></div>
              <div class="digdig-block21-spacer"></div>
              <div class="digdig-block21-item"><div class="digdig-box3 layout1"></div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="digdig-block22 layout">
      <div class="digdig-text-body42-box layout">
        <pre class="digdig-text-body42">
{{[
  2,
  &quot;9fba957c-76da-49ff-b981-df7f750034e8&quot;,
  &quot;BootNotification&quot;,
  {
    &quot;chargingStation&quot;: {
      &quot;model&quot;: &quot;Charger001&quot;,
      &quot;vendorName&quot;: &quot;WiTricity&quot;
    },
    &quot;reason&quot;: &quot;PowerUp&quot;
  }
]}}</pre
        >
      </div>
      <hr class="digdig-line layout" />
      <div class="digdig-text-body43-box layout">
        <pre class="digdig-text-body43">
{{[
  3,
  &quot;9fba957c-76da-49ff-b981-df7f750034e8&quot;,
  {
    &quot;currentTime&quot;: &quot;2021-05-17T10:37:48Z&quot;,
    &quot;interval&quot;: 900,
    &quot;status&quot;: &quot;Accepted&quot;
  }
]}}</pre
        >
      </div>
    </div>
  </div> -->
<!-- </div> -->
