<div class="barbar-block10 layout">
  <div class="barbar-flex layout">
    <div class="barbar-block11 layout">
      <h1 class="barbar-subtitle layout">{{ vehicleFormTitle }}</h1>
    </div>
    <form [formGroup]="vehicleFormGroup">
      <div class="barbar-block12 layout">
        <div class="barbar-block13 layout">
          <div class="barbar-block13-item mbottom">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                VIN
                <span style="color: 'red';">*</span>
              </h5>
              <div
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    vehicleFormGroup.get('vin')?.errors && submitted == true
                }"
              >
                <input
                  formControlName="vin"
                  type="text"
                  class="barbar-input-text"
                />
              </div>
              <span
                *ngIf="
                  !vehicleFormGroup.get('vin')?.valid &&
                  vehicleFormGroup.get('vin')?.touched &&
                  vehicleFormGroup.get('vin')?.value.length > 0
                "
                class="error-mess"
              >
                VIN must be in between 1 to 20 characters and Alphanumeric
              </span>
              <span
                *ngIf="
                  (vehicleFormGroup.get('vin')?.touched || submitted) &&
                  vehicleFormGroup.get('vin')?.value.length == 0
                "
                class="error-mess"
              >
                VIN Is Required
              </span>
            </div>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Model Year
                <span style="color: 'red';">*</span>
              </h5>
              <mat-form-field
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    vehicleFormGroup.get('modelyear')?.errors &&
                    submitted == true
                }"
              >
                <mat-label>Select</mat-label>
                <mat-select formControlName="modelyear">
                  <mat-option *ngFor="let data of modelYearlist" [value]="data">
                    {{ data }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <!-- <span *ngIf="!vehicleFormGroup.get('modelyear')?.valid && vehicleFormGroup.get('modelyear')?.touched && addVehicleForm.get('modelyear')?.value.length > 20" class="error-mess">VIN Must Be Between 1 To 20 Characters And Number Only</span> -->
              <span
                *ngIf="
                  !vehicleFormGroup.get('modelyear')?.valid &&
                  (vehicleFormGroup.get('modelyear')?.touched || submitted) &&
                  vehicleFormGroup.get('modelyear')?.value.length == 0
                "
                class="error-mess"
              >
                Model Year Is Required
              </span>
            </div>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Make
                <span style="color: 'red';">*</span>
              </h5>
              <div
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    vehicleFormGroup.get('makeName')?.errors &&
                    submitted == true
                }"
              >
                <input
                  formControlName="makeName"
                  (keypress)="omit_special_char($event)"
                  type="text"
                  class="barbar-input-text"
                />
              </div>

              <span
                *ngIf="
                  !vehicleFormGroup.get('makeName')?.valid &&
                  (vehicleFormGroup.get('makeName')?.touched || submitted) &&
                  vehicleFormGroup.get('makeName')?.value.length == 0
                "
                class="error-mess"
              >
                Make Is Required
              </span>
              <span
                *ngIf="
                  vehicleFormGroup.get('makeName')?.touched &&
                  vehicleFormGroup.get('makeName')?.value.length > 40
                "
                class="error-mess"
              >
                Make Must Be less than 40 Alphanumeric Character
              </span>
            </div>
          </div>

          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Model
                <span style="color: 'red';">*</span>
              </h5>
              <div
                class="barbar-box6 layout"
                [ngClass]="{
                  'is-invalid':
                    vehicleFormGroup.get('modelName')?.errors &&
                    submitted == true
                }"
              >
                <input
                  formControlName="modelName"
                  (keypress)="omit_special_char($event)"
                  type="text"
                  class="barbar-input-text"
                />
              </div>

              <span
                *ngIf="
                  !vehicleFormGroup.get('modelName')?.valid &&
                  (vehicleFormGroup.get('modelName')?.touched || submitted) &&
                  vehicleFormGroup.get('modelName')?.value.length == 0
                "
                class="error-mess"
              >
                Model Is Required
              </span>
              <span
                *ngIf="
                  vehicleFormGroup.get('modelName')?.touched &&
                  vehicleFormGroup.get('modelName')?.value.length > 40
                "
                class="error-mess"
              >
                Model Must Be less than 40 Alphanumeric Character
              </span>
            </div>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item mbottom">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                License Plate
              </h5>
              <div class="barbar-box6 layout">
                <input
                  formControlName="licencePlate"
                  type="text"
                  maxlength="20"
                  class="barbar-input-text"
                />
              </div>
            </div>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item mbottom">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Equipment ID/ Unit Number
                <span style="color: 'red';">*</span>
              </h5>
              <div class="barbar-box6 layout"
              [ngClass]="{
                'is-invalid':
                  vehicleFormGroup.get('unitNumber')?.errors &&
                  submitted == true
              }"
              >
                <input
                  formControlName="unitNumber"
                  type="text"
                  maxlength="20"
                  class="barbar-input-text"
                />
              </div>
              <span
                *ngIf="
                  !vehicleFormGroup.get('unitNumber')?.valid &&
                  vehicleFormGroup.get('unitNumber')?.touched &&
                  vehicleFormGroup.get('unitNumber')?.value.length > 0
                "
                class="error-mess"
              >
              Equipment ID/ Unit Number must be in between 1 to 20 characters
              </span>
              <span
                *ngIf="
                  (vehicleFormGroup.get('unitNumber')?.touched || submitted) &&
                  vehicleFormGroup.get('unitNumber')?.value.length == 0
                "
                class="error-mess"
              >
              Equipment ID/ Unit Number Is Required
              </span>
            </div>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Department
              </h5>
              <div class="barbar-box6 layout">
                <input
                  formControlName="department"
                  type="text"
                  maxlength="255"
                  class="barbar-input-text"
                />
              </div>
            </div>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Domicile Location
              </h5>
              <div class="barbar-box6 layout">
                <input
                  formControlName="domicileLocation"
                  type="text"
                  maxlength="25"
                  class="barbar-input-text"
                />
              </div>
            </div>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item">
            <div class="barbar-block14 layout">
              <h5 class="barbar-highlights layout">
                Vehicle Mac Address
              </h5>
              <div class="barbar-box6 layout">
                <input
                  formControlName="vehicleMacAddress"
                  type="text"
                  maxlength="25"
                  class="barbar-input-text"
                />
              </div>
            </div>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="rfid-form">
            <div class="barbar-block13-item add-rfid">
              <div class="barbar-block14 layout">
                <h5 class="barbar-highlights layout subtitle">
                  RFID Card Assigned
                  <span style="color: 'red';">*</span>
                </h5>

                <button
                  class="add-rfid-btn"
                  type="button"
                  *ngIf="isRFIDAddBtn"
                  (click)="addRFIDCardAssigned()"
                >
                  Add New RFID
                </button>
                <div
                  [ngClass]="viewMode ? 'disable' : ''"
                  formArrayName="rfidCardAssigned"
                  *ngFor="let rfid of getRfidCardFormControls(); let i = index"
                >
                  <div [formGroupName]="i">
                    <div>
                      <input
                        type="text"
                        class="barbar-box6 layout barbar-input-text"
                        [ngClass]="{
                          'is-invalid':
                            rfid.get('name')?.errors && submitted == true
                        }"
                        formControlName="name"
                      />
                    </div>
                    <span
                      *ngIf="
                        !rfid.get('name')?.valid &&
                        (rfid.get('name')?.touched || submitted) &&
                        rfid.get('name')?.value.length == 0
                      "
                      class="error-mess"
                    >
                      RFID Name Is Required
                    </span>
                    <br />
                    <h5 class="barbar-highlights layout">
                      Active
                    </h5>
                    <mat-checkbox
                      class="example-margin"
                      formControlName="isActive"
                    ></mat-checkbox>
                    <!-- Remove Rfid -->
                    <!-- <button type="button" (click)="removeRFIDCardAssigned(i)">
                    Remove RFID
                  </button> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item"></div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item"></div>
          <div class="barbar-block13-spacer"></div>
          <div class="barbar-block13-item"></div>
        </div>
      </div>

      <div class="barbar-flex1 layout">
        <div class="barbar-flex1-item">
          <div class="barbar-block17 layout">
            <div
              class="barbar-text-body2 layout"
              [routerLink]="['../../vehicles']"
            >
              CANCEL
            </div>
          </div>
        </div>
        <div class="barbar-flex1-spacer"></div>
        <div class="barbar-flex1-item">
          <div class="barbar-block16 layout">
            <div
              class="barbar-text-body1 layout"
              *ngIf="isSaveBtn"
              (click)="addVehicle()"
            >
              SAVE
            </div>
            <div
              class="barbar-text-body1 layout"
              *ngIf="isUpdateBtn"
              (click)="UpdateVehicle()"
            >
              UPDATE
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
