<div class="barbar-block10 layout">
    <div class="barbar-flex layout">
      <div class="barbar-block11 layout">
        <h3 class="barbar-subtitle layout">{{addvihicleTitle}}</h3>
      </div>
      <form [formGroup]="addvehicleform">
        <div class="barbar-block12 layout">
          <div class="barbar-block13 layout">
            <div class="barbar-block13-item mbottom">
              <div class="barbar-block14 layout">
                <h5 class="barbar-highlights layout">VIN</h5>
                <div class="barbar-box6 layout">
                  <input
                    formControlName="usernameid"
                    type="text"
                    class="barbar-input-text"
                  />
                </div>
              </div>
            </div>
            <div class="barbar-block13-spacer"></div>
            <div class="barbar-block13-item">
              <div class="barbar-block14 layout">
                <h5 class="barbar-highlights layout">Model Year</h5>
                <mat-form-field class="barbar-box6 layout">
                    <mat-label>Select</mat-label>
                    <mat-select formControlName="modelyearid">
                      <mat-option>
                      2020
                      </mat-option>
                      <mat-option>
                        2021
                      </mat-option>
                      <mat-option>
                       2022
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
            </div>
  
            <div class="barbar-block13-spacer"></div>
            <div class="barbar-block13-item">
              <div class="barbar-block14 layout">
                <h5 class="barbar-highlights layout">Make</h5>
                <mat-form-field class="barbar-box6 layout">
                  <mat-label>Select</mat-label>
                  <mat-select formControlName="makeid">
                    <mat-option>
                      TESLA
                    </mat-option>
                    <mat-option>
                      BMW
                    </mat-option>
                    <mat-option>
                      TATA
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
  
            <div class="barbar-block13-spacer"></div>
            <div class="barbar-block13-item">
              <div class="barbar-block14 layout">
                <h5 class="barbar-highlights layout">Model</h5>
                <div class="barbar-box6 layout">
                  <input
                    formControlName="modelid"
                    type="text"
                    class="barbar-input-text"
                  />
                </div>
              </div>
            </div>
            <div class="barbar-block13-spacer"></div>
            <div class="barbar-block13-item mbottom">
              <div class="barbar-block14 layout">
                <h5 class="barbar-highlights layout">Licence Plate</h5>
                <div class="barbar-box6 layout">
                    <input
                      formControlName="licenceplate"
                      type="text"
                      class="barbar-input-text"
                    />
                  </div>
              </div>
            </div>
            <div class="barbar-block13-spacer"></div>
            <div class="barbar-block13-item">
              <div class="barbar-block14 layout">
                <h5 class="barbar-highlights layout">Department</h5>
                <div class="barbar-box6 layout">
                    <input
                      formControlName="department"
                      type="text"
                      class="barbar-input-text"
                    />
                  </div>
              </div>
            </div>
            <div class="barbar-block13-spacer"></div>
            <div class="barbar-block13-item">
              <div class="barbar-block14 layout">
                <h5 class="barbar-highlights layout">Domicile Location</h5>
                <div class="barbar-box6 layout">
                    <input
                      formControlName="domicilelocation"
                      type="text"
                      class="barbar-input-text"
                    />
                  </div>
              </div>
            </div>
            <div class="barbar-block13-spacer"></div>
            <div class="barbar-block13-item">
              <div class="barbar-block14 layout">
                <h5 class="barbar-highlights layout">Vehicle Mac Address</h5>
                <div class="barbar-box6 layout">
                    <input
                      formControlName="VehicleMacAddress"
                      type="text"
                      class="barbar-input-text"
                    />
                  </div>
              </div>
            </div>
            <div class="barbar-block13-spacer"></div>
            <div class="barbar-block13-item">
              <div class="barbar-block14 layout">
                <h5 class="barbar-highlights layout">RFID Card Assigned</h5>
                <mat-form-field class="barbar-box6 layout">
                  <mat-label >Select</mat-label>
                  <mat-select formControlName="rfidcardassigned">
                    <mat-option>
                     Make
                    </mat-option>
                    <mat-option>
                      Model
                    </mat-option>
                    <mat-option>
                      RFID Card Assigned
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="barbar-block13-spacer"></div>
            <div class="barbar-block13-item"></div>
            <div class="barbar-block13-spacer"></div>
            <div class="barbar-block13-item"></div>
            <div class="barbar-block13-spacer"></div>
            <div class="barbar-block13-item"></div>
          </div>
        </div>

  
        <div class="barbar-flex1 layout">
          <div class="barbar-flex1-item">
            <div class="barbar-block17 layout">
              <div class="barbar-text-body2 layout" [routerLink]="['../../vehicles']">CANCEL</div>
            </div>
          </div>
          <div class="barbar-flex1-spacer"></div>
          <div class="barbar-flex1-item">
            <div class="barbar-block16 layout">
              <div class="barbar-text-body1 layout" (click)="alertWithSuccess()" *ngIf="isSaveBtn">
                SAVE
              </div>
            </div>
          </div>
        </div>
        
      </form>
    </div>
  </div>
  