.pagination-container {
  display: flex;
  justify-content: flex-end;   
  align-items: center;
  gap: 25px;                  
  margin-top: 20px;
  width: 100%;
}

.rows-selector {
  display: flex;
  align-items: center;
  gap: 8px;
}

.rows-dropdown {
  padding: 4px 8px;
}

.custom-pagination {
  display: flex;
  align-items: center;
  gap: 10px;
}

.page-input {
  width: 60px;
  height: 36px;
  text-align: center;
}

